   .rating-bar {
          height: 5px;
          background-color: #e0e0e0;
          /* Couleur de fond grise */
          border-radius: 5px;
          /* Arrondi */
   }

   .rating-fill {
          height: 100%;
          background-color: #17a2b8;
          /* Couleur de la barre remplie (teinte info) */
          border-radius: 5px;
          /* Arrondi */
          width: 0;
          /* Largeur initiale */
          transition: width 0.3s;
          /* Animation pour le chargement */
   }


   .row-role::-webkit-scrollbar {
          display: none;
   }


   .row-role {
          scrollbar-width: none;
   }


   .card-list-user {
          /* background-color: red !important; */
   }

   /* style="width: 80%;" : Définissez la largeur de la barre remplie en fonction de la note. Par exemple,
 pour une note de 4 sur 5, vous pouvez définir la largeur à 80% (4/5 * 100). */



   .dropdown-toggle::after {

          margin-left: 1.255em;
   }

   th {
          width: 20% !important;
   }

   .table>tbody>tr>td {
          font-size: 13px;
   }

   table.table td, table.table th {
          border: none;
   }

   .table-responsive {
          /* border: 1px solid #00000017; */
          /* border-radius: 21px;
          padding-top: 20px; */
   }


   .btn:hover {
          background-color: hsl(120 40% 40% / 1);
          color: white;
   }


   .custom-modal .modal-content {

          border-radius: 30px;

   }


   .custom-modal .modal-body {

          padding: 10px 30px !important;

   }


   .custom-modal .modal-footer {

          padding-bottom: 0.75rem !important;

   }

   .modal .card {

          margin-bottom: 10px !important;

   }


   .form-check-input[type=checkbox] {

          width: 1.1rem;
          height: 1.1rem;
          border: 1.5px solid;

   }



   .card-table .card-body .table td {

          height: 100%;
   }


   .tdHover {
          width: max-content;
          height: max-content;
          background-color: #ffffff;
   }

   .tr {
          /* width: 32% !important; */
   }



   .tr:hover {
          /* width: 100% !important; */
   }


   .ctnRole:hover .tr {

          /* width: 50% !important; */
   }

   /* .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 5px;
}

.modal-content {
  padding: 14px;
  background-color: #fff;
  border-radius: 5px;
}

.modal-header {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
}

.modal-body {
  padding: 10px 0;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.table th {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.modal-footer {
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #ccc;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
} */