<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="'/index'">{{'dashboard' | translate}} </a></li>
              <li class="breadcrumb-item active">Arcarde</li>
            </ul>
          </div>
          <div class="col-auto">
            <!-- <a [routerLink]="'/customers/add-customer'" class="btn btn-primary me-2"
              style="color: #035858 !important; background-color: #ffff !important;">
              <i class="fas fa-plus"></i>
            </a> -->
            <a class="btn btn-primary me-2"
              style="color: #035858 !important; background-color: #ffff !important;" data-toggle="tooltip" data-placement="top" title="subscribe to an arcade" (click)="goToAcradeSuscription()">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </a>
            <a class="btn btn-primary me-2" [routerLink]="'/arcarde/create'"
            style="color: #035858 !important; background-color: #ffff !important;" data-toggle="tooltip" data-placement="top" title="Create new Arcarde" >
            <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
            
            <a class="btn btn-primary me-2"
              style="color: #035858 !important; background-color: #ffff !important;" data-toggle="tooltip" data-placement="top" title="refresh the list" (click)="refresh()">
              <i class="fas fa-refresh"></i>
            </a>
           
          </div>
        </div>
      </div>
  

      <div class="row" *ngIf="arcadeServ.waitingResponse">
        <div class="col-sm-12">
          <app-progress-indeterminate></app-progress-indeterminate>
        </div>
      </div>
      
  
      <div class="row" *ngIf="!arcadeServ.waitingResponse">
        <div class="col-sm-12">
          <div class="card card-table">
            <div class="card-header">
              <h4 class="card-title">{{ 'listArcade' | translate }}</h4>
              <p class="card-text">
                {{ 'apercuArcarde' | translate }}.  
              </p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table datatable class="table table-stripped table-hover">
                  <thead class="thead-light">
                    <tr>
                      <th>{{'competitionName' | translate }}s</th>
                      <th>{{'Description' | translate }}</th>
                      
                      <th>{{'online' | translate }}</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>

                  <tbody>
                      <div class="text-center">
                          <span *ngIf="arcadeServ.waitingResponse">
                            <img src="../../../../../assets/img/loader.gif" alt="" width="30px">
                          </span>
                      </div>

                      <tr *ngFor="let arcarde of arcadeServ.listArcardeUser"  (click)="arcardeData = arcarde" >
                          <td>
                                <span> {{ arcarde.name }} </span>
                          </td>
                          <td>
                                <span> {{ arcarde.description }} </span>
                          </td>

                          
                          <td>
                                <span [ngClass]="arcarde.isOnlineGame ? 'badge badge-pill bg-success-light' : 'badge badge-pill bg-warning-light' "> 
                                    {{ arcarde.isOnlineGame }}  
                                </span>
                          </td>
                          <td class="text-center">
                              <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a class="dropdown-item" 
                                  style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="list of suscriber for this arcarde" (click)="goToListUser(arcarde._id)">
                                   <i class="fa fa-users" aria-hidden="true"></i>
                                   <span style="margin-left: 5px;"> {{ 'listsubscribers' | translate }}</span> 
                                 </a>
   
                                 <a class="dropdown-item" 
                                   style="cursor: pointer;"  data-bs-toggle="modal" data-bs-target="#details">
                                   <i class="fa fa-eye"></i>
                                    <span style="margin-left: 5px;"> {{ 'showmore' | translate }} </span>
                                 </a>

                                 <a class="dropdown-item" 
                                   style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#delete">
                                   <i class="fa fa-trash" aria-hidden="true" ></i>
                                  <span style="margin-left: 5px;">  {{'delete' | translate}}  </span>
                                 </a>

                                 <div *ngIf="arcarde.gameState === gameState.RUNNING then process_running_gameStarted else process_running_down">   
                                 </div>
                                
                                 <ng-template #process_running_gameStarted>
                                    <span style="color: greenyellow;" class="text-center">
                                          {{'startding' | translate }} Arcarde...
                                    </span>
                                 </ng-template>

                                 <ng-template #process_running_down>
                                    <a class="dropdown-item" 
                                      *ngIf="(userID === arcarde.owner && arcarde.gameState !== gameState.WAITING_PLAYER)"
                                      (click)="startArcarde(arcarde._id)"  
                                      style="cursor: pointer;" >
                                      
                                        <i class="fa fa-play" aria-hidden="true"></i>
                                        <span style="margin-left: 5px;"> {{ 'start' | translate}} Arcarde </span>
                                    </a>
                                 </ng-template>

                                </div>
                            </div>

                          </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal custom-modal fade" id="details" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ arcardeData.name }} </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-icon text-center mb-3">
          </div>
          <div class="text-center">
          </div>

              <ul class="nav nav-tabs nav-tabs-bottom nav-justified" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-Date" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                       Date
                    </a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-PlayersNumber" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                      {{'maxPlayers' | translate}} 
                    </a>
                  </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-Date" role="tabpanel" aria-labelledby="pills-home-tab">
                     <form>
                       
                      <div class="row form-group">
                              <label for="startDate" class="col-sm-3 col-form-label input-label">
                                  {{'start' | translate}} 
                              </label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" value="{{arcardeData.startDate | formatDate}}" name="startDate" id="startDate" disabled>
                              </div>
                        </div>
                          <div class="row form-group">
                            <label for="endDate" class="col-sm-3 col-form-label input-label">
                              {{ 'end' | translate }}
                            </label>

                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="{{arcardeData.endDate | formatDate}}" name="endDate" id="endDate" disabled>
                            </div>

                          </div>
                        </form>
                       </div>

                    <div class="tab-pane fade" id="pills-PlayersNumber" role="tabpanel" aria-labelledby="pills-profile-tab">
                      <form>
                            
                        <div class="row form-group" style="position: relative; top: 0px !important;">
                                <label for="maxPlayersNumber" class="col-sm-3 col-form-label input-label">
                                    {{'maxPlayers' | translate}}
                                </label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" [value]="arcardeData.maxPlayersNumber" id="maxPlayersNumber" name="maxPlayersNumber" disabled>
                                </div>
                            </div>
                      </form>

                    </div>            
               </div>

        <div class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn2">
            {{'close' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


  

  <!-- delete arcarde modal -->
  <div class="modal custom-modal fade" id="delete" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> {{ 'delete' | translate }} Arcarde </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-icon text-center mb-3">
          </div>
          <div class="modal-text text-center">
             <p> Fonctionnalité non pris en charge ! </p>

           <!--<p>{{'wanTo' | translate }} vous supprimer l'arcarde :  << <b>{{ arcardeData.name }}</b> >> ? </p>--> 
          </div>
        </div>

        <div class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn2">
            {{ 'close' | translate }}
          </button>
         <!-- <button type="button" class="btn btn-danger"  (click)="doDelete()" >
            <span *ngIf="!arcadeServ.waitingResponse">Supprimer <i class="fa fa-trash" aria-hidden="true"></i> </span>
            <span *ngIf="arcadeServ.waitingResponse"><img src="../../../../../assets/img/loader.gif"  alt="" width="30px"></span>
          </button>-->
        </div>
      </div>
    </div>
  </div>


  <div class="modal custom-modal fade" id="unsuscribe_arcarde" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">  Desinscription Competition </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-icon text-center mb-3">
          </div>
          <div class="modal-text text-center">
            <p>{{'wanTo' | translate }} vous desinscrire de la <b>{{ arcardeData.name }} </b>? </p>
          </div>
        </div>

        <div class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn2" (click)="arcadeServ.unsuscriptionDone = false">
            {{'close' | translate }}
          </button>
          <button type="button" class="btn btn-danger" *ngIf="!arcadeServ.unsuscriptionDone" (click)="doUnsuscription()" >
            <span *ngIf="!arcadeServ.waitingResponse">Desinscrire </span>
            <span *ngIf="arcadeServ.waitingResponse"><img src="../../../../../assets/img/loader.gif"  alt="" width="30px"></span>
          </button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal custom-modal fade" id="suscribe_arcarde" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> Inscription Arcade</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-icon text-center mb-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
          <div class="modal-text">
            <h2 class="text-center"></h2>

            <div class="row">
              <form [formGroup]="arcadeServ.formControlSuscription">
                <div class="form-group">
                  <label for="playerID">Utilisateur</label>
                  <select class="form-control" formControlName="playerID" 
                    id="playerID" [ngClass]="{
                      'is-invalid': arcadeServ.f['playerID'].touched && arcadeServ.f['playerID'].invalid
                    }">
                    <option value="">--choisir un utilisateur--</option>
                    <option value="" *ngIf="userServ.listUsers.length == 0"> 
                      <span class="text-center"><img src="../../../../assets/img/loader.gif"  alt="" width="30px"></span>
                    </option>
                    <option *ngFor="let user of userServ.listUsers" [value]="user._id"> {{ user.firstName }} {{ user.lastName }} </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="gameID">Arcarde</label>
                  <select name="gameID" id="gameID" formControlName="gameID" class="form-control" [ngClass]="
                      {'is-invalid': arcadeServ.f['gameID'].touched && arcadeServ.f['gameID'].invalid }
                    ">
                    <option value="">--choisir une arcarde--</option>
                    <option *ngFor="let arcarde of arcadeServ.listArcardeUser"  [value]="arcarde._id"> {{ arcarde.name }} </option>
                  </select>
                </div>

                <div class="form-group">
                    <label for="location">Location <img src="../../../../assets/img/loader.gif" *ngIf="arcadeServ.waitingResponse" alt="" class="text-center" width="30px" height="25px"> </label>
                    <select name="location" id="location" formControlName="location" class="form-control"
                      [ngClass]="{'is-invalid': arcadeServ.f['location'].touched && arcadeServ.f['location'].invalid}"
                    >
                      <option value="">--choisir une location--</option>
                      <option *ngFor="let location of arcadeServ.listLocationArcarde"  [value]="location"> {{ location }} </option>
                    </select>
                </div>
              </form>
            </div>

          </div>
        </div>

        <div class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn2" (click)="resetFormSuscribtion()">
            {{'close' | translate }}
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!arcadeServ.formControlSuscription.valid" *ngIf="!arcadeServ.suscriptionDone" (click)="doSuscription()" >
            <span *ngIf="!arcadeServ.waitingResponseSuscrib">Inscrire <i class="fa fa-plus" aria-hidden="true"></i> </span>
            <span *ngIf="arcadeServ.waitingResponseSuscrib"><img src="../../../../assets/img/loader.gif"  alt="" width="30px"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

 