<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">{{'arcade.arcades' | translate }}</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/index'">{{'dashboard' | translate}} </a></li>
            <li class="breadcrumb-item active">{{'arcade.arcade' | translate }}</li>
          </ul>
        </div>
        <div class="col-auto">
          <a class="btn btn-primary me-2" [routerLink]="'/arcarde/create'"
            style="color: #035858 !important; background-color: #ffff !important;" data-toggle="tooltip"
            data-placement="top" title="Create new Arcarde">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>


    <div class="row" *ngIf="arcadeServ.waitingResponse">
      <div class="col-sm-12">
        <app-progress-indeterminate></app-progress-indeterminate>
      </div>
    </div>

    <div *ngIf="!loading" class="row">
      <!-- Bloc pour afficher les arcades -->
      <div *ngIf="arcades && arcades.length > 0; else emptyBlock" class="row">
        <div *ngFor="let arcade of arcades" class="col-12 col-md-4 col-lg-3">
          <div class="custom-card">
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between align-items-start">
                <a class="text-decoration-none" [routerLink]="['/arcarde/details', arcade._id]" style="color: inherit">
                  <div class="mb-0">
                    <h5 class="card-title text-primary">{{ arcade.name }}</h5>
                    <p class="card-text">{{ arcade.description | truncate:200 }}</p>
                  </div>
                </a>
                <div class="dropdown">
                  <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                      <a class="dropdown-item" [routerLink]="['/arcarde/details', arcade._id]" style="cursor: pointer;">
                        <i class="fa fa-eye"></i>
                        <span style="margin-left: 5px;">{{ 'showmore' | translate }}</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" style="cursor: pointer;"
                        data-bs-toggle="modal" [attr.data-bs-target]="'#delete-'+arcade._id">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span style="margin-left: 5px;">{{ 'delete' | translate }}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-footer bg-transparent border-top-0 text-end">
              <p
                class="btn btn-sm {{ arcade.isOnlineGame ? 'badge badge-pill bg-success-light' : 'badge badge-pill bg-warning-light' }}">
                {{ (arcade.isOnlineGame ? 'arcade.online' : 'arcade.offline') | translate }}
              </p>
            </div>
          </div>
          <app-delete-arcade-modal [arcadeData]="arcade" (deletedFeedback)="deletedFeedback($event)"></app-delete-arcade-modal>
        </div>
      </div>
      <!-- Bloc vide -->
      <ng-template #emptyBlock>
        <div class="col-12 text-center vh-50">
          <p>No arcades available !</p>
        </div>
      </ng-template>
    </div>
    <!-- Bloc de chargement -->
    <div *ngIf="loading" class="row">
      <div *ngFor="let plh of placeholders; let i = index" class="col-12 col-md-4 col-lg-3">
        <app-arcade-list-placeholder></app-arcade-list-placeholder>
      </div>
    </div>
    
  </div>
</div>