.description-container {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 0.3rem;
}

.card { 
    transition: all 0.3s ease; 
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .card:hover { 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  }
  .dropdown-toggle::after { display: none; }
  .card:hover .dropdown { z-index: 1000; }