.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 55;
  }

  .header:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: 0.1;
  }

  @media (max-width: 991.98px) {
    .header {
      position: relative;
      background: #0c3a55;
    }
  }

  .header.header-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 55;
    background: -webkit-linear-gradient(317.37deg, #114065 2.76%, #135766 63.36%);
  }

  .header.header-fixed:after {
    opacity: 0;
  }

  .header .logo a img {
    width: auto;
    max-width: none;
    height: 38px;
  }

  @media (max-width: 1399.98px) {
    .header .logo a img {
      height: 34px;
    }
  }

  @media (max-width: 767.98px) {
    .header .logo a img {
      height: 30px;
    }
  }

  @media (max-width: 575.98px) {
    .header .logo a img {
      height: 28px;
    }
  }

  .header .navbar-toggler {
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 50px;
    height: 50px;
    font-size: 28px;
    margin: 20px 0;
    padding: 0;
  }

  @media (max-width: 767.98px) {
    .header .navbar-toggler {
      width: 45px;
      height: 45px;
      font-size: 24px;
      margin: 15px 0;
    }
  }

  @media (max-width: 575.98px) {
    .header .navbar-toggler {
      height: 40px;
      width: 40px;
      font-size: 20px;
    }
  }

  .header .main-menu .navbar {
    padding: 0;
  }

  .header .main-menu .navbar .navbar-nav .nav-item {
    margin: 0 30px;
    padding: 30px 0 38px;
  }

  @media (max-width: 1399.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item {
      padding: 22px 0 30px;
    }
  }

  .header .main-menu .navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }

  @media (max-width: 991.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item:last-child {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 767.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item:last-child {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 575.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item:last-child {
      margin-bottom: 10px;
    }
  }

  .header .main-menu .navbar .navbar-nav .nav-item:first-child {
    margin-left: 0;
  }

  @media (max-width: 1399.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item {
      margin: 0 25px;
    }
  }

  @media (max-width: 1199.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item {
      margin: 0 20px;
    }
  }

  @media (max-width: 991.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item {
      margin: 0;
      padding: 0;
    }
  }

  .header .main-menu .navbar .navbar-nav .nav-item .nav-link {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
    letter-spacing: 0.6px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    padding: 0 0 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  .header .main-menu .navbar .navbar-nav .nav-item .nav-link:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #116477;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  .header .main-menu .navbar .navbar-nav .nav-item .nav-link.active,
  .header .main-menu .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }

  .header .main-menu .navbar .navbar-nav .nav-item .nav-link.active:before,
  .header .main-menu .navbar .navbar-nav .nav-item .nav-link:hover:before {
    background: #fff;
  }

  @media (max-width: 991.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item .nav-link {
      padding: 11px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .header .main-menu .navbar .navbar-nav .nav-item .nav-link:before {
      display: none;
    }
  }

  @media (max-width: 575.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item .nav-link {
      padding: 8px 0 9px;
    }
  }

  .header .main-menu .navbar .navbar-nav .nav-item:hover .nav-link {
    color: #fff;
  }

  .header .main-menu .navbar .navbar-nav .nav-item:hover .nav-link:before {
    background: #fff;
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-toggle:after {
    margin-left: 0;
    vertical-align: 0;
    content: "\f107";
    border: none;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 14px;
    margin-left: 3px;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .dropdown-toggle:after {
    margin-left: 0;
    vertical-align: 0;
    content: "\f107";
    border: none;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 14px;
    margin-left: 3px;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-toggle:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    top: -1px;
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
    background: -webkit-linear-gradient(317.37deg, #1e697a 2.76%, #18687A 63.36%);
    border: none;
    margin-top: 10px;
    -webkit-box-shadow: 0px 9px 37px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 9px 37px rgba(0, 0, 0, 0.1);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    display: block;
    top: 100%;
    visibility: hidden;
    border-radius: 0;
  }

  @media (max-width: 991.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
      -webkit-transition: max-height 0.4s, opacity 0.1s, visibility 0s, padding 0.2s ease;
      transition: max-height 0.4s, opacity 0.1s, visibility 0s, padding 0.2s ease;
      max-height: 0;
      padding: 0;
      margin-top: 0;
      overflow: hidden;
    }
    .dropdown-menu {
      -webkit-transition: max-height 0.4s, opacity 0.1s, visibility 0s, padding 0.2s ease;
      transition: max-height 0.4s, opacity 0.1s, visibility 0s, padding 0.2s ease;
      max-height: 0;
      padding: 0;
      margin-top: 0;
      overflow: hidden;
    }
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li a.dropdown-item {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
    letter-spacing: 0.6px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    padding: 5px 30px 6px;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  a.dropdown-item {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
    letter-spacing: 0.6px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    padding: 5px 30px 6px;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  @media (max-width: 991.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li a.dropdown-item {
      padding: 5px 20px 6px;
    }
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li a.dropdown-item:after {
    position: absolute;
    content: "";
    left: 20px;
    top: 50%;
    width: 2px;
    height: 10px;
    background: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0.3;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  @media (max-width: 991.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li a.dropdown-item:after {
      left: 10px;
    }
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li a.dropdown-item:hover {
    color: #0D3B54;
    background: #fff;
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li a.dropdown-item:hover:after {
    background: #0D3B54;
    opacity: 1;
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li a.dropdown-item.active {
    background: transparent;
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li a.dropdown-item.active:after {
    opacity: 1;
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li a.dropdown-item.active:hover {
    background: #fff;
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li a.dropdown-item:active,
  .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li a.dropdown-item:focus {
    color: #0D3B54;
    background: #fff;
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li:first-child a.dropdown-item {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  .header .main-menu .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    visibility: visible;
  }

  @media (max-width: 991.98px) {
    .header .main-menu .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
      max-height: 500px;
    }
  }
