<div class="page-wrapper">
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item" style="cursor: pointer;"><a [routerLink]="'/index'">{{ 'dashboard' | translate }} </a></li>
              <li class="breadcrumb-item " style="cursor: pointer;" > <a [routerLink]="'/arcarde/list-arcarde'">Arcarde</a> </li>
              <li class="breadcrumb-item active">Souscrire </li>

            </ul>
          </div>
          <div class="col-auto">
            <!-- <a [routerLink]="'/customers/add-customer'" class="btn btn-primary me-2"
              style="color: #035858 !important; background-color: #ffff !important;">
              <i class="fas fa-plus"></i>
            </a> -->
          
            <a class="btn btn-primary me-2" data-toggle="tooltip" data-placement="top" title="refresh this list of All Arcarde"
              style="color: #035858 !important; background-color: #ffff !important;" (click)="refresh()">
              <i class="fas fa-refresh"></i>
            </a>
           
          </div>
        </div>
      </div>
      
      <p>
    
        <button (click)="backClicked()" class="btn btn-primary me-2"
        style="color: #035858 !important; background-color: #ffff !important;">
        <i class="fas fa-arrow-left"></i> {{ 'back' | translate }}
        </button>
      </p>

      <div class="row" *ngIf="arcadeServ.waitingResponse">
        <div class="col-sm-12">
            <div class="text-center">
                <span *ngIf="arcadeServ.waitingResponse">
                  <img src="../../../../../assets/img/loader.gif" alt="" width="30px">
                </span>
            </div>
        </div>
      </div>
      
  
      <div class="row" *ngIf="!arcadeServ.waitingResponse">
        <div class="col-sm-12">
          <div class="card card-table">
            <div class="card-body">
              <div class="table-responsive">
                <table datatable class="table table-stripped table-hover">
                  <thead class="thead-light">
                    <tr>
                      <th>{{'competitionName' | translate }}s</th>
                      <th>{{'Description' | translate }}</th>
                      
                      <th>{{'online' | translate }}</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>

                  <tbody *ngIf="arcadeServ.listAllArcarde.length != 0" >
                      
                      <tr *ngFor="let arcarde of arcadeServ.listAllArcarde" data-bs-toggle="modal"
                          >
                          <td>
                                <span> {{ arcarde.name }} </span>
                          </td>
                          <td>
                                <span> {{ arcarde.description }} </span>
                          </td>

                          
                          <td>
                                <span [ngClass]="arcarde.isOnlineGame ? 'badge badge-pill bg-success-light' : 'badge badge-pill bg-warning-light' "> 
                                    {{ arcarde.isOnlineGame }}  
                                </span>
                          </td>
                          <td>
                            <div class="col-auto">
                           

                              <a class="badge badge-pill bg-warning-light" (click)="loadLocation(arcarde)"
                                style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#confirm">
                                <i class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Suscribe to this arcarde"></i>
                              </a>

                            </div>

                          </td>
                      </tr>
                  </tbody>
                  <tbody *ngIf=" arcadeServ.listAllArcarde.length == 0 " >
                    <tr>
                        <td></td>
                        <td class="text-center">
                          <img src="../../../../../assets/img/no_result.gif" alt="No result" style="max-width: 200px;">
                          <br>Aucune Arcarde !
                        </td>
                        <td></td>
                      </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal custom-modal fade" id="confirm" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-icon text-center mb-3">
          </div>
          <div class="modal-text text-center">
            <h2> Choisir location </h2>

            <form [formGroup]="arcadeServ.formControlSuscription">
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select name="location" id="location" formControlName="location" class="form-control"
                        [ngClass]="{'is-invalid': arcadeServ.f['location'].touched && arcadeServ.f['location'].invalid}"
                      >
                        <option value="">--choisir une location--</option>
                        <option *ngFor="let location of arcadeServ.listLocationArcarde"  [value]="location"> {{ location }} </option>
                      </select>
                    </div>
            </form>
          </div>
        </div>

        <div class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset()" id="cancel-btn2">
            {{ 'close' | translate }}
          </button>
          <button type="button" class="btn btn-success" *ngIf="!arcadeServ.suscriptionDone"  (click)="doSuscription()" >
            <span *ngIf="!arcadeServ.waitingResponseSuscrib">Souscrire <i class="fa fa-plus" aria-hidden="true"></i> </span>
            <span *ngIf="arcadeServ.waitingResponseSuscrib"><img src="../../../../../assets/img/loader.gif"  alt="" width="30px"></span>
          </button>
        </div>
      </div>
    </div>
  </div>