<div class="modal custom-modal fade" id="subscribe" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header d-flex align-items-center justify-content-between p-0 mb-3">
        <img src="assets/img/logo-white.png" alt="" width="30px">
        <h4 class="card-title text-center">Souscrire a l'arcade</h4>
        <span data-bs-dismiss="modal"><i class="fas fa-times-circle"></i></span>
      </div>
      <div class="align-items-center">
        <form [formGroup]="subscribeForm">
          <div class="form-group">
            <label for="location">Location</label>
            <select name="location" id="location" formControlName="location" class="form-control"
              [ngClass]="{'is-invalid': subscribeForm.controls['location'].touched && subscribeForm.controls['location'].invalid}">
              <option value="">--choisir une location--</option>
              <option *ngFor="let location of locations" [value]="location"> {{ location }}
              </option>
            </select>
            <div *ngIf="
                  (subscribeForm.controls['location'].touched || submitted) &&
                  subscribeForm.controls['location'].invalid
                " class="invalid-feedback">
              <div *ngIf="
                    subscribeForm.controls['location'].errors &&
                    subscribeForm.controls['location'].errors['required']
                  " style="color: red">
                {{ "locationRequired" | translate }}
              </div>
            </div>
          </div>
        </form>
        <div class="text-center">
          <button type="button" class="btn btn-secondary mx-3" data-bs-dismiss="modal" id="cancel-btn00-{{arcadeId}}">
            {{'close' | translate }}
          </button>
          <button *ngIf="!waitingResponse" type="button" class="btn btn-success" (click)="subscribe()">
            <span> Subscribe</span>
          </button>
          <button type="button" class="btn btn-success" *ngIf="waitingResponse" disabled>
            <span><img src="assets/img/loader.gif" alt="" width="30px"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
