<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title"></h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item" style="cursor: pointer">
              <a [routerLink]="'/index'">{{ "Dashboard" | translate }}</a>
            </li>
            <li class="breadcrumb-item" style="cursor: pointer">
              <a [routerLink]="'/arcarde/list-arcarde'">Arcarde</a>
            </li>
            <li class="breadcrumb-item active">{{ "Update" | translate }}</li>
          </ul>
        </div>

        <div class="row">
          <div class="card card-table">
            <div class="card-header text-center">
              <h5>
                {{ "Update Arcarde :" | translate }}
                <strong> {{ arcardeData.name }} </strong>
              </h5>
            </div>
            <div class="card-body">
              <form [formGroup]="arcadeServ.formUpdate">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="name"> {{ "Name" | translate }} </label>
                      <input
                        type="text"
                        name="name"
                        [value]="arcardeData.name"
                        class="form-control"
                        formControlName="name"
                        id="name"
                        [ngClass]="{
                          'is-invalid':
                            arcadeServ.formUpdate['name'].touched &&
                            arcadeServ.formUpdate['name'].invalid
                        }"
                      />
                    </div>

                    <div class="form-group">
                      <label for="desc"> Description </label>
                      <input
                        type="text"
                        name="desc"
                        class="form-control"
                        [value]="arcardeData.description"
                        formControlName="description"
                        id="desc"
                        [ngClass]="{
                          'is-invalid':
                            arcadeServ.formUpdate['description'].touched &&
                            arcadeServ.formUpdate['description'].invalid
                        }"
                      />
                    </div>

                    <div class="form-check form-switch text-center">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        formControlName="canRegisterPlayer"
                        [value]="
                          arcadeServ.formUpdate.get('canRegisterPlayer').value
                        "
                        role="switch"
                        id="flexSwitchCheckChecked"
                      />
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckChecked"
                      >
                        Register players ?
                      </label>
                    </div>

                    <div class="form-check form-switch text-center">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [value]="
                          arcadeServ.formUpdate.get('isFreeRegistrationPlayer')
                            .value
                        "
                        formControlName="isFreeRegistrationPlayer"
                        role="switch"
                        id="flexSwitchCheckChecked"
                      />
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckChecked"
                      >
                        Free player registration ?</label
                      >
                    </div>

                    <div class="form-group">
                      <label for="maxPlayersNumber">
                        Maximum number of players
                      </label>
                      <input
                        type="number"
                        min="0"
                        name="maxPlayersNumber"
                        class="form-control"
                        formControlName="maxPlayersNumber"
                        [value]="arcardeData.maxPlayersNumber"
                        id="maxPlayersNumber"
                        [ngClass]="{
                          'is-invalid':
                            arcadeServ.formUpdate['maxPlayersNumber'].touched &&
                            arcadeServ.formUpdate['maxPlayersNumber'].invalid
                        }"
                      />
                    </div>
                  </div>

                  <div class="col">
                    <div class="form-group">
                      <label for="startRegistrationDate"
                        >Recording start date
                      </label>
                      <input
                        type="datetime-local"
                        name="startRegistrationDate"
                        class="form-control"
                        formControlName="startRegistrationDate"
                        [value]="arcardeData.startRegistrationDate"
                        id="startRegistrationDate"
                        [ngClass]="{
                          'is-invalid':
                            arcadeServ.formUpdate['startRegistrationDate']
                              .touched &&
                            arcadeServ.formUpdate['startRegistrationDate']
                              .invalid
                        }"
                      />
                    </div>

                    <div class="form-group">
                      <label for="endRegistrationDate">
                        Registration end date
                      </label>
                      <input
                        type="datetime-local"
                        name="endRegistrationDate"
                        class="form-control"
                        formControlName="endRegistrationDate"
                        [value]="arcardeData.endRegistrationDate"
                        id="endRegistrationDate"
                        [ngClass]="{
                          'is-invalid':
                            arcadeServ.formUpdate['endRegistrationDate']
                              .touched &&
                            arcadeServ.formUpdate['endRegistrationDate'].invalid
                        }"
                      />
                    </div>

                    <div class="form-group">
                      <label for="startDate"> Start date </label>
                      <input
                        type="datetime-local"
                        name="startDate"
                        class="form-control"
                        formControlName="startDate"
                        value="arcardeData.startDate"
                        id="startDate"
                        [ngClass]="{
                          'is-invalid':
                            arcadeServ.formUpdate['lang'].touched &&
                            arcadeServ.formUpdate['lang'].invalid
                        }"
                      />
                    </div>

                    <div class="form-group">
                      <label for="endDate"> End Date </label>
                      <input
                        type="datetime-local"
                        name="endDate"
                        class="form-control"
                        formControlName="endDate"
                        value="arcardeData.endDate"
                        id="endDate"
                        [ngClass]="{
                          'is-invalid':
                            arcadeServ.formUpdate['endDate'].touched &&
                            arcadeServ.formUpdate['endDate'].invalid
                        }"
                      />
                    </div>

                    <button
                      type="button"
                      style="margin-left: 15px"
                      class="btn btn-success"
                      *ngIf="!arcadeServ.isCreationDone"
                      (click)="doUpdate()"
                    >
                      <span *ngIf="arcadeServ.waitingResponse">
                        <img
                          src="../../../../assets/img/loader.gif"
                          alt=""
                          width="30px"
                        />
                      </span>

                      <span *ngIf="!arcadeServ.waitingResponse"
                        >Sauvegarder
                        <i class="fa fa-plus" aria-hidden="true"></i
                      ></span>
                    </button>

                    <button
                      (click)="backClicked()"
                      class="btn btn-primary me-2"
                      style="
                        color: #035858 !important;
                        background-color: #ffff !important;
                      "
                    >
                      <i class="fas fa-arrow-left"></i> Back
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
