<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title"></h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/index'">Accueil </a></li>
            <li class="breadcrumb-item active">Sous Competitions</li>
          </ul>
        </div>
        <div class="col-auto">
          <!-- <a [routerLink]="'/customers/add-customer'" class="btn btn-primary me-2"
            style="color: #035858 !important; background-color: #ffff !important;">
            <i class="fas fa-plus"></i>
          </a> -->
          <a class="btn btn-primary me-2"
            style="color: #035858 !important; background-color: #ffff !important;" data-bs-toggle="modal" data-bs-target="#createNew">
            <i class="fas fa-plus"></i>
          </a>
          <a class="btn btn-primary me-2"
            style="color: #035858 !important; background-color: #ffff !important;" (click)="refresh()">
            <i class="fas fa-refresh"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!sousCompetion.waitingResponse">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table datatable class="table table-stripped table-hover">
                <thead class="thead-light">
                  <tr>
                    <th>{{'Competition Name' | translate }}</th>
                    <th>{{'Competition Parent Name' | translate }}</th>
                    <th>{{'Description' | translate }}</th>
                    <th>{{'Level Number' | translate }}</th>
                    <th>{{'Localisation' | translate }}</th>
                    <th>{{'Start Date' | translate }}</th>
                    <th>{{'End Date' | translate }}</th>
                    <th>{{'Max Player Life' | translate }}</th>
                    <th> {{ 'Criterias' | translate }} </th>
                    <th>{{'Parts' | translate }}</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                    <div class="text-center">
                        <span *ngIf="arcardeSrv.waitingResponse">
                          <img src="../../../../../assets/img/loader.gif" alt="" width="30px">
                        </span>
                    </div>

                    <tr *ngFor="let sousCompetion of arcardeSrv.listUnderCompetion"
                         (click)="sousCompetitionSelctedData = sousCompetion" >
                        <td>
                              <span> {{ sousCompetion.name }} </span>
                        </td>
                        <td>
                            ..parentName
                        </td>
                        <td>
                              <span> {{ sousCompetion.description }} </span>
                        </td>

                        <td>
                              <span> {{ sousCompetion.level  }} </span>
                        </td>

                        <td>
                              <span> {{ sousCompetion.localisation  }} </span>
                        </td>

                        <td>
                              <span> {{ sousCompetion.startDate  }} </span>
                        </td>
                        
                        <td>
                              <span> {{ sousCompetion.endDate }} </span>
                        </td>
                        <td>
                              <span> 
                                  {{ sousCompetion.maxPlayerLife }}  
                              </span>
                        </td>
                        <td>
                              <span class="badge badge-pill bg-primary-light" (click)="goToCriteriasList(sousCompetion._id)" style="cursor: pointer;">
                                  <i class="fa fa-list" aria-hidden="true"></i>
                              </span>
                        </td>
                        <td> 
                              <span class="badge badge-pill bg-primary-light" (click)="goToPartsList(sousCompetion._id)" style="cursor: pointer;">
                                  <i class="fa fa-list" aria-hidden="true"></i>
                              </span>
                        </td>
                        <td>
                          <div class="col-auto">
                              <span class="badge badge-pill bg-primary-light" 
                               style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#details">
                              <i class="fa fa-eye" aria-hidden="true"></i> </span>

                               <span class="badge badge-pill bg-primary-light" 
                               style="cursor: pointer;" (click)="initUpdatingForm(sousCompetion)">
                               <i class="fa fa-pencil-square" aria-hidden="true"> </i>
                              </span>
                          </div> 
                        </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row" *ngIf="!sousCompetion.waitingResponse">
  <div class="col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="modal custom-modal fade" id="details" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="modal-icon text-center mb-3">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
        <div class="modal-text">
          <h2 class="text-center">Details Competitions {{ sousCompetitionSelctedData.name }} </h2>

          <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                  Presentation <i class="fa fa-address-book" aria-hidden="true"></i>
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                  Description <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
                  Localisation <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#listPartis">
                   Parties <i class="fa fa-gamepad" aria-hidden="true"></i>
                  </button>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  1..
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  .2.
              </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  .3..
              </div>
              <div class="tab-pane fade" id="listPartis" role="tabpanel" aria-labelledby="contact-tab">
                  ..4
              </div>
            </div>

          </div>

        </div>
      </div>
    

      <div class="modal-footer text-center">
          <button data-bs-dismiss="modal">
              {{ 'close' | translate }}
          </button>
      </div>
    </div>
  </div>
</div>

<div class="modal custom-modal fade" id="createNew" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="modal-icon text-center mb-3">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
        <div class="modal-text">
          <h2 class="text-center">Nouvelle Sous Competition</h2>
              <form [formGroup]="formIdArcarde">
                     <div class="form-group">
                      <label for="arceadID"> Arcarde </label>
                      <select type="text" name="arceadID" formControlName="idArcarde" class="form-control" id="arceadID"
                      [ngClass]="{ 'is-invalid': formIdArcarde.controls['idArcarde'].touched && formIdArcarde.controls['idArcarde'].invalid}"
                      >
                      <option value="">--Chosir une arcarde--</option>
                      <option *ngFor="let arcarde of arcardeSrv.listArcardeUser" [value]="arcarde._id"> {{ arcarde.name }} </option>
                    </select>
                  </div>
              </form>
              <form [formGroup]="sousCompetion.form">
                  <div class="form-group">
                      <label for="name"> Nom </label>
                      <input type="text" name="name" class="form-control" formControlName="name" id="name"
                      [ngClass]="{ 'is-invalid': sousCompetion.f['name'].touched && sousCompetion.f['name'].invalid}"
                      >
                  </div>

                  <div class="form-group">
                      <label for="desc"> Description </label>
                      <input type="text" name="desc" class="form-control" formControlName="description" id="desc"
                      [ngClass]="{ 'is-invalid': sousCompetion.f['description'].touched && sousCompetion.f['description'].invalid}"
                      >
                  </div>

                  <div class="form-group">
                      <label for="level"> Niveau </label>
                      <input type="number" name="level" class="form-control" formControlName="level" id="level"
                      [ngClass]="{ 'is-invalid': sousCompetion.f['level'].touched && sousCompetion.f['level'].invalid}"
                      >
                  </div>

                  <div class="form-check form-switch text-center">
                      <input class="form-check-input" type="checkbox" formControlName="isSinglePart" role="switch" id="flexSwitchCheckChecked">
                      <label class="form-check-label" for="flexSwitchCheckChecked">Partie Unique ?</label>
                  </div>

                  <div class="form-check form-switch text-center">
                      <input class="form-check-input" type="checkbox" formControlName="canRegisterPlayer" (click)="sousCompetion.f['canRegisterPlayer'].setValue(sousCompetion.form.get('canRegisterPlayer')?.value ? false:true);" role="switch" id="flexSwitchCheckChecked">
                      <label class="form-check-label" for="flexSwitchCheckChecked">can Register Player ?</label>
                  </div>

                  <div class="form-group">
                      <label for="localisation"> Localisation </label>
                      <input type="text" name="localisation" class="form-control" formControlName="localisation" id="localisation"
                      [ngClass]="{ 'is-invalid': sousCompetion.f['localisation'].touched && sousCompetion.f['localisation'].invalid}"
                      >
                  </div>

                  <div class="form-group">
                      <label for="maxPlayerLife"> max Player Life </label>
                      <input type="number" name="maxPlayerLife" class="form-control" formControlName="maxPlayerLife" id="maxPlayerLife"
                      [ngClass]="{ 'is-invalid': sousCompetion.f['maxPlayerLife'].touched && sousCompetion.f['maxPlayerLife'].invalid}"
                      >
                  </div>

                  <div class="form-group">
                      <label for="maxTimeToPlay"> max Time To Play </label>
                      <input type="number" name="maxTimeToPlay" class="form-control" formControlName="maxTimeToPlay" id="maxTimeToPlay"
                      [ngClass]="{ 'is-invalid': sousCompetion.f['maxTimeToPlay'].touched && sousCompetion.f['maxTimeToPlay'].invalid}"
                      >
                  </div>

                  <div class="form-group">
                      <label for="startDate"> start Date </label>
                      <input type="date" name="startDate" class="form-control" formControlName="startDate" id="startDate"
                      [ngClass]="{ 'is-invalid': sousCompetion.f['startDate'].touched && sousCompetion.f['startDate'].invalid}"
                      >
                  </div>

                  <div class="form-group">
                      <label for="endDate"> End Date </label>
                      <input type="date" name="endDate" class="form-control" formControlName="endDate" id="endDate"
                      [ngClass]="{ 'is-invalid': sousCompetion.f['endDate'].touched && sousCompetion.f['endDate'].invalid}"
                      >
                  </div>

                  <div class="form-group">
                      <label for="maxOfWinners">Max of Winners </label>
                      <input type="number" name="maxOfWinners" class="form-control" formControlName="maxOfWinners" id="maxOfWinners"
                      [ngClass]="{ 'is-invalid': sousCompetion.f['maxOfWinners'].touched && sousCompetion.f['maxOfWinners'].invalid}"
                      >
                  </div>

                  <div class="form-group">
                      <label for="lang">Lang </label>
                      <select type="num" name="lang" class="form-control" formControlName="lang" id="lang"
                      [ngClass]="{ 'is-invalid': sousCompetion.f['lang'].touched && sousCompetion.f['lang'].invalid}"
                      >
                          <option value="">--choisir une langue--</option>
                          <option value="fr">Français</option>
                          <option value="en">Anglais</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="parentCompetition">Parent Competition*</label>
                      <select type="text" name="parentCompetition" class="form-control" formControlName="parentCompetition" id="parentCompetition"
                      [ngClass]="{ 'is-invalid': sousCompetion.f['parentCompetition'].touched && sousCompetion.f['parentCompetition'].invalid}"
                      >
                        <option value="">--choisir une competition parent--</option>
                        <option *ngFor="let location of sousCompetion.listCompetionParent"  [value]="location._id"> {{ location.name }} </option>
                      </select>
                  </div>

              </form>

        </div>
      </div>

      <div class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn2" (click)="resetFormCreation()">
              {{'close' | translate }}
            </button>
            <button type="button" class="btn btn-success" [disabled]="!sousCompetion.form.valid" *ngIf="!sousCompetion.creationDone"  (click)="doCreationCompetion()">
              <span *ngIf="sousCompetion.waitingResponse" > <img src="../../../../assets/img/loader.gif" alt="" width="30px"> </span>
                  
              <span *ngIf="!sousCompetion.waitingResponse" >Terminé  <i class="fa fa-plus" aria-hidden="true"></i></span>
            </button>
      </div>
    </div>
  </div>
</div>

