<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title"></h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item" style="cursor:pointer"><a [routerLink]="'/index'">Accueil </a></li>
            <li class="breadcrumb-item active">Competitions</li>
          </ul>
        </div>
        <div class="col-auto">
          <!-- <a [routerLink]="'/customers/add-customer'" class="btn btn-primary me-2"
            style="color: #035858 !important; background-color: #ffff !important;">
            <i class="fas fa-plus"></i>
          </a> -->
          <a class="btn btn-primary me-2" [routerLink]="'/undercompetition/competition/create'"
            style="color: #035858 !important; background-color: #ffff !important;" data-toggle="tooltip" data-placement="top" title="Create new competition">
            <i class="fas fa-plus"  ></i>
          </a>
          <a class="btn btn-primary me-2"
            style="color: #035858 !important; background-color: #ffff !important;" (click)="refresh()">
            <i class="fas fa-refresh"  data-toggle="tooltip" data-placement="top" title="refresh this list"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="text-center">
      <span *ngIf="arcardeSrv.waitingResponse">
        <img src="../../../../../assets/img/loader.gif" alt="" width="30px">
      </span>
    </div>

    <div class="row" *ngIf="!arcardeSrv.waitingResponse">
        <div class="card card-table">
          <div class="card-header">
            <h4 class="card-title">Competition List</h4>
            <p class="card-text">
                List of all existings competition.
            </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable class="table table-stripped table-hover">
                <thead class="thead-light">
                  <tr>
                    <th>{{'Competition Name' | translate }}</th>
                    <th>{{'Competition Parent Name' | translate }}</th>
                    <th>{{'Description' | translate }}</th>
                  
                    <th class="text-center">Action</th>
                  </tr>
                </thead>

                <tbody>
                  
                    <tr *ngFor="let sousCompetion of arcardeSrv.listUnderCompetion"
                         (click)="sousCompetitionSelctedData = sousCompetion" >
                        <td>
                              <span> {{ sousCompetion.name }} </span>
                        </td>
                        <td>
                            {{ sousCompetion.parentCompetition | getParentName }}
                        </td>
                        <td>
                              <span> {{ sousCompetion.description }} </span>
                        </td>

                        <td class="text-center">
                
                          <div class="dropdown dropdown-action">
                            <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;">
                              <a class="dropdown-item"  (click)="initUpdatingForm(sousCompetion)"><i class="far fa-edit me-2"></i>Edit</a>
                              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete" ><i class="far fa-trash-alt me-2"></i>
                                 <span style="margin-left: 5px;">Delete</span>
                              </a>
                              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#details"><i class="far fa-eye me-2"></i>
                                 <span style="margin-left: 5px;">Show more</span>
                              </a>
                              <a class="dropdown-item" (click)="goToPartsList(sousCompetion._id)" ><i class="fa fa-list" ></i>
                                
                                <span style="margin-left: 5px;"> List of parts  </span>
                              </a>
                              <a class="dropdown-item" (click)="goToCriteriasList(sousCompetion._id)"><i class="fa fa-list"></i>
                                 <span style="margin-left: 5px;">List of Criterias</span>
                              </a>
                            </div>
                          </div>
                        </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row" *ngIf="!sousCompetion.waitingResponse">
  <div class="col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="modal custom-modal fade" id="delete" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Supprimer Competition </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-icon text-center mb-3">
        </div>
        <div class="modal-text text-center">
          <p> Fonctionnalité non pris en charge ! </p>
         <!-- <p>{{'wanTo' | translate }} supprimer :  << <b>{{ sousCompetitionSelctedData.name }}</b> >> ? </p>-->
        </div>
      </div>

      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn2">
          {{ 'close' | translate }}
        </button>
       
      </div>
    </div>
  </div>
</div>

<div class="modal custom-modal fade" id="details" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Details Competition </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-icon text-center mb-3">
          <h5> {{ sousCompetitionSelctedData.name }} </h5>
        </div>
        <div class="modal-text">

          <div class="row">
            <ul class="nav nav-tabs nav-tabs-bottom nav-justified" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                  Presentation 
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                  Description 
                </a>
              </li>
              
              <li class="nav-item" role="presentation">
                  <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#listPartis">
                   Parties 
                  </a>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <form>
                    <div class="row form-group">
                      <label for="name" class="col-sm-3 col-form-label input-label"><b>
                              Name
                              :</b></label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="name" placeholder=""
                              [value]="sousCompetitionSelctedData.name" disabled>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label for="lang" class="col-sm-3 col-form-label input-label"><b>
                              {{ 'language' | translate }}
                              :</b></label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="lang" placeholder=""
                          [value]="sousCompetitionSelctedData.lang" disabled>
                      </div>
                  </div>

                   <div class="row form-group">
                      <label for="location" class="col-sm-3 col-form-label input-label"><b>
                              Location
                              :</b></label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="location" placeholder=""
                          [value]="sousCompetitionSelctedData.localisation" disabled>
                      </div>
                  </div>
                  </form>
              </div>

              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <form>
                    <div class="row form-group">
                      <label for="desc" class="col-sm-3 col-form-label input-label"><b>
                        Description
                        :</b></label>
                      <div class="col-sm-9">
                          <textarea type="text" class="form-control" id="desc" placeholder=""
                          [value]="sousCompetitionSelctedData.description" disabled>
                        </textarea>
                      </div>
                    </div>

                      <div class="row form-group">
                        <label for="startDate" class="col-sm-3 col-form-label input-label"><b>
                                Start Date
                                :</b></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="startDate" placeholder=""
                            value="{{sousCompetitionSelctedData.startDate | formatDate }}" disabled>
                        </div>
                      </div>

                      <div class="row form-group">
                        <label for="endDate" class="col-sm-3 col-form-label input-label"><b>
                                End Date
                                :</b></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="endDate" placeholder=""
                            value="{{sousCompetitionSelctedData.endDate | formatDate}}" disabled>
                        </div>
                      </div>

                      <div class="row form-group">
                        <label for="level" class="col-sm-3 col-form-label input-label"><b>
                                {{ 'LevelNumber' | translate }}
                                :</b></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="level" placeholder=""
                            [value]="sousCompetitionSelctedData.gameLevel?.name" disabled>
                        </div>
                    </div>
                  </form>
              </div>
              
              <div class="tab-pane fade" id="listPartis" role="tabpanel" aria-labelledby="contact-tab">
                  <form>
                    <div class="row form-group">
                        <label for="singlePart" class="col-sm-3 col-form-label input-label"><b>
                                {{ 'isSinglePart' | translate }}
                                :</b></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="singlePart" placeholder=""
                            [value]="sousCompetitionSelctedData.isSinglePart" disabled>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="timetoplay" class="col-sm-3 col-form-label input-label"><b>
                                {{ 'Max Time to play' | translate }}
                                :</b></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="timetoplay" placeholder=""
                            [value]="sousCompetitionSelctedData.maxTimeToPlay" disabled>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="maxPlayerLife" class="col-sm-3 col-form-label input-label"><b>
                                {{ 'Life' | translate }}
                                :</b></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="maxPlayerLife" placeholder=""
                            [value]="sousCompetitionSelctedData.maxPlayerLife" disabled>
                        </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    

      <div class="modal-footer text-center">
          <button data-bs-dismiss="modal" class="btn btn-secondary">
              {{ 'close' | translate }}
          </button>
      </div>
    </div>
  </div>
</div>
