<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="'/index'">Accueil </a></li>
              <li class="breadcrumb-item active">Sous Competitions</li>
            </ul>
          </div>
          <div class="col-auto">
            <!-- <a [routerLink]="'/customers/add-customer'" class="btn btn-primary me-2"
              style="color: #035858 !important; background-color: #ffff !important;">
              <i class="fas fa-plus"></i>
            </a> -->
            <a class="btn btn-primary me-2"
              style="color: #035858 !important; background-color: #ffff !important;" data-bs-toggle="modal" data-bs-target="#createNew">
              <i class="fas fa-plus"></i>
            </a>
            <a class="btn btn-primary me-2"
              style="color: #035858 !important; background-color: #ffff !important;" (click)="refresh()">
              <i class="fas fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
  

      <div class="row" *ngIf="sousCompetion.waitingResponse">
        <div class="col-sm-12">
          <app-progress-indeterminate></app-progress-indeterminate>
        </div>
      </div>
      
  
      <div class="row" *ngIf="!sousCompetion.waitingResponse">
        <div class="col-sm-12">
          <div class="card card-table">
            <div class="card-body">
              <div class="table-responsive">
                <table datatable class="table table-stripped table-hover">
                  <thead class="thead-light">
                    <tr>
                      <th>{{'Competition Name' | translate }}s</th>
                      <th>{{'Description' | translate }}</th>
                      <th>{{'level' | translate }}</th>
                      <th>{{'localisation' | translate }}</th>
                      <th>{{'Start Date' | translate }}</th>
                      <th>{{'End Date' | translate }}</th>
                      <th>{{'max Player Life' | translate }}</th>
                      <th>Action</th>
                    </tr>
                  </thead>

                  <tbody>
                      <div class="text-center">
                          <span *ngIf="sousCompetion.waitingResponse">
                            <img src="../../../../../assets/img/loader.gif" alt="" width="30px">
                          </span>
                      </div>

                      <tr *ngFor="let sousCompetion of sousCompetion.listUnderCompetition" data-bs-toggle="modal"
                      data-bs-target="#details" (click)="sousCompetitionSelctedData = sousCompetion" >
                          <td>
                                <span> {{ sousCompetion.name }} </span>
                          </td>
                          <td>
                                <span> {{ sousCompetion.description }} </span>
                          </td>

                          <td>
                                <span> {{ sousCompetion.level  }} </span>
                          </td>

                          <td>
                                <span> {{ sousCompetion.localisation  }} </span>
                          </td>

                          <td>
                                <span> {{ sousCompetion.startDate  }} </span>
                          </td>
                          
                          <td>
                                <span> {{ sousCompetion.endDate }} </span>
                          </td>
                          <td>
                                <span> 
                                    {{ sousCompetion.maxPlayerLife }}  
                                </span>
                          </td>
                          <td>
                            <div class="col-auto">
                                <span class="badge badge-pill bg-primary-light" 
                                style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#details">
                                <i class="fa fa-eye" aria-hidden="true"></i> </span>

                                 <span class="badge badge-pill bg-warning-light" 
                                 style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#edit">
                                 <i class="fa fa-pencil" aria-hidden="true"></i> </span>
                            </div>
                          </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal custom-modal fade" id="unsuscribe_arcarde" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-body">
          <div class="modal-icon text-center mb-3">
            <i class="fa fa-user-times" aria-hidden="true"></i>
          </div>
          <div class="modal-text text-center">
            <h2> Mise à jour, Sous Competition {{ sousCompetitionSelctedData.name }} </h2>
          </div>
        </div>

        <div class="modal-footer text-center">
          
        </div>
      </div>
    </div>
  </div>



  <div class="modal custom-modal fade" id="details" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-body">
          <div class="modal-icon text-center mb-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
          <div class="modal-text">
            <h2 class="text-center">Details Competion {{ sousCompetitionSelctedData.name }} </h2>

            <div class="row">
              
            </div>

          </div>
        </div>

        <div class="modal-footer text-center">
          
        </div>
      </div>
    </div>
  </div>

  <div class="modal custom-modal fade" id="createNew" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-body">
          <div class="modal-icon text-center mb-3">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
          <div class="modal-text">
            <h2 class="text-center">Nouvelle Sous Competition</h2>

                <form [formGroup]="sousCompetion.form">
                    <div class="form-group">
                        <label for="name"> Nom </label>
                        <input type="text" name="name" class="form-control" formControlName="name" id="name"
                        [ngClass]="{ 'is-invalid': sousCompetion.f['name'].touched && sousCompetion.f['name'].invalid}"
                        >
                    </div>

                    <div class="form-group">
                        <label for="desc"> Description </label>
                        <input type="text" name="desc" class="form-control" formControlName="description" id="desc"
                        [ngClass]="{ 'is-invalid': sousCompetion.f['description'].touched && sousCompetion.f['description'].invalid}"
                        >
                    </div>

                    <div class="form-group">
                        <label for="level"> Niveau </label>
                        <input type="number" name="level" class="form-control" formControlName="level" id="level"
                        [ngClass]="{ 'is-invalid': sousCompetion.f['level'].touched && sousCompetion.f['level'].invalid}"
                        >
                    </div>

                    <div class="form-check form-switch text-center">
                        <input class="form-check-input" type="checkbox" formControlName="isSinglePart" role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Partie Unique ?</label>
                    </div>

                    <div class="form-check form-switch text-center">
                        <input class="form-check-input" type="checkbox" formControlName="canRegisterPlayer" (click)="sousCompetion.f['canRegisterPlayer'].setValue(sousCompetion.form.get('canRegisterPlayer')?.value ? false:true);" role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label" for="flexSwitchCheckChecked">can Register Player ?</label>
                    </div>

                    <div class="form-group">
                        <label for="localisation"> Localisation </label>
                        <input type="text" name="localisation" class="form-control" formControlName="localisation" id="localisation"
                        [ngClass]="{ 'is-invalid': sousCompetion.f['localisation'].touched && sousCompetion.f['localisation'].invalid}"
                        >
                    </div>

                    <div class="form-group">
                        <label for="maxPlayerLife"> max Player Life </label>
                        <input type="number" name="maxPlayerLife" class="form-control" formControlName="maxPlayerLife" id="maxPlayerLife"
                        [ngClass]="{ 'is-invalid': sousCompetion.f['maxPlayerLife'].touched && sousCompetion.f['maxPlayerLife'].invalid}"
                        >
                    </div>

                    <div class="form-group">
                        <label for="maxTimeToPlay"> max Time To Play </label>
                        <input type="number" name="maxTimeToPlay" class="form-control" formControlName="maxTimeToPlay" id="maxTimeToPlay"
                        [ngClass]="{ 'is-invalid': sousCompetion.f['maxTimeToPlay'].touched && sousCompetion.f['maxTimeToPlay'].invalid}"
                        >
                    </div>

                    <div class="form-group">
                        <label for="startDate"> start Date </label>
                        <input type="date" name="startDate" class="form-control" formControlName="startDate" id="startDate"
                        [ngClass]="{ 'is-invalid': sousCompetion.f['startDate'].touched && sousCompetion.f['startDate'].invalid}"
                        >
                    </div>

                    <div class="form-group">
                        <label for="endDate"> End Date </label>
                        <input type="date" name="endDate" class="form-control" formControlName="endDate" id="endDate"
                        [ngClass]="{ 'is-invalid': sousCompetion.f['endDate'].touched && sousCompetion.f['endDate'].invalid}"
                        >
                    </div>

                    <div class="form-group">
                        <label for="maxOfWinners">Max of Winners </label>
                        <input type="number" name="maxOfWinners" class="form-control" formControlName="maxOfWinners" id="maxOfWinners"
                        [ngClass]="{ 'is-invalid': sousCompetion.f['maxOfWinners'].touched && sousCompetion.f['maxOfWinners'].invalid}"
                        >
                    </div>

                    <div class="form-group">
                        <label for="lang">Lang </label>
                        <select type="num" name="lang" class="form-control" formControlName="lang" id="lang"
                        [ngClass]="{ 'is-invalid': sousCompetion.f['lang'].touched && sousCompetion.f['lang'].invalid}"
                        >
                            <option value="">--choisir une langue--</option>
                            <option value="fr">Français</option>
                            <option value="en">Anglais</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="parentCompetition">Parent Competition*</label>
                        <input type="text" name="parentCompetition" class="form-control" formControlName="parentCompetition" id="parentCompetition"
                        [ngClass]="{ 'is-invalid': sousCompetion.f['parentCompetition'].touched && sousCompetion.f['parentCompetition'].invalid}"
                        >
                    </div>

                </form>

          </div>
        </div>

        <div class="modal-footer text-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn2">
                {{'close' | translate }}
              </button>
              <button type="button" class="btn btn-primary" [disabled]="!sousCompetion.form.valid" (click)="doCreationCompetion()">
                    <span>Terminé  <i class="fa fa-plus" aria-hidden="true"></i></span>
              </button>
        </div>
      </div>
    </div>
  </div>

