<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item" style="cursor: pointer;"><a [routerLink]="'/undercompetition/competition/list'">Competition</a></li>
                        <li class="breadcrumb-item active" style="cursor: pointer;"> {{ competitionData.name }} </li>
                        <li class="breadcrumb-item active"> Partie </li>
                    </ul>
                </div>
                 <div class="col-auto">
                    <a  class="btn btn-primary me-2" 
                        data-bs-target="#addParts"
                        data-bs-toggle="modal"
                        style="color: #035858 !important; background-color: #ffff !important;">
                        <i class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="Create new Parts for this competition"></i>
                    </a>
                </div> 
            </div>
        </div>

        <div class="text-center">
          <span *ngIf="gamePartSrv.waitingResponse">
            <img src="../../../../../assets/img/loader.gif" alt="" width="30px">
          </span> 
        </div>

        <div class="row" *ngIf="!gamePartSrv.waitingResponse">
                <div class="card card-table">
                  <div class="card-header">
                    <h4 class="card-title">Liste des Parties</h4>
                    <p class="card-text">
                      Liste des paties de cette competition.
                    </p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table datatable class="table table-stripped table-hover">
                        <thead class="thead-light">
                          <tr>
                            <th>Nom </th>
                            <th>Description</th>
                            <th> Niveau </th>                            
                            <th class="text-end">Actions</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="gamePartSrv.listGameParts.length !== 0" >
                          <tr *ngFor="let part of gamePartSrv.listGameParts; let i = index"
                            (click)="partChooseData = part" >
                            <td>
                              {{ part.name }}
                            </td>
                            <td>{{ part.description }}</td>
                            <!-- <td>{{ customer.country }}</td> -->
                            <td>{{ part.gameLevel?.name }}</td>
                            <td class="text-end">
                                <a data-bs-toggle="modal" data-bs-target="#details"
                                class="btn btn-sm btn-white text-warning me-2">
                                    <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="show more details"></i>
                                </a>
                              
                                <a data-bs-toggle="modal" data-bs-target="#deletePart"
                                  class="btn btn-sm btn-white text-danger me-2"><i class="far fa-trash-alt me-1" data-toggle="tooltip" data-placement="top" title="delete this part of this competition"></i></a>
                            </td>
                          </tr>
                        </tbody>
                        <tbody *ngIf="gamePartSrv.listGameParts.length == 0" >
                            <tr>
                                <td></td>
                                <td class="text-center">
                                  <img src="../../../../../assets/img/no_result.gif" alt="No result" style="max-width: 200px;">
                                  <br>Aucune Partie !
                                </td>
                                <td></td>
                              </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  


          <div class="modal custom-modal fade" id="deletePart" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="modal-icon text-center mb-3">
                  </div>
                  <div class="modal-text text-center">
                    <h2> Supprimer Partie </h2>
                    <p>Voulez vous vraiment supprimer la partie: << <b>{{ partChooseData.name }}>> </b> à cette competition ? </p>
                  </div>
                </div>
        
                <div class="modal-footer text-center">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset()" id="cancel-btn2">
                    Fermer

                  </button>
                  <button type="button" class="btn btn-danger" *ngIf="!gamePartSrv.partDeletingDone" (click)="doDelete()" >
                    <span *ngIf="!gamePartSrv.waitingResponse">Supprimer <i class="fa fa-trash" aria-hidden="true"></i> </span>
                    <span *ngIf="gamePartSrv.waitingResponse"><img src="../../../../../assets/img/loader.gif"  alt="" width="30px"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>


          <div class="modal custom-modal fade" id="addParts" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"> Ajouter Partie  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="modal-icon text-center mb-3">
                    
                  </div>
                  <div class="modal-text text-center">
                    
                    <p class="text-center" *ngIf="gamePartSrv.waitingResponse">
                        <img src="../../../../../assets/img/loader.gif" alt="" height="30px">
                    </p>
                    <form [formGroup]="gamePartSrv.gamePartForm">
                        <div class="row">

                            <div class="col">
                                    <div class="form-group">
                                        <label for="name"> Nom </label>
                                        <input type="text" class="form-control" formControlName="name" name="name" id="name">
                                    </div>

                                   
                                    <div class="form-group">
                                      <label for="startDate"> start Date </label>
                                      <input type="date" class="form-control" formControlName="startDate" name="startDate" id="startDate">
                                    </div>

                            </div>

                            <div class="col">
                                    

                                    <div class="form-group">
                                        <label for="numberOfWords"> Nombre de Mots (Par Joueur) </label>
                                        <input type="number" class="form-control" formControlName="numberOfWord" name="numberOfWords" id="numberOfWords">
                                    </div>

                                   
                                    <div class="form-group">
                                        <label for="endDate"> endDate </label>
                                        <input type="date" class="form-control" formControlName="endDate" name="endDate" id="endDate">
                                    </div>

                                    
                            </div>
                            <div class="form-group">
                              <label for="description"> Description </label>
                              <textarea type="text" class="form-control" formControlName="description" name="description" id="description">
                              </textarea>
                          </div>
                        </div>
                    </form>
                  </div>
                </div>
        
                <div class="modal-footer text-center">
                  <button type="button" class="btn btn-secondary" (click)="reset()" data-bs-dismiss="modal" id="cancel-btn2">
                    Fermer
                  </button>
                  <button type="button" class="btn btn-success" data-bs-dismiss="modal" [disabled]="gamePartSrv.gamePartForm.invalid" *ngIf="!gamePartSrv.partAdded" (click)="addPart()" >
                    <span *ngIf="!gamePartSrv.waitingResponse">Ajouter <i class="fa fa-plus" aria-hidden="true"></i> </span>
                    <span *ngIf="gamePartSrv.waitingResponse"><img src="../../../../../assets/img/loader.gif"  alt="" width="30px"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>



          <div class="modal custom-modal fade" id="details" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">  {{ partChooseData.name }} </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="modal-icon text-center mb-3">
                  </div>
                  <div class="modal-text text-center">
                        <form>
                            <div class="row form-group">
                                <label for="nbrWords" class="col-sm-3 col-form-label input-label"><b>
                                        Nombre de mots
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="nbrWords" placeholder=""
                                        [value]="partChooseData.numberOfWord" disabled>
                                </div>
                              </div>
                             

                              <div class="row form-group">
                                <label for="endDate" class="col-sm-3 col-form-label input-label"><b>
                                        Date de Debut
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="endDate" placeholder=""
                                        [value]="partChooseData.startDate" disabled>
                                </div>
                              </div>

                              <div class="row form-group">
                                <label for="endDate" class="col-sm-3 col-form-label input-label"><b>
                                        Fin
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="endDate" placeholder=""
                                        [value]="partChooseData.endDate" disabled>
                                </div>
                              </div>
                        </form>
                  </div>
                </div>
        
                <div class="modal-footer text-center">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset()" id="cancel-btn2">
                    Fermer

                  </button>
                  
                </div>
              </div>
            </div>
          </div>