<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <!-- <h3 class="page-title">{{'words.word' | translate }}s</h3> -->
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="'/index'">{{'words.level' | translate }}</a></li>
        <li class="breadcrumb-item active" *ngIf="level">{{ level.name }}</li>
      </ul>
    </div>
    <div class="col-auto">
      <a class="btn btn-primary me-2" data-bs-target="#create_modal" data-bs-toggle="modal"
        style="color: #035858 !important; background-color: #ffff !important;">
        <i class="fas fa-plus"></i>
      </a>
      <a (click)="refreshList()" class="btn btn-primary me-2"
        style="color: #035858 !important; background-color: #ffff !important;">
        <i class="fas fa-refresh"></i>
      </a>
    </div>
  </div>
</div>
<!-- /Page Header -->

<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table datatable class="table table-stripped table-hover" *ngIf="!waiting">
            <thead class="thead-light">
              <tr>
                <th>{{'words.word' | translate }}s</th>
                <th>{{'user.language' | translate}}</th>
                <!-- <th>{{'description' | translate }}</th> -->
                <th>{{'user.creationDate' | translate}}</th>
                <th class="text-end">{{ 'actions' | translate }}</th>
              </tr>
            </thead>
            <tbody *ngIf="haveToShow">
              <tr *ngFor="let word of wordsList; let i = index" (click)="wordData = word" data-bs-toggle="modal"
                data-bs-target="#details">
                <td>{{ word.name }}</td>
                <td>{{ word.type }}</td>
                <td>{{ word.createdAt | date: 'dd-mm-yyyy'}} at {{ word.createdAt | date: 'hh:mm'}}</td>
                <td class="text-end">
                  <!-- <a (click)="tempId = word.name" data-bs-toggle="modal" data-bs-target="#changeStatus" [ngClass]="
                            word.isDisabled === false
                              ? 'bg-danger-light btn btn-sm btn-white'
                              : 'bg-success-light btn btn-sm btn-white'
                          " style="margin-right: 10px;">
                    <i class="fa fa-power-off"></i></a> -->
                  <a class="btn btn-secondary me-2 text-secondary" style="background-color: #ffff !important;"
                    (click)="speak(word)">
                    <i class="fas fa-volume-up"></i>
                  </a>
                  <a class="btn btn-sm btn-white text-success me-2" (click)="updateForm(word)" data-bs-toggle="modal"
                    data-bs-target="#edit"><i class="far fa-edit me-1"></i></a>
                  <a (click)="tempId = word.firstName" data-bs-toggle="modal" data-bs-target="#delete_word"
                    class="btn btn-sm btn-white text-danger me-2"><i class="far fa-trash-alt me-1"></i></a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!haveToShow">
              <tr>
                <td></td>
                <td class="text-center">
                  <img src="../../../../../assets/img/no_result.gif" alt="No result" style="max-width: 200px;">
                  <br>{{'words.noWords' | translate}}
                </td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <table datatable class="table table-stripped table-hover" *ngIf="waiting">
            <thead class="thead-light">
              <tr>
                <th>{{'words.word' | translate }}s</th>
                <th>{{'user.language' | translate}}</th>
                <th>{{'user.creationDate' | translate }}</th>
                <th class="text-end">{{ 'actions' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <div class="row text-center">
                    <div class="col-sm-12 text-center">
                      <app-progress-indeterminate [type]=true></app-progress-indeterminate>
                    </div>
                  </div>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal custom-modal fade" id="create_modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <app-add-words></app-add-words>
    </div>
  </div>
</div>

<div class="modal custom-modal fade" id="delete_word" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-icon text-center mb-3">
        <i class="fas fa-trash-alt text-danger"></i>
        <h2 class="pt-2">{{ 'confirmDeleteTitle' | translate }}</h2>
      </div>
      <div class="modal-text text-center pb-3">
        {{'confirmDeleteText' | translate }} <b>{{wordData.name}} ?</b>  
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-secondary mx-3" data-bs-dismiss="modal" id="cancel-btn00">
          {{'action.cancel' | translate }}
        </button>
        <button type="button" *ngIf="!waiting" class="btn btn-danger" (click)="deleteWord(wordData)">
          {{'action.delete' | translate }}
        </button>
        <button type="button" *ngIf="waiting" class="btn btn-danger" disabled>
          <img src="../../../../../assets/img/loader.gif" alt="" width="30px">
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal custom-modal fade" id="details" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="text-center">
        <h2>{{wordData.name}}</h2>
        <a class="btn btn-secondary me-2 mb-2 text-secondary" style="background-color: #ffff !important;"
          (click)="speak(wordData)">
          <i class="fas fa-volume-up"></i>
        </a>
        <p>{{wordData.description}}<p>
        <div class="text-left"><br>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {{'close' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal custom-modal fade" id="edit" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header d-flex align-items-center justify-content-between p-0 mb-3">
        <img src="assets/img/logo-white.png" alt="" width="30px">
        <h4 class="card-title text-center">{{ 'words.editWord' | translate }}</h4>
        <span data-bs-dismiss="modal"><i class="fas fa-times-circle"></i></span>
      </div>
      <div class="align-items-center">
        <form (ngSubmit)="editeWord()" [formGroup]="wordForm">
          <div class="form-group">
            <label for="name">{{ 'words.word' | translate }}<span class="mandatory"> *</span></label>
            <input class="form-control" type="text" formControlName="name" id="name" required />
          </div>
          <div class="form-group">
            <label class="form-control-label">{{ 'words.level' | translate }}<span class="mandatory"> *</span></label>
            <select name="gameLevelId" id="gameLevelId" class="form-control" formControlName="gameLevelId" required>
              <option value="" selected>-- {{ 'select' | translate }} --</option>
              <option *ngFor="let level of levelList" value="{{level._id}}">
                {{level.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label">{{ 'user.language' | translate }}<span class="mandatory"> *</span></label>
            <select name="type" id="type" class="form-control" formControlName="type" required>
              <option value="" selected>-- {{ 'selectLangChange' | translate }} --</option>
              <option value="en">{{ 'english' | translate }}</option>
              <option value="fr">{{ 'french' | translate }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ 'description' | translate }} <span class="mandatory">*</span></label>
            <textarea rows="5" cols="5" class="form-control" placeholder="Write the word description"
              formControlName="description" id="description" required></textarea>
          </div>
          <div class="text-center mt-4 mb-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-edit-modal"
              style="margin-right: 20px;">
              {{'close' | translate }}
            </button>
            <button type="submit" *ngIf="!waiting" class="btn btn-success" (click)="editeWord()">
              {{'save' | translate }}
            </button>
            <button type="button" *ngIf="waiting" class="btn btn-success" disabled>
              <img src="../../../../../assets/img/loader.gif" alt="" width="30px">
            </button>
            <!-- <button type="submit" class="btn btn-primary" disabled>{{'save' | translate }}</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
