<div class="card" *ngIf="!isEditable">
    <!-- <div class="card-header">
        <h5 class="card-title">{{'profile' | translate }}</h5>
    </div> -->
    <div class="card-body" style="padding: 0 !important;">
        <!-- Form -->
        <form>
            <div class="row form-group" style="margin-bottom: 0 !important;">
                <div class="profile-cover">
                    <div class="profile-cover-wrap">
                        <img class="profile-cover-img" src="assets/img/lotto_bg02.jpeg"
                            alt="Profile Cover">

                        <!-- Custom File Cover -->
                        <div class="cover-content" style="margin-bottom: 0 !important;">
                            <div class="custom-file-btn">
                                <input type="file" class="custom-file-btn-input" id="cover_upload">
                                <label class="custom-file-btn-label btn btn-sm btn-white" for="cover_upload">
                                    <i class="fas fa-camera"></i>
                                    <span class="d-none d-sm-inline-block ms-1">{{'edit' | translate }}</span>
                                </label>
                            </div>
                        </div>
                        <!-- /Custom File Cover -->
                    </div>
                </div>

                <div class="text-center mb-1">
                    <label class="avatar avatar-xxl profile-cover-avatar" for="avatar_upload">
                        <img class="avatar-img" src="assets/img/smartestlotto-user-profile.png" alt="Profile Image">
                        <input type="file" id="avatar_upload">
                        <span class="avatar-edit">
                            <i class="fas fa-edit avatar-uploader-icon shadow-soft"></i>
                        </span>
                    </label>
                    <h2>{{userData.firstName}} {{userData.lastName}}
                        <!-- <i class="fas fa-certificate text-primary small"
                            data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i> -->
                    </h2>
                    <ul class="list-inline">
                        <li class="list-inline-item" *ngIf="userData.facebook">
                            <a class="btn btn-sm" target="_blank" href="{{userData.facebook}}" style="color: #fff; background-color: #317bf2;">
                            <i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item" *ngIf="userData.whatsapp">
                            <a class="btn btn-sm" target="_blank" href="{{userData.whatsapp}}" style="color: #fff; background-color: #0f9f19;">
                            <i class="fab fa-whatsapp"></i></a>
                        </li>
                        <li class="list-inline-item" *ngIf="userData.linkedin">
                            <a class="btn btn-sm" target="_blank" href="{{userData.linkedin}}" style="color: #fff; background-color: #2c96d3;">
                            <i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item" *ngIf="userData.skype">
                            <a class="btn btn-sm" target="_blank" href="{{userData.skype}}" style="color: #fff; background-color: #2c96d3;">
                            <i class="fab fa-skype"></i></a>
                        </li>
                        <!-- <li class="list-inline-item">
                            <a class="btn btn-sm" target="_blank" href="{{userData.instagram}}" style="color: #ee8484; background-color: #f7faf8; border: 1px solid #ee8484;">
                            <i class="fab fa-instagram"></i></a>
                        </li> -->
                        <li class="list-inline-item" *ngIf="userData.websiteLink">
                            <a class="btn btn-sm" target="_blank" href="{{userData.websiteLink}}" style="color: #645f5f; background-color: #f7faf8; border: 1px solid #645f5f;" disabled>
                            <i class="fas fa-globe"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="card flex-fill bg-white">
        <div class="card-header">
            <ul role="tablist" class="nav nav-tabs nav-tabs-bottom nav-justified">
                <li class="nav-item">
                    <a href="#tab-1" data-bs-toggle="tab" class="nav-link active">{{'general' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a href="#tab-2" data-bs-toggle="tab" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="#tab-3" data-bs-toggle="tab" class="nav-link">Location</a>
                </li>
                <li class="nav-item">
                    <a href="#tab-4" data-bs-toggle="tab" class="nav-link">{{'account' | translate }}</a>
                </li>
            </ul>
        </div>
        <div class="card-body" style="padding: 1.5rem 0 0 0 !important;">
            <div class="tab-content pt-0">
                <div role="tabpanel" id="tab-1" class="tab-pane fade show active">
                    <div class="card-body">
                        <form>
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.firstName' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" placeholder=""
                                        value="{{userData.firstName}}" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.lastName' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" placeholder=""
                                        value="{{userData.lastName}}" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.creationDate' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" placeholder=""
                                        value=" {{creationDate }} {{'at' | translate }} {{creationTime}}" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label"><b> Bio
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" placeholder=""
                                        value="{{userData.bio}}" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" id="tab-2" class="tab-pane fade">
                    <div class="card-body">
                        <form>
                            <div class="row form-group">
                                <label for="phone" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.phone' | translate }} 1:</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="phone"
                                        placeholder="+000 000 000 000" value="{{userData.phone}}" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="phone" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.phone' | translate }} 2:</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="phone"
                                        placeholder="+000 000 000 000" value="{{userData.phone2}}" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="email" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.email' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="email" placeholder="Email"
                                        value="{{userData.email}}" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="zipcode" class="col-sm-3 col-form-label input-label"><b>{{'user.zip' | translate
                                        }}</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="zipcode" placeholder="Your zip code" value="25301"
                                        disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" id="tab-3" class="tab-pane fade">
                    <div class="card-body">
                        <form>
                            <div class="row form-group">
                                <label for="phone" class="col-sm-3 col-form-label input-label"><b> {{'user.country' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="country" placeholder="" value="{{userData.country}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="location" class="col-sm-3 col-form-label input-label"><b> {{'user.location' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="location"
                                            placeholder="{{'user.location' | translate }}" value="{{userData.city}}" disabled>
                                    </div>
                                    <!-- <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="City" value="Charleston" disabled>
                                    </div>
                                    <input type="text" class="form-control" placeholder="State" value="West Virginia" disabled> -->
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="addressline1" class="col-sm-3 col-form-label input-label"><b> {{'user.addressLine' |
                                        translate }} 1</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="addressline1" placeholder=""
                                        value="" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="addressline2" class="col-sm-3 col-form-label input-label"><b> {{'user.addressLine' |
                                        translate }} 2</b> <span class="text-muted"> (Optional)</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="addressline2" placeholder="" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" id="tab-4" class="tab-pane fade">
                    <div class="card-body">
                        <form>
                            <div class="row form-group">
                                <label for="userId" class="col-sm-3 col-form-label input-label"><b> {{'user.id' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="userId" placeholder="" value="{{userData.id}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="authType" class="col-sm-3 col-form-label input-label"><b> {{'user.authType' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="authType" placeholder="" value="{{userData.authType}}"
                                    disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="userStatus" class="col-sm-3 col-form-label input-label"><b> {{'user.status' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <span [ngClass]="
                                    userData.status === 'Active'
                                      ? 'badge badge-pill bg-success-light'
                                      : 'badge badge-pill bg-danger-light'
                                  " style="margin-right: 10px;">{{ userData.status }}</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="userMailConfirm" class="col-sm-3 col-form-label input-label"><b> {{'user.emailConfirmed' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="userMailConfirm" placeholder="" value="{{userData.emailConfirmed}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="userLang" class="col-sm-3 col-form-label input-label"><b> {{'user.language' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="userLang" placeholder="" value="{{userLang}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="userTheme" class="col-sm-3 col-form-label input-label"><b> {{'user.theme' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="userTheme" placeholder="" value="{{userTheme}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="userTimeFormat" class="col-sm-3 col-form-label input-label"><b> {{'user.timeFormat' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="userTimeFormat" placeholder="" value="{{isEnglishTimeFormat}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="accountType" class="col-sm-3 col-form-label input-label"><b> {{'user.accountType' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="accountType" placeholder="" value=""
                                    disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  {{'close' | translate }}
                </button>
                <!-- <button type="submit" class="btn btn-primary" disabled>{{'save' | translate }}</button> -->
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="isEditable">
    <div class="card-body" style="padding: 0 !important;">
        <!-- Form -->
        <form>
            <div class="row form-group" style="margin-bottom: 0 !important;">
                <div class="profile-cover">
                    <div class="profile-cover-wrap">
                        <img class="profile-cover-img" src="assets/img/lotto_bg02.jpeg"
                            alt="Profile Cover">

                        <!-- Custom File Cover -->
                        <div class="cover-content" style="margin-bottom: 0 !important;">
                            <div class="custom-file-btn">
                                <input type="file" class="custom-file-btn-input" id="cover_upload">
                                <label class="custom-file-btn-label btn btn-sm btn-white" for="cover_upload">
                                    <i class="fas fa-camera"></i>
                                    <span class="d-none d-sm-inline-block ms-1">{{'edit' | translate }}</span>
                                </label>
                            </div>
                        </div>
                        <!-- /Custom File Cover -->
                    </div>
                </div>

                <div class="text-center mb-1">
                    <label class="avatar avatar-xxl profile-cover-avatar" for="avatar_upload">
                        <img class="avatar-img" src="assets/img/smartestlotto-user-profile.png" alt="Profile Image">
                        <input type="file" id="avatar_upload">
                        <span class="avatar-edit">
                            <i class="fas fa-edit avatar-uploader-icon shadow-soft"></i>
                        </span>
                    </label>
                    <h2>{{userData.firstName}} {{userData.lastName}}
                        <!-- <i class="fas fa-certificate text-primary small"
                            data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i> -->
                    </h2>
                    <ul class="list-inline">
                        <!-- <li class="list-inline-item" *ngIf="userData.facebook">
                            <a class="btn btn-sm" target="_blank" href="{{userData.facebook}}" style="color: #fff; background-color: #317bf2;">
                            <i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item" *ngIf="userData.whatsapp">
                            <a class="btn btn-sm" target="_blank" href="{{userData.whatsapp}}" style="color: #fff; background-color: #0f9f19;">
                            <i class="fab fa-whatsapp"></i></a>
                        </li>
                        <li class="list-inline-item" *ngIf="userData.linkedin">
                            <a class="btn btn-sm" target="_blank" href="{{userData.linkedin}}" style="color: #fff; background-color: #2c96d3;">
                            <i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item" *ngIf="userData.skype">
                            <a class="btn btn-sm" target="_blank" href="{{userData.skype}}" style="color: #fff; background-color: #2c96d3;">
                            <i class="fab fa-skype"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-sm" target="_blank" href="{{userData.instagram}}" style="color: #ee8484; background-color: #f7faf8; border: 1px solid #ee8484;">
                            <i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item" *ngIf="userData.websiteLink">
                            <a class="btn btn-sm" target="_blank" href="{{userData.websiteLink}}" style="color: #645f5f; background-color: #f7faf8; border: 1px solid #645f5f;" disabled>
                            <i class="fas fa-globe"></i></a>
                        </li>
                    -->
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="card flex-fill bg-white">
        <div class="card-header">
            <ul role="tablist" class="nav nav-tabs nav-tabs-bottom nav-justified">
                <li class="nav-item">
                    <a href="#tab-10" data-bs-toggle="tab" class="nav-link active">{{'general' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a href="#tab-20" data-bs-toggle="tab" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="#tab-30" data-bs-toggle="tab" class="nav-link">Location</a>
                </li>
                <li class="nav-item">
                    <a href="#tab-40" data-bs-toggle="tab" class="nav-link">{{'account' | translate }}</a>
                </li>
            </ul>
        </div>
        <div class="card-body" style="padding: 1.5rem 0 0 0 !important;">
            <div class="tab-content pt-0">
                <div role="tabpanel" id="tab-10" class="tab-pane fade show active">
                    <div class="card-body">
                        <form [formGroup]="generalForm" (ngSubmit)="submitGeneral()">
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.firstName' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" placeholder="" formControlName="firstName"
                                        value="{{userData.firstName}}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.lastName' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" placeholder="" formControlName="lastName"
                                        value="{{userData.lastName}}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.creationDate' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" placeholder=""
                                        value=" {{creationDate }} {{'at' | translate }} {{creationTime}}" disabled>
                                </div>
                            </div>


                            <div class="row form-group">
                                <label for="skype" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.skype' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="skype" placeholder="" formControlName="skype"
                                        value="{{userData.skype}}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="web" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.web' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="web" placeholder="" formControlName="websiteLink"
                                        value="{{userData.websiteLink}}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label"><b> Bio
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" placeholder="" formControlName="bio"
                                        value="{{userData.bio}}">
                                </div>
                            </div>
                            <div class="text-end">
                                <button  data-bs-dismiss="modal" type="submit" class="btn btn-primary" style="margin-left: 20px;">{{'save' | translate }} {{'general' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" id="tab-20" class="tab-pane fade">
                    <div class="card-body">
                        <form [formGroup]="contactForm" (ngSubmit)="submitContact()">
                            <div class="row form-group">
                                <label for="phone" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.phone' | translate }} 1:</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="phone" formControlName="phone"
                                        placeholder="+000 000 000 000" value="{{userData.phone}}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="phone" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.phone' | translate }} 2:</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="phone" formControlName="phone2"
                                        placeholder="+000 000 000 000" value="{{userData.phone2}}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="email" class="col-sm-3 col-form-label input-label"><b>
                                        {{'user.email' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"
                                        value="{{userData.email}}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="zipcode" class="col-sm-3 col-form-label input-label"><b>{{'user.zip' | translate
                                        }}</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="zipcode" placeholder="Your zip code" value="25301"
                                    formControlName="zip">
                                </div>
                            </div>
                            <div class="text-end">
                                <button  data-bs-dismiss="modal" type="submit" class="btn btn-primary" style="margin-left: 20px;">{{'save' | translate }} {{'contact' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" id="tab-30" class="tab-pane fade">
                    <div class="card-body">
                        <form [formGroup]="locationForm" (ngSubmit)="submitLocation()">
                            <div class="row form-group">
                                <label for="phone" class="col-sm-3 col-form-label input-label"><b> {{'user.country' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="country" placeholder="" value="{{userData.country}}"
                                    formControlName="country">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="location" class="col-sm-3 col-form-label input-label"><b> {{'user.location' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="location" formControlName="city"
                                            placeholder="{{'user.location' | translate }}" value="{{userData.city}}">
                                    </div>
                                    <!-- <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="City" value="Charleston">
                                    </div>
                                    <input type="text" class="form-control" placeholder="State" value="West Virginia"> -->
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="addressline1" class="col-sm-3 col-form-label input-label"><b> {{'user.addressLine' |
                                        translate }} 1</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="addressline1" placeholder="" formControlName="address1"
                                        value="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="addressline2" class="col-sm-3 col-form-label input-label"><b> {{'user.addressLine' |
                                        translate }} 2</b> <span class="text-muted"> (Optional)</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="addressline2" placeholder="" formControlName="address2">
                                </div>
                            </div>
                            <div class="text-end">
                                <button  data-bs-dismiss="modal" type="submit" class="btn btn-primary" style="margin-left: 20px;">{{'save' | translate }} {{'location' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" id="tab-40" class="tab-pane fade">
                    <div class="card-body">
                        <form>
                            <div class="row form-group">
                                <label for="userId" class="col-sm-3 col-form-label input-label"><b> {{'user.id' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="userId" placeholder="" value="{{userData.id}}"
                                    disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="userStatus" class="col-sm-3 col-form-label input-label"><b> {{'user.status' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <span [ngClass]="
                                    userData.status === 'Active'
                                      ? 'badge badge-pill bg-success-light'
                                      : 'badge badge-pill bg-danger-light'
                                  " style="margin-right: 10px;">{{ userData.status }}</span>
                                    <a [ngClass]="
                                        userData.status === 'Active'
                                          ? 'bg-danger-light btn btn-sm btn-white'
                                          : 'bg-success-light btn btn-sm btn-white'
                                      " style="margin-right: 10px;" *ngIf="isAdmin">
                                      <i class="fa fa-power-off"></i></a>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="userMailConfirm" class="col-sm-3 col-form-label input-label"><b> {{'user.emailConfirmed' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="userMailConfirm" placeholder="" value="{{userData.emailConfirmed}}"
                                    disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="userLang" class="col-sm-3 col-form-label input-label"><b> {{'user.language' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="userLang" placeholder="" value="{{userLang}}"
                                    >
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="userTheme" class="col-sm-3 col-form-label input-label"><b> {{'user.theme' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="userTheme" placeholder="" value="{{userTheme}}"
                                    >
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="userTimeFormat" class="col-sm-3 col-form-label input-label"><b> {{'user.timeFormat' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="userTimeFormat" placeholder="" value="{{isEnglishTimeFormat}}"
                                    >
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="accountType" class="col-sm-3 col-form-label input-label"><b> {{'user.accountType' | translate }} :</b>
                                    <!-- <span class="text-muted">(Optional)</span> -->
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="accountType" placeholder="" value=""
                                    >
                                </div>
                            </div>
                            <div class="text-end">
                                <button  data-bs-dismiss="modal" type="submit" class="btn btn-primary" style="margin-left: 20px;">{{'save' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  {{'close' | translate }}
                </button>
        </div>
    </div>
</div>