<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">{{'words.word' | translate }}s</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/index'">{{'dashboard' | translate }}</a></li>
                        <li class="breadcrumb-item active">{{'words.word' | translate }}s</li>
                    </ul>
                </div>
                <!-- <div class="col-auto">
                    <a [routerLink]="'/words/add-words'" class="btn btn-primary me-2"
                        style="color: #035858 !important; background-color: #ffff !important;">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a (click)="refreshList()" class="btn btn-primary me-2"
                        style="color: #035858 !important; background-color: #ffff !important;">
                        <i class="fas fa-refresh"></i>
                    </a>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <app-sidemenu></app-sidemenu>
            </div>

            <div class="col-xl-8 col-md-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
