<div class="card">
    <div class="card-header">
        <h4 class="card-title">Competition Started</h4>
        <p class="card-text">
            this list represents the list of all the competitions that have already started.
        </p>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="datatable table table-stripped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="gamePlay.listCompetitionStart.length != 0" >
                    <tr *ngFor="let competition of gamePlay.listCompetitionStart" 
                    (click)="gameManager.competitionLaunched = competition" 
                    >
                        <td> {{ competition.name }} </td>
                        <td> {{ competition.description }} </td>
                        <td class="text-center">
                             <button class="btn btn-success" 
                             data-bs-toggle="modal" data-bs-target="#gameInterface"
                             (click)="joinGame(competition._id, competition.localisation)"
                             > 
                             Rejoindre 
                            </button> </td>
                    </tr>
                </tbody>
                <tbody *ngIf="gamePlay.listCompetitionStart.length == 0" >
                    <tr>
                        <td></td>
                        <td class="text-center">
                          <img src="../../../../../assets/img/no_result.gif" alt="" width="30px">
                          <p>Aucune competition en cours</p>
                        </td>
                        <td></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

<div class="modal custom-modal fade" id="gameInterface" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> {{ gameManager.competitionLaunched.name }} </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <hr class="hr" /> <br>

        <div *ngIf="gameManager.competitionLaunched.gameState !== state.RUNNING" >
            <div class="text-center">
                <img src="../../../../../assets/img/loader.gif" alt="waiting_player" height="80" width="100">
            </div>
        </div>

        <div class="modal-body" style="background-color: #f7f8f9;" *ngIf="gameManager.competitionLaunched.gameState === state.RUNNING" >

            <div class="row text-center">
                <div class="col-auto me-auto">
                    <div class="card flex-fill bg-white">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Word information</h5>
                        </div>
                        <div class="card-body text-center">  
                            <span style="font-size: 25px;cursor: pointer;" (click)="speak('mais')">
                                <i class="fas fa-volume-up"></i>
                            </span>
                             <br>
                            <span style="font-size: 17px; margin-top: 12px;">
                            {{ 'word desscription' }}
                                
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="card flex-fill bg-white">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Informations</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Difficulte: {{gameManager.competitionLaunched.gameLevel.name }}</li>
                            <li class="list-group-item">Joueurs inscrits: 8 joueur(s)</li>
                            <li class="list-group-item">Joueurs restants: 5 joueur(s)</li>
                            <li class="list-group-item">Joueurs connectes: 6 joueur(s)</li>
							<li class="list-group-item">
                                <div class="text-center">
                                    Vie Restantes : 
                                    <span *ngFor="let i of Life" style="color: red;">
                                     <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span> 
                                </div>
                            </li>

                        </ul>
                    </div><br>  
                </div>
            </div>

            <div>


                    <div class="container">
                        <div class="row">
                        <div class="col-md-4">Temps restant :  {{ restTime }}s</div>
                        <div class="col-md-4 ms-auto">
                            <span *ngIf="showBadMsg" style="color: red;"> {{ errorMsg }} </span>
                            <span *ngIf="showGoodMsg" style="color: greenyellow;"> {{ errorMsg }} </span>

                        </div>
                        </div>
                    </div>
                <form [formGroup]="formword">
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text">Entrer le mot</span>
                        <input type="text" class="form-control" placeholder="" [disabled]="(!gameManager.itsToThisUserToPlay)" formControlName="word" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="sendWord()"
                        [disabled]="(formword.invalid && !gameManager.itsToThisUserToPlay)"
                        >
                            Valider
                        </button>
                    </div>
                </form>

            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="reset()">Quitter la partie</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="confirmQuit" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Exit</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p> {{ 'WanTo' }} de quitter cette partie ? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="reset();" data-bs-dismiss="modal">Quitter la partie</button>
          <button type="button" class="btn btn-primary"> Rester </button>
        </div>
      </div>
    </div>
  </div>