<div *ngIf="!fetching" class="row">
  <!-- Bloc pour afficher les arcades -->
  <div *ngIf="competitions.length && !fetching; else emptyBlock">
    <div class="fake-card-container">
      <div *ngFor="let competition of competitions" class="fake-card mb-3">
        <div class="w-100 text-start d-flex align-items-center">
          <app-avatar-photo [name]="competition.name"></app-avatar-photo>
          <div class="me-3 mb-0">
            <h5>{{ competition.name }}</h5>
            <!-- <span class="text-muted">{{ competition.description }}</span> -->
          </div>
          <p class="status-btn btn btn-sm bottom-0 {{
              competition.gameState === gameState.RUNNING
                ? 'badge badge-pill bg-success-light competition-running'
                : 'badge badge-pill bg-primary-light'
            }}" data-toggle="tooltip" data-placement="top" title="{{
              (competition.gameState === gameState.NO_START
                ? 'competition.runPart'
                : 'competition.stopPart'
              ) | translate
            }}" [ngClass]="{
              'cursor-wait': competition?.updatingState === true
            }">
            <a data-bs-toggle="modal" [attr.data-bs-target]="waitingPlayersOrRunning(competition) ? '#gameInterface-'+competition._id : ''"
              (click)="joinGame(competition)">
              <i [attr.class]="getIconClass(competition)" aria-hidden="true"></i>
            </a>
          </p>
          <app-competition-playing [competition]="competition"></app-competition-playing>
        </div>
      </div>
    </div>
  </div>
  <!-- Bloc vide -->
  <ng-template #emptyBlock>
    <div class="col-12 text-center vh-50">
      <p>{{ "competition.emptyList" | translate }}</p>
    </div>
  </ng-template>
</div>
<!-- Bloc de chargement -->
<div *ngIf="fetching" class="fake-card-container">
  <div *ngFor="let plh of placeholders; let i = index" class="fake-card mb-3"  aria-hidden="true">
    <app-game-place-holder></app-game-place-holder>
  </div>
</div>

<div class="modal" id="confirmQuit" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Exit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ "WanTo" }} de quitter cette partie ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Quitter la partie
        </button>
        <button type="button" class="btn btn-primary">Rester</button>
      </div>
    </div>
  </div>
</div>
