<div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Delete your account</h5>
                                </div>
                                <div class="card-body">
                                
                                    <!-- Form -->
                                    <form>
                                        <p class="card-text">{{'deleteAccountMsge' | translate }}</p>
                                        <p class="card-text">{{'surDeleteAccount' | translate }}</p>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input me-1" id="delete_account">
                                                <label class="custom-control-label text-danger" for="delete_account">{{'confirmDeleteAccount' | translate }}</label>
                                            </div>
                                        </div>

                                        <div class="text-end">
                                            <button type="submit" class="btn btn-primary mb-2">{{'deleteAccount' | translate }}</button>
                                        </div>
                                    </form>
                                    <!-- /Form -->
                                    
                                </div>
                            </div>