<div *ngIf="!fetching">
  <!-- Bloc pour afficher les arcades -->
  <div *ngIf="competitions.length && !fetching; else emptyBlock" class="row">
    <div *ngFor="let competition of competitions" class="col-12 col-md-2 col-lg-4 col-xl-3">
      <div class="custom-card">
        <div class="card-body pb-0">
          <div class="mb-0">
            <h5 class="card-title text-primary">{{ competition.name }}</h5>
            <p class="card-text">{{ competition.description | truncate:200 }}</p>
          </div>
        </div>
        <div class="card-footer bg-transparent border-top-0">
          <p class="mb-0">
            Du <b>{{ competition.startDate | formatDate }} </b>
          </p>
          <p>
            Au <b>{{ competition.endDate | formatDate }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Bloc vide -->
  <ng-template #emptyBlock>
    <div class="row col-12 text-center vh-50">
      <p>{{ 'competition.emptyList' | translate }}</p>
    </div>
  </ng-template>
</div>
<!-- Bloc de chargement -->
<div *ngIf="fetching" class="row">
  <div *ngFor="let plh of placeholders; let i = index" class="col-12 col-md-2 col-lg-4 col-xl-3">
    <app-oncomming-list-placeholder></app-oncomming-list-placeholder>
  </div>
</div>
