<div class="card">
    <div class="card-header">
        <h4 class="card-title">Oncoming Competitions</h4>
        <p class="card-text">
            this list represents the list of all your oncoming competitions.
        </p>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="datatable table table-stripped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let competition of gamePlay.listCompetitionOnComming">
                        <td> {{ competition.name }} </td>
                        <td> {{ competition.description }} </td>
                        <td> {{ competition.startDate }} </td>
                        <td> {{ competition.endDate }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>