<!-- Header -->
<div class="header header-one">

	<!-- Logo -->
	<div class="header-left header-left-one">
		<a [routerLink]="'/'" class="logo">
			<img src="assets/img/sl_lightBG.png" alt="Logo" style="height: 50px;">
		</a>
		<a [routerLink]="'/'" class="white-logo">
			<img src="assets/img/sl_lightBG.png" alt="Logo" style="height: 50px;">
		</a>
		<a [routerLink]="'/'" class="logo logo-small">
			<img src="assets/img/sl_lightBG.png" alt="Logo" width="50" height="30">
		</a>
	</div>
	<!-- /Logo -->

	<!-- Sidebar Toggle -->
	<!-- <a href="javascript:void(0);" (click)="burgerMenu()" id="toggle_btn">
		<i class="fas fa-bars"></i>
	</a> -->
	<!-- /Sidebar Toggle -->

	<!-- Search -->
	<div class="top-nav-search">
		<form>
			<input type="text" class="form-control" placeholder="Search here">
			<button class="btn" type="submit"><i class="fas fa-search"></i></button>
		</form>
	</div>
	<!-- /Search -->

	<!-- Mobile Menu Toggle -->
	<a class="mobile_btn" id="mobile_btn">
		<i class="fas fa-bars"></i>
	</a>
	<!-- /Mobile Menu Toggle -->

	<!-- Header Menu -->
	<ul class="nav nav-tabs user-menu">
		<!-- Flag -->
		<li class="nav-item dropdown has-arrow flag-nav">
			<a *ngIf="fr" href="javascript:void(0)" class="nav-link dropdown-toggle" aria-controls="collapseExample3"
				data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
				<img src="assets/img/flags/fr.png" alt="" height="20"> <span> Français</span>
			</a>
			<a *ngIf="en" href="javascript:void(0)" class="nav-link dropdown-toggle" aria-controls="collapseExample3"
				data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
				<img src="assets/img/flags/us.png" alt="" height="20"> <span> English</span>
			</a>
			<div class="dropdown-menu dropdown-menu-right" id="collapseExample3">
				<a (click)="setEnLang()" class="dropdown-item">
					<img src="assets/img/flags/us.png" alt="" height="16"> English
				</a>
				<a (click)="setFrLang()" class="dropdown-item">
					<img src="assets/img/flags/fr.png" alt="" height="16"> French
				</a>
			</div>
		</li>
		<!-- /Flag -->

		<!-- Notifications -->
		<li class="nav-item dropdown">
			<a href="javascript:void(0)" data-bs-toggle="dropdown" class="dropdown-toggle nav-link"
				aria-controls="collapseExample1">
				<i data-feather="bell"></i> <span class="badge badge-pill">5</span>
			</a>
			<div class="dropdown-menu notifications" id="collapseExample1">
				<div class="topnav-dropdown-header">
					<span class="notification-title">{{'notifications' | translate}}</span>
					<a href="javascript:void(0)" class="clear-noti"> {{'clearAll' | translate}}</a>
				</div>
				<div class="topnav-dropdown-footer">
					<a href="javascript:void(0)">{{'allNotifs' | translate}}</a>
				</div>
			</div>
		</li>
		<!-- /Notifications -->

		<!-- User Menu -->
		<li class="nav-item dropdown has-arrow main-drop" id="dropdown">
			<a href="javascript:void(0)" class="dropdown-toggle nav-link" aria-controls="collapseExample2"
				data-bs-toggle="dropdown">
				<span class="user-img">
					<img src="{{userData.profilePicture}}" alt="">
					<span class="status online"></span>
				</span>
				<span>{{userData.firstName}}</span>
			</a>
			<div class="dropdown-menu" id="collapseExample2">
				<a class="dropdown-item" [routerLink]="'/profile'"><i data-feather="user" class="me-1"></i> {{'profile'
					| translate}}</a>
				<a class="dropdown-item" [routerLink]="'/setting/settings'"><i data-feather="settings" class="me-1"></i>
					{{'settings' | translate}}</a>
				<a class="dropdown-item" (click)="Logout()"><i data-feather="log-out" class="me-1"></i> {{'logOut' |
					translate}}</a>
			</div>
		</li>
		<!-- /User Menu -->
	</ul>
	<!-- /Header Menu -->

</div>
<!-- /Header -->

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title"><span>Menu</span></li>
				<li [class.active]="base === 'index'">
					<a [routerLink]="'/index'"><i data-feather="home"></i> <span>{{'dashboard' | translate}}</span></a>
				</li>
				<li [class.active]="base === 'lotteries'">
					<a [routerLink]="'/lotteries'"><i data-feather="disc"></i> <span>{{'lotteries' | translate}}</span></a>
				</li>
				<li [class.active]="base === 'customers'">
					<a [routerLink]="'/customers/customers-list'"><i data-feather="users"></i>
						<span>{{'users' | translate}}</span></a>
				</li><br><br>
				<li [class.active]="base === 'setting'">
					<a [routerLink]="'setting/settings'"><i data-feather="settings"></i> <span>{{'settings' | translate}}</span></a>
				</li>
				<li [class.active]="base === 'profile'">
					<a [routerLink]="'/profile'"><i data-feather="file-text"></i> <span>{{'profile' | translate}} Log</span></a>
				</li> 
			</ul>
		</div>
	</div>
</div>
<!-- /Sidebar -->