
<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">{{ sousCompetitionSelctedData?.name }}</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item" style="cursor: pointer;"><a [routerLink]="'/index'">{{ 'dashboard' | translate }}</a></li>
            <li class="breadcrumb-item" style="cursor: pointer;"><a [routerLink]="'/undercompetition/competition/list'">{{ 'competition.competition' | translate }}</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/undercompetition/competition/details',sousCompetitionSelctedData._id]">{{ sousCompetitionSelctedData?.name }}</a></li>
            <li class="breadcrumb-item active" style="cursor: pointer;">{{ 'update' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row g-4">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="sousCompetion.formUpdate">
            <div class="row">
              <div class="col-12 col-md-6" (click)="
                toggleCheckbox('isSinglePart')
                ">
                <div class="custom-card p-3" [ngClass]="{
                    active:
                      formUpdate?.get('isSinglePart')
                        ?.value,
                    invalid:
                    formUpdate?.['isSinglePart']
                        ?.touched &&
                      formUpdate?.['isSinglePart'].invalid
                  }">
                  <div class="card-header">
                    {{
                      (formUpdate?.get("isSinglePart")
                        ?.value
                        ? "competition.yes"
                        : "competition.no"
                      ) | translate
                    }}
                  </div>
                  <div class="card-body text-center pb-0">
                    <h5 class="card-title">
                      <p class="badge badge-pill bg-icon rounded-pill p-3">
                        <i class="fa fa-gamepad"></i>
                      </p>
                    </h5>
                    <h5 class="card-text pt-3">
                      {{ "competition.singlePart" | translate }}
                    </h5>
                    <span class="text-muted">
                      {{ "arcade.callToAction" | translate }}
                    </span>
                  </div>
                </div>
                <input class="d-none" type="checkbox" formControlName="isSinglePart" />
              </div>
              <div class="col-12 col-md-6" (click)="
                  toggleCheckbox('canRegisterPlayer')
                ">
                <div class="custom-card p-3" [ngClass]="{
                    active:
                      formUpdate?.get('canRegisterPlayer')
                        ?.value,
                    invalid:
                      formUpdate?.['canRegisterPlayer']
                        ?.touched &&
                      formUpdate?.['canRegisterPlayer']
                        .invalid
                  }">
                  <div class="card-header">
                    {{
                      (formUpdate?.get("canRegisterPlayer")
                        ?.value
                        ? "arcade.visible"
                        : "arcade.hidden"
                      ) | translate
                    }}
                  </div>
                  <div class="card-body text-center pb-0">
                    <h5 class="card-title">
                      <p class="badge badge-pill bg-icon rounded-pill p-3">
                        <i
                          class="fa-solid {{(formUpdate?.get('canRegisterPlayer')?.value ? 'fa-eye' : 'fa-eye-slash')}}"></i>
                      </p>
                    </h5>
                    <h5 class="card-text pt-3">
                      {{ 'arcade.visibility' | translate }}
                    </h5>
                    <span class="text-muted">
                      {{ "arcade.callToAction" | translate }}
                    </span>
                  </div>
                </div>
                <input class="d-none" type="checkbox" formControlName="canRegisterPlayer" />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name"> Nom </label>
                <input type="text" name="name" class="form-control" formControlName="name" id="name" [ngClass]="{
                    'is-invalid':
                      sousCompetion.formUpdt['name'].touched &&
                      sousCompetion.formUpdt['name'].invalid
                  }" />
              </div>
              <div class="form-group col-md-6">
                <label for="localisation"> Localisation </label>
                <input type="text" name="localisation" class="form-control" formControlName="localisation"
                  id="localisation" [ngClass]="{
                    'is-invalid':
                      sousCompetion.formUpdt['localisation'].touched &&
                      sousCompetion.formUpdt['localisation'].invalid
                  }" />
              </div>
              <div class="form-group col-md-6">
                <label for="level" class="form-control-label">
                  Niveau
                </label>
                <select name="level" formControlName="gameLevel" id="level" class="form-control">
                  <option value="">--choisir un niveau--</option>
                  <option *ngFor="let item of level.levelList" [value]="item._id">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="lang">Lang </label>
                <select type="num" name="lang" class="form-control" formControlName="lang" id="lang" [ngClass]="{
                    'is-invalid':
                      sousCompetion.formUpdt['lang'].touched &&
                      sousCompetion.formUpdt['lang'].invalid
                  }">
                  <option value="">--choisir une langue--</option>
                  <option value="fr">Français</option>
                  <option value="en">Anglais</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="parentCompetition">Compétition parente </label>
                  <select id="parentCompetition"  class="form-control" (change)="onCompetitionChange($event)">
                    <option value="">-- {{ parentCompetitionName}} --</option>
                    <!-- <option *ngFor="let competition of arcardeSrv.listUnderCompetion" value="{{competition._id}}">{{ competition.name }}</option> -->
                  </select>
              </div>
              <div class="form-group col-md-6">
                <label for="maxOfWinners">Nombre max de Gagnants </label>
                <input type="number" min="0" name="maxOfWinners" class="form-control" formControlName="maxOfWinners"
                  id="maxOfWinners" [ngClass]="{
                    'is-invalid':
                      sousCompetion.formUpdt['maxOfWinners'].touched &&
                      sousCompetion.formUpdt['maxOfWinners'].invalid
                  }" />
              </div>
              <div class="form-group col-md-6">
                <label for="startDate"> Date de debut </label>
                <ng-bmis-date-time-picker>
                  <input type="text" name="startDate" class="form-control" formControlName="startDate" id="startDate"
                    [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['startDate'].touched && sousCompetion.formUpdt['startDate'].invalid}"
                  >
                </ng-bmis-date-time-picker>
              </div>
              <div class="form-group col-md-6">
                <label for="endDate"> Date de fin </label>
                <ng-bmis-date-time-picker>
                  <input type="text" name="endDate" class="form-control" formControlName="endDate" id="endDate"
                    [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['endDate'].touched && sousCompetion.formUpdt['endDate'].invalid}"
                  >
                </ng-bmis-date-time-picker>
              </div>

              <div class="form-group col-md-6">
                <label for="maxPlayerLife"> Nombre de vie max </label>
                <input type="number" name="maxPlayerLife" min="0" class="form-control" formControlName="maxPlayerLife"
                  id="maxPlayerLife" [ngClass]="{
                    'is-invalid':
                      sousCompetion.formUpdt['maxPlayerLife'].touched &&
                      sousCompetion.formUpdt['maxPlayerLife'].invalid
                  }" />
              </div>
              <div class="form-group col-md-6">
                <label for="maxTimeToPlay"> Temps de Decompte (s) </label>
                <input type="number" min="0" name="maxTimeToPlay" class="form-control" formControlName="maxTimeToPlay"
                  id="maxTimeToPlay" [ngClass]="{
                    'is-invalid':
                      sousCompetion.formUpdt['maxTimeToPlay'].touched &&
                      sousCompetion.formUpdt['maxTimeToPlay'].invalid
                  }" />
              </div>
              <div class="form-group">
                <label for="desc"> {{ 'description' | translate }} </label>
                <textarea type="text" name="desc" class="form-control" formControlName="description" id="desc"
                  [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['description'].touched && sousCompetion.formUpdt['description'].invalid}"></textarea>
              </div>
              <div class="d-flex justify-content-start justify-content-lg-end">
                <button type="button" style="margin-left: 15px;" class="btn btn-success"
                  *ngIf="!sousCompetion.creationDone" (click)="doUpdate()">
                  <span *ngIf="sousCompetion.waitingResponse"> <img src="../../../../assets/img/loader.gif" alt=""
                      width="30px"> </span>

                  <span *ngIf="!sousCompetion.waitingResponse">Sauvegarder <i class="fa fa-plus"
                      aria-hidden="true"></i></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
