
<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title"></h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item" style="cursor: pointer;"><a [routerLink]="'/index'">Accueil </a></li>
            <li class="breadcrumb-item" style="cursor: pointer;"> <a [routerLink]="'/undercompetition/competition/list'">Competitions</a> </li>
            <li class="breadcrumb-item active">Mise a jour</li>
          </ul>
        </div>

<div class="row">
  <div class="card card-table">
      <div class="card-header text-center">
          <h5> Mise à jour : <strong> {{ sousCompetitionSelctedData.name }} </strong>  </h5>
      </div>
    <div class="card-body">
              <form [formGroup]="sousCompetion.formUpdate">
                  <div class="row">
                      <div class="col">
                          <div class="form-group">
                              <label for="name"> Nom </label>
                              <input type="text" name="name" [value]="sousCompetion.formUpdate.get('name').value" class="form-control" formControlName="name" id="name"
                              [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['name'].touched && sousCompetion.formUpdt['name'].invalid}"
                              >
                          </div>

                          <div class="form-group">
                              <label for="desc"> Description </label>
                              <input type="text" name="desc" class="form-control" [value]="sousCompetion.formUpdate.get('description').value" formControlName="description" id="desc"
                              [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['description'].touched && sousCompetion.formUpdt['description'].invalid}"
                              >
                          </div>

                          <div class="form-group">
                              <label for="level" class="form-control-label"> Niveau </label>
                              <select name="level" formControlName="gameLevel" id="level" class="form-control">
                                  <option value="">--choisir un niveau--</option>
                                  <option *ngFor="let item of level.levelList"  [value]="item._id">
                                          {{ item.name }}
                                  </option>
                              </select>
                           </div>

                          <div class="form-check form-switch text-center">
                              <input class="form-check-input" type="checkbox" formControlName="isSinglePart" role="switch" id="flexSwitchCheckChecked">
                              <label class="form-check-label" for="flexSwitchCheckChecked">Partie Unique ?</label>
                          </div>

                          <div class="form-check form-switch text-center">
                              <input class="form-check-input" type="checkbox" formControlName="canRegisterPlayer" (click)="sousCompetion.f['canRegisterPlayer'].setValue(sousCompetion.form.get('canRegisterPlayer')?.value ? false:true);" role="switch" id="flexSwitchCheckChecked">
                              <label class="form-check-label" for="flexSwitchCheckChecked">Peut enregistrer des Joueurs</label>
                          </div>

                          <div class="form-group">
                              <label for="localisation"> Localisation </label>
                              <input type="text" name="localisation" class="form-control" formControlName="localisation" id="localisation"
                              [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['localisation'].touched && sousCompetion.formUpdt['localisation'].invalid}"
                              >
                          </div>

                          <div class="form-group">
                              <label for="maxPlayerLife"> Vie Maximal des Joueurs</label>
                              <input type="number" name="maxPlayerLife" class="form-control" formControlName="maxPlayerLife" id="maxPlayerLife"
                              [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['maxPlayerLife'].touched && sousCompetion.formUpdt['maxPlayerLife'].invalid}"
                              >
                          </div>


                      </div>


                      <div class="col">
                          <div class="form-group">
                              <label for="maxTimeToPlay"> Temps maximun de Jeu </label>
                              <input type="number" name="maxTimeToPlay" class="form-control" formControlName="maxTimeToPlay" id="maxTimeToPlay"
                              [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['maxTimeToPlay'].touched && sousCompetion.formUpdt['maxTimeToPlay'].invalid}"
                              >
                          </div>

                          <div class="form-group">
                              <label for="startDate"> Date Debut </label>
                              <input type="datetime-local" name="startDate" class="form-control" formControlName="startDate" id="startDate"
                              [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['startDate'].touched && sousCompetion.formUpdt['startDate'].invalid}"
                              >
                          </div>

                          <div class="form-group">
                              <label for="endDate"> Date fin </label>
                              <input type="datetime-local" name="endDate" class="form-control" formControlName="endDate" id="endDate"
                              [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['endDate'].touched && sousCompetion.formUpdt['endDate'].invalid}"
                              >
                          </div>

                          <div class="form-group">
                              <label for="maxOfWinners">Numbre maximun de Gagnant </label>
                              <input type="number" name="maxOfWinners" class="form-control" formControlName="maxOfWinners" id="maxOfWinners"
                              [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['maxOfWinners'].touched && sousCompetion.formUpdt['maxOfWinners'].invalid}"
                              >
                          </div>

                          <div class="form-group">
                              <label for="lang">Lang </label>
                              <select name="lang" class="form-control" formControlName="lang" id="lang"
                              [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['lang'].touched && sousCompetion.formUpdt['lang'].invalid}"
                              >
                                  <option value="">--choisir une langue--</option>
                                  <option value="fr">Français</option>
                                  <option value="en">Anglais</option>
                              </select>
                          </div>

                          <div class="form-group">
                              <label for="parentCompetition">Parent de la Competition*</label>
                              <input type="text" name="parentCompetition" class="form-control" formControlName="parentCompetition" id="parentCompetition" [(ngModel)]="parentID"
                              [ngClass]="{ 'is-invalid': sousCompetion.formUpdt['parentCompetition'].touched && sousCompetion.formUpdt['parentCompetition'].invalid}"
                              >
                          </div>
                          <button (click)="backClicked()" class="btn btn-primary me-2"
                          style="color: #035858 !important; background-color: #ffff !important;">
                          <i class="fas fa-arrow-left"></i> {{ 'back' | translate }}
                          </button>
                          <button type="button" style="margin-left: 15px;" class="btn btn-success" *ngIf="!sousCompetion.creationDone"  (click)="doUpdate()">
                            <span *ngIf="sousCompetion.waitingResponse" > <img src="../../../../assets/img/loader.gif" alt="" width="30px"> </span>

                            <span *ngIf="!sousCompetion.waitingResponse" >Sauvegarder  <i class="fa fa-plus" aria-hidden="true"></i></span>
                          </button>
                      </div>
                  </div>
              </form>



            </div>
          </div>
        </div>
      </div>
    </div>
