$__primarycolor: #0d6efd;
$__primarycolorhover: #6b36de;
$__primarylight: rgba(255, 255, 255, 0.2);
$__primary__light__blue: #ecebff;
$__primarydark: #4a3aff;
$__secondarycolor: #28084b;
$__white: #fff;
$__cylindrical: #f7f8f9;
$__grayish__blue: #3f4254;
$__gray: #333;
$__gray3: #3f4254;
$__title__black: #1f0066;
$__gray__dark: #878a99;
$__blue__light: #d1bbff;
$__gray__lightdark: #6c757d;
$__sandstone: #9e9e9e;
$__goose-gray: rgba(38, 17, 85, 0.05);
$__light__gooses: #f0f1f5;
$__light__vampire: #dbdfea;
$__light__vampires: rgb(117 117 117);
$__grey: #d9d9d9;
$__note__light: #989c9e;
$__grey__light: 0px 16px 32px rgba(65, 152, 255, 0.2);
$__alice__blue: #eff2f5;
$__light__smokey-grays: #292d32;
$__gainsboro__color: #dcdcdc;
$__light__grayish: #e7eaf3;
$__white__smoke: #efefef;
$__dopely-__colors: #e5e7eb;
$__graybackblue: #1b2559;
$__light__whites: #e5e5e5;
$__light__slate__grey: rgb(82 63 105 / 5%);
$__medium__slate__grey: rgba(190, 190, 190, 0.2);
$__cloud__grays: #e0e0e0;
$__ghost__white: #f3f3f9;
$__smoke__white: #f3f3f3;
$__light__battle__garys: #f2ecff;
$__alice__blue__color: rgba(231, 234, 252, 0.75);
$__gray15: #878787;
$__gray13: rgba(33, 33, 33, 0.05);
$__mainly_blue: rgb(31 45 61 / 8%);
$__mainly_blue-dark: #eff2f7;
$__golden__yellow: #ffd200;
$__bg__info__light: #ddf3ff;
$__bg__primary__light: #eaddff;
$__bg__warning__light: #fff6dc;
$__bg__blue__light: #e9f2ff;
$__bg__green__light: #e1ffed;
$__bg__danger__light: #ffecec;
$__gray__light: rgb(190 190 190 / 20%);
$__wild_sand: #e6e9e8;
$__success__light: #33b469;
$__dark: #000000;
$__text__danger__light: #ed3a3a;
$__bg__info__blue: #e9f2ff;
$__text-warning__light: #ebbc2e;
$__mine__shaft: #282828;
$__light__vampires: #eff0f7;
$__light__vampire: #b5b5c3;
$__dark__gooses: #101924;
$__light__goosesvalue: #f7f8f9;
$__light-goose-grays: #e9ecef;
$__light-goose: #e8ebed;
$__violet: #3e45eb;
$__violets: #1b2850;
$__violet__dark: #377dff;
$__violet__light: #5156be;
$__black: #000;
$__light__ash__gray: #8a8a8a;
$__dark__ash__gray: #555;
$__dark__ash__grays: #212b36;
$__goose-grays: #b8bcc9;
$__light__smokey-gray: #5e5873;
$__goose-greys: #565656;
$__sky__blue: #2da7ff;
$__success__lights: #0f9d58;
$__purple__light: #c580ff;
$__successcolor: #28c76f;
$__dangercolor: #f62d51;
$__dangerred: #ff0000;
$__warningcolor: #ff9900;
$__yellowcolor: #ffb800;
$__warningcolors: #fc8543;
$__frog__blue: #e6e6e6;
$__frog__blues: #e6e6e6;
$__fire__red: #fd625e;
$__grey__color: #8d8d8d;
$__gray__cloud: #999;
$__dark__gray__cloud: #9f9f9f;
$__cloud__gray: #eeeeee;
$__light__white: #fafafa;
$__dark__light: #f5f5f5;
$__dark__lights: #d8d8d8;
$__sandstones: #c4c4c4;
$__dark__blues: #32577d;
$__dark__violets: #092c4c;
$__dark__violets__light: #092c4c;
$__dark__gray: #888888;
$__dark__grays: #babfc7;
$__orangecolor: #fe9f43;
$__mute_color: #6b7a99;
$__black_color: #141432;
$__blue_black: #353570;
$__ash: #dee2e6;
$__light__grey: #8ea0af;
$__dark__grey: #1d1d42;
$__light_white_gray: #f7f7ff;
$__light_ash_gray: #f6f2ff;
$__dark__black: #1f2937;
$__light__gray: #bdbdbd;
$__light__gray__has: #e3e3e3;
$__light__gray__dark: #757575;
$__light__gray__light: #95979b;
$__gray__light__white: #f6f7f9;
$__dark__black_light: rgba(118, 56, 255, 0.05);
$__darktableheadbg: #0c0c20;
$__tablehead__bg: #7638ff;
$__black__nuetral: #2c3038;
$__grey__nuetral: #95979b;
$__invborder__color: #f2f2f2;
$__bodybg__color: #f2f2f2;
$__exchangebg: #f4f4f4;
$__tablelightbg: #fcfcfc;
$__exchangeborder: #d9d9d9;
$__downloadcolor: #7638ff;
$__printcolor: #4361ee;
$__invseven_border: #95979b;
$__invninebg_color: #fafafa;
$__darkthemebg: #252526;
$__darktheme__header: rgba(250, 250, 250, 0.1);
$__darktheme__logobg: rgba(255, 255, 255, 0.1);
$__darktheme__tablebg: rgba(242, 242, 242, 0.1);
$__blackcolor: #212529;
$__primarycolor1: #2c3038;
$__info__color: #efe9ff;
$__dark__brown: #ae2c2c;
$__gray2: #4f4f4f;
$__success__green: #19a855;
$__light__ash: #bebebe;
$__gray__white__light: #808080;
$__dark__border: #dddee1;
$__light_black: #3f3f3f;
$__gray_gray: #e0e0e0;
$__sky_lightblue: #54c1ff;
$__shade_cyan: #2596be;
$__light_orange: #ffe0bb;

$__heading__color: #0f0033;
$__text__success__dark: #1d8147;

$__info__payment: #2465bc;
$__info__companies: #1f0066;
$__primary__companies: #808080;
$__history__light: #ffefdd;
$__history__orange: #ec8000;
$__pending_light: #c99700;
$__box__shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);
$__dull__ash: #eff0f6;
$__filter__box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
$__table__head__bg: linear-gradient(320deg, #ddceff 0%, #dbecff 100%);

$__whitecolor: #fff;
$__orangecolor: #fda600;
$__deep__skyblue: #42c0fb;
$__blue: #15558d;
$__grayblack: #34444c;
$__dark__maroon: #ff737b;
$__darkpurple: #1ec1b0;
$__dark__blues: #00c5fb;
$__default__black: #263238;
$__ash__grays: #bbc4cc;
$__grayblacks: #16191c;
$__light__black: #2e3840;
$__metallic-silver: #e3e3e3;
$__dark__mode__bg: #1c1d22;
$__dark__mode__body: #2a2b2f;
$__dark__mode__color: #aaaaaa;
$__dark__mode__table__header: #3b3c3e;
$__dark__mode__table__border: #1e1f25;
$__dark__box__shadow: rgba(193, 193, 193, 0.07);
$__filter__btns__shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
$__filter__btns__bg: #36373d;
$__success__rgba__bg: rgba(40, 178, 77, 0.1);
$__danger__rgba__bg: rgba(230, 33, 33, 0.1);
$__blue__rgba__bg: rgba(60, 144, 209, 0.1);
$__orange__rgba__bg: rgba(237, 153, 29, 0.1);
$__table__btns__bg: #37383d;
$__input__dull__bg: rgba(193, 193, 193, 0.07);
$__light__gray__bg: rgba(243, 243, 243, 0.1);
$__dark__cancel__color: #ff1717;
$__ribbon__secondary__bg: rgba(247, 49, 100, 0.3);
$__ribbon__success__bg: rgba(81, 187, 37, 0.3);
$__ribbon__primary__bg: rgba(115, 102, 255, 0.3);
$__primayrgcolor__rgba__bg: rgba(117, 57, 255, 0.3);
$__warningcolor__rgba__bg: rgba(255, 193, 7, 0.3);
$__lightcolor__rgba__bg: rgba(166, 166, 166, 0.3);
$__primayrgcolor__rgba__bg1: rgba(117, 57, 255, 0.7);
$__bg__info__light__rgba: rgba(221, 243, 255, 0.12);
$__bg__green__light__rgba: rgba(225, 255, 237, 0.12);
$__invoice__terms__bg__rgba: rgba(239, 239, 239, 0.12);
$__success__toggle__rgba: rgba(85, 206, 99, 0.3);
$__white__rgba: rgba(255, 255, 255, 0.3);
$__subscribe__bg__rgba: rgba(237, 58, 58, 0.3);
$__subscribe__color: rgba(237, 58, 58, 0.9);
$__payment__bg__rgba: rgba(233, 242, 255, 0.3);
$__payment__color: rgba(36, 101, 188, 0.9);
$__payment__color__bg: rgba(36, 101, 188, 0.3);
$__invoice__bg: rgba(225, 255, 237, 0.3);
