
<div class="working-process">
    <img src="assets/img/bg-shape/bg-shape-3.png" alt="" class="bg-shape-3">
    <img src="assets/img/bg-shape/wp-shape-2.png" alt="" class="wp-bg-shape-2">
    <img src="assets/img/bg-shape/wp-shape-3.png" alt="" class="wp-bg-shape-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title">
                    <h3 class="sub-title">{{'howItWork.howItWork' | translate}}</h3>
                    <h2 class="title">{{'howItWork.howItWorkContent' | translate}}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-process">
                    <div class="part-icon">
                        <img src="assets/img/working-process/icon-1.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="step-number">1.</span>
                        <span class="step-title">{{'howItWork.setBudget' | translate}}.</span>
                        <p>{{'howItWork.setBudgetContent' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-process pp-2">
                    <div class="part-text">
                        <span class="step-title">{{'howItWork.chooseLotto' | translate}}.</span>
                        <p>{{'howItWork.chooseLottoContent' | translate}}</p>
                        <span class="step-number two">2.</span>
                    </div>
                    <div class="part-icon">
                        <img src="assets/img/working-process/icon-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-process">
                    <div class="part-icon">
                        <img src="assets/img/working-process/icon-3.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="step-number">3.</span>
                        <span class="step-title">{{'howItWork.pickNumb' | translate}}</span>
                        <p>{{'howItWork.pickNumbComment' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-process pp-2">
                    <div class="part-text">
                        <span class="step-title">{{'howItWork.checkNumb' | translate}}</span>
                        <p>{{'howItWork.checkNumbContent' | translate}}</p>
                        <span class="step-number four">4.</span>
                    </div>
                    <div class="part-icon">
                        <img src="assets/img/working-process/icon-4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>