.right-side-views {
    display: none;
}

.bg-img {
    background-image: url("../../../../assets/img/elements.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #124eae;
}

.login-nav {
    background-color: #fff;
    color: #124eae;
    border-radius: 10px
}

.login-nav:hover {
    background-color: #124eae;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
}
p {
    color: #171718;
}