.right-side-views {
    display: none;
}

.bg-img {
    background-image: url("../../../../assets/img/elements.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #124eae;
}

.login-nav {
    background-color: #fff;
    color: #124eae;
    border-radius: 10px
}

.login-nav:hover {
    background-color: #124eae;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
}

p {
    color: #171718;
}


/* for next btn */

.wrapper a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #4f84da;
    border: 1px solid #4f84da;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.wrapper a span {
    position: relative;
    z-index: 2;
}

.wrapper a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4f84da;
    transition: all .35s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper a:hover {
    color: #fff;
    border: none;
}

.wrapper a:hover:after {
    width: 100%;
}

.custom-control-label a{
  background: linear-gradient(to top, #3063AD 0%, #3063AD 1.2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s ease-in-out;
}

.custom-control-label a:hover{
  background-size: 100% 100%;
}


/*personnalisation des checkbox */

input[type="checkbox"] {
  appearance: none;
}

/* ol li label::before {
  content: '';
  width: 20px;
  height: 20px;
  border: none;
  background-color: white;
  display: inline-block;
  position: relative;
  top: 6px;
  right: 2px;

} */

ol li input::before {
  content: '';
  width: 20px;
  height: 20px;
  border: none;
  background-color: white;
  display: inline-block;
  position: relative;
  top: 6px;
  right: 2px;
}

#check {
  position: relative;
  top: 2px;
  right: 23px;
}

.fa-solid {
  visibility: hidden;
}

.condition-true {
  visibility: visible;
}

/* .fa-span1, .fa-span2 {
  display: inline-block;
  background-color: rgba(248, 180, 71, 0.575);
  display: none;
} */

/* .fa-span2 {
  margin-top: 5px;
} */

/* .fa-span1 {
  margin-top: 10px;
} */

.message {
  display: inline-block;
  background-color: rgba(248, 180, 71, 0.575);
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.valid-email {
  color: green;
}

.invalid-email {
  color: red;
}

.valid-phone {
  border-color: green;
}

.invalid-phone {
  border-color: red;
}

.initial-border {
  border-color: #dee2e6;
}

.different-password {
  border-color: red;
}

input[type="password"] {
  border-color: #dee2e6;
  /* border: none; */
}

.same-password {
  border-color: green;
}










