<!-- Main Wrapper -->
<div class="main-wrapper login-body bg-img">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox" *ngIf="!mailSended">
        <div class="login-right">
          <div class="login-right-wrap">
            <img class="img-fluid logo-dark mb-2" src="assets/img/logo-full-adesmots.png" alt="Logo"
            style="height: 10vw; width: 30vw !important;" />
            <br>
            <h1>{{ 'register' | translate }}</h1>
            <p class="account-subtitle">{{ 'needAccound' | translate }}.</p>

            <!-- Form -->
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="form-group"> 
                <label class="form-control-label">{{ 'user.firstName' | translate }} :</label>
                <input class="form-control" type="text" formControlName="field_firstName"
                  placeholder="{{ 'enterYour' | translate }}{{ 'user.firstName' | translate }}" id="field_firstName"
                  [ngClass]="{
                    'is-invalid': f['field_firstName'].touched && f['field_firstName'].invalid
                  }" />
                <div *ngIf="f['field_firstName'].touched && f['field_firstName'].invalid" class="invalid-feedback">
                  <div *ngIf="f['field_firstName'].errors && f['field_firstName'].errors['required']">
                    {{ 'firstNameRequired' | translate }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">{{ 'user.lastName' | translate }} :</label>
                <input class="form-control" type="text" formControlName="field_lastName"
                  placeholder="{{ 'enterYour' | translate }}{{ 'user.lastName' | translate }}" id="field_lastName"
                  [ngClass]="{
                    'is-invalid': f['field_lastName'].touched && f['field_lastName'].invalid
                  }" />
                <div *ngIf="f['field_lastName'].touched && f['field_lastName'].invalid" class="invalid-feedback">
                  <div *ngIf="f['field_lastName'].errors && f['field_lastName'].errors['required']">
                    {{ 'lastNameRequired' | translate }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-group-label"  >{{ 'user.dateofbirth' | translate }} :</label>
                <input class="form-control" type="date" name="birthdate" id=""formControlName="field_firstName">
              </div>
              <div class="form-group">
                <label class="form-control-label">Téléphone</label>
                <input class="form-control" type="text" placeholder="6xxxxxxxx" />
              </div>
              <div class="form-group">
                <label class="form-control-label">{{ 'user.country' | translate }} :</label>
                <select (change)="onSelect($event)" name="country" id="country-select" class="form-control" formControlName="field_country"
                [ngClass]="{
                  'is-invalid': f['field_country'].touched && f['field_country'].invalid
                }">
                  <option value="">--{{ 'selectCountry' | translate }}--</option>
                  <option *ngFor="let countries of country" value="{{countries.id}}">
                    {{countries.name}}
                  </option>
                </select>
                <div *ngIf="f['field_country'].touched && f['field_country'].invalid" class="invalid-feedback">
                  <div *ngIf="f['field_country'].errors && f['field_country'].errors['required']">
                    {{ 'countryRequired' | translate }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">{{ 'user.location' | translate }} :</label>
                <select name="city" id="city-select" class="form-control" formControlName="field_location"
                [ngClass]="{
                  'is-invalid': f['field_location'].touched && f['field_location'].invalid
                }">
                  <option value="">--{{ 'selectCity' | translate }}--</option>
                  <option *ngFor="let cities of city" value="{{cities.name}}">{{cities.name}}</option>
                </select>
                <div *ngIf="f['field_location'].touched && f['field_location'].invalid" class="invalid-feedback">
                  <div *ngIf="f['field_location'].errors && f['field_location'].errors['required']">
                    {{ 'cityRequired' | translate }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">{{ 'user.emailAdress' | translate }} :</label>
                <input class="form-control" type="text" formControlName="field_email"
                  placeholder="{{ 'enterYour' | translate }}{{ 'user.email' | translate }}" id="field_email" [ngClass]="{
                    'is-invalid': f['field_email'].touched && f['field_email'].invalid
                  }" />
                <div class="invalid-feedback" *ngIf="CustomControler?.status === 'field_email'">
                  {{ CustomControler.message }}
                </div>
                <div *ngIf="f['field_email'].touched && f['field_email'].invalid" class="invalid-feedback">
                  <div *ngIf="f['field_email'].errors && f['field_email'].errors['required']">
                    {{ 'emailRequired' | translate }}
                  </div>
                  <div *ngIf="f['field_email'].errors && f['field_email'].errors['field_email']">
                    {{ 'enterValidEmail' | translate }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">{{ 'user.password' | translate }} :</label>
                <div class="pass-group">
                  <input class="form-control" [type]="Toggledata ? 'password' : 'text'" type="password"  [(ngModel)]="input1"
                    formControlName="field_password"
                    placeholder="{{ 'enterYour' | translate }}{{ 'user.password' | translate }}" id="password"
                    [ngClass]="{
                      'is-invalid':
                        f['field_password'].touched && f['field_password'].invalid
                    }" /> <br>
                    <label class="form-control-label">{{ 'user.confpassword' | translate }} :</label>
                    <br>
                    <input class="form-control" [type]="Toggledata ? 'password' : 'text'" type="password" [(ngModel)]="input2"
                    formControlName="field_password"
                    placeholder="{{ 'enterYour' | translate }}{{ 'user.password' | translate }}" id="password"
                    [ngClass]="{
                      'is-invalid':
                        f['field_password'].touched && f['field_password'].invalid
                    }" />
                  <span
                    [ngClass]="Toggledata == true ? 'fas toggle-field_password fa-eye-slash' : 'fas toggle-field_password fa-eye'"
                    (click)="iconLogle()"></span>
                  <div *ngIf="f['field_password'].touched && f['field_password'].invalid" class="invalid-feedback">
                    <div *ngIf="
                        f['field_password'].errors && f['field_password'].errors['required']
                      ">
                      {{ 'passwordRequired' | translate }}
                    </div>
                  </div>
                  <div class="invalid-feedback" *ngIf="CustomControler?.status === 'password'">
                    {{ CustomControler.message }}
                  </div>
                </div>
                <div style="background-color: rgba(248, 180, 71, 0.575);
                border-radius: 5px;
                padding: 5px;
                margin-top: 5px"><b style="color: #000"> {{ 'pwdShouldBe' | translate }}: </b><br>
                  <ol>
                    <li>{{ 'upTo8Char' | translate }}</li>
                    <li>{{ 'upTo1Captal' | translate }}</li>
                    <li>{{ 'upTo1Number' | translate }}</li>
                    <li>{{ 'upTo1SpecialCahr' | translate }}</li>
                  </ol>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-12">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" formControlName="field_agree" class="custom-control-input" id="cb2" />
                      <label class="custom-control-label ms-1" for="cb2">{{ 'agreeAll' | translate }} <a href="">{{
                          'terms' | translate }}</a> {{ 'and' | translate }} <a href="">{{ 'policy' | translate }}</a>
                        {{ 'dataUsage' | translate }}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group mb-0">
                <button *ngIf="!waitingResponse" [disabled]="form.invalid" (click)="comparer()"
                  class="btn btn-lg btn-block btn-primary w-100" type="submit">
                  {{ 'register' | translate }}
                </button>
                <div *ngIf="waitingResponse">
                  <app-progress-indeterminate></app-progress-indeterminate>
                </div>
              </div>
            </form>
            <!-- /Form -->

            <div class="login-or">
              <span class="or-line"></span>
              <span class="span-or">{{ 'or' | translate }}</span>
            </div>
            <!-- Social Login -->
            <div class="social-login">
              <span>{{ 'connectWith' | translate }}</span>
              <a href="javascript:void(0);" class="facebook"><i class="fab fa-facebook-f"></i></a><a
                href="javascript:void(0);" class="google"><i class="fab fa-google"></i></a>
            </div>
            <!-- /Social Login -->
            <div class="text-center dont-have">
              {{ 'haveAccount' | translate }}? <a [routerLink]="'/login'">Connexion</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="mailSended">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">



        <!-- Header -->
        <header class="w3-container w3-theme w3-padding" id="myHeader"
          style="background-color: #fff !important; border-radius: 10px;">
          <div class="w3-center">
            <h1 class="w3-xxxlarge w3-animate-bottom">{{ 'congrate' | translate }} !</h1>
            <h4>{{ 'anonceLastStep' | translate }}</h4>
          </div>
        </header>

        <!-- Modal -->
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-theme-l1">
              <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-display-topright">×</span>
              <h4>Oh snap! We just showed you a modal..</h4>
              <h5>Because we can <i class="fa fa-smile-o"></i></h5>
            </header>
            <div class="w3-padding">
              <p>Cool huh? Ok, enough teasing around..</p>
              <p>Go to our <a class="w3-btn" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
            </div>
            <footer class="w3-container w3-theme-l1">
              <p>Modal footer</p>
            </footer>
          </div>
        </div>

        <div class="w3-row-padding w3-center w3-margin-top">
          <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:460px; color: #fff;">
              <h3 style="color: #fff">{{ 'step' | translate }}</h3><br>
              <div style="font-size:120px; color: #fff;">1</div>
              <p>{{ 'openYourMail1' | translate }} </p>
              <p>{{ 'openYourMail2' | translate }}</p>
            </div>
          </div>

          <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:460px; color: #fff;">
              <h3 style="color: #fff">{{ 'step' | translate }}</h3><br>
              <div style="font-size:120px; color: #fff;">2</div>
              <p>{{ 'openConfirmMail1' | translate }} </p>
              <p>{{ 'openConfirmMail2' | translate }}</p>
            </div>
          </div>

          <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:460px; color: #fff;">
              <h3 style="color: #fff">{{ 'step' | translate }}</h3><br>
              <div style="font-size:120px; color: #fff;">3</div>
              <p>{{ 'clickConfirm1' | translate }} </p>
              <p>{{ 'clickConfirm2' | translate }}</p>
              <p>{{ 'clickConfirm3' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="w3-padding-32" style="color: #fff;"> {{ 'and' | translate }}
          <a [routerLink]="'/login-form'">
            <button class="w3-btn w3-xlarge login-nav" onclick="document.getElementById('id01').style.display='block'"
              style="font-weight:900; margin-left: 10px;"> {{ 'connexion' | translate }}</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="en" (click)="setFrLang()" id="change-lang">
  <a style="color: #fff;"><img src="assets/img/flags/fr.png" alt="Retourner en haut" />Français</a>
</div>
<div *ngIf="fr" (click)="setEnLang()" id="change-lang">
  <a style="color: #fff;"><img src="assets/img/flags/us.png" alt="Retourner en haut" />English</a>
</div>
<!-- /Main Wrapper -->