<!-- Main Wrapper -->
<div class="main-wrapper login-body bg-img">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox" *ngIf="!mailSended">
        <div class="login-right">
          <div class="login-right-wrap">
            <img class="img-fluid logo-dark mb-2" src="assets/img/logo-small.png" alt="Logo" [routerLink]="['welcome']" routerLinkActive="router-link-active"
              style="height: 10vw; width: 20vw !important;" />
            <!-- <br> -->
            <h1>{{ 'register' | translate }}</h1>
            <!-- <p class="account-subtitle">{{ 'needAccound' | translate }}.</p> -->

            <!-- Form -->
            <div *ngIf="step === 1 ">
              <form [formGroup]="form1">
                <!-- <p class="account-subtitle">{{ 'persinfo' | translate }}.</p> --> <br>
                <div class="form-group">
                  <label class="form-control-label">{{ 'user.firstName' | translate }}<span class="text-danger"> *</span></label>
                  <input class="form-control" type="text" formControlName="field_firstName"
                    placeholder="{{ 'enterYour' | translate }}{{ 'user.firstName' | translate }}" id="field_firstName"
                    [ngClass]="{
                      'is-invalid': form1.get('field_firstName').invalid && (f1Submitted || form1.get('field_firstName').touched), 'invalid-input': form1.get('field_firstName').invalid && (f1Submitted || form1.get('field_firstName').touched), 'valid-input': form1.get('field_firstName').valid,
                      'initial-input': form1.get('field_firstName').errors?.required
                    }" />
                  <div *ngIf="form1.get('field_firstName').invalid && (f1Submitted || form1.get('field_firstName').touched)" class="invalid-feedback">
                    <div *ngIf="form1.get('field_firstName').errors?.required">
                      {{ 'firstNameRequired' | translate }}
                    </div>
                  </div>
                  <p class="firstname-message" *ngIf="form1.get('field_firstName').touched && form1.get('field_firstName').errors?.minlength">Au moins 4 caractères</p>
                </div>

                <div class="form-group">
                  <label class="form-control-label">{{ 'user.lastName' | translate }}<span class="text-danger"> *</span></label>
                  <input class="form-control" type="text" formControlName="field_lastName"
                    placeholder="{{ 'enterYour' | translate }}{{ 'user.lastName' | translate }}" id="field_lastName"
                    [ngClass]="{
                      'is-invalid': form1.get('field_lastName').invalid && (f1Submitted || form1.get('field_lastName').touched), 'invalid-input': form1.get('field_lastName').invalid && (f1Submitted || form1.get('field_lastName').touched), 'valid-input': form1.get('field_lastName').valid,
                      'initial-input': form1.get('field_lastName').errors?.required
                    }" />
                  <div *ngIf="form1.get('field_lastName').invalid && (f1Submitted || form1.get('field_lastName').touched)" class="invalid-feedback">
                    <div *ngIf="form1.get('field_lastName').errors?.required">
                      {{ 'firstNameRequired' | translate }}
                    </div>
                  </div>
                  <p class="firstname-message" *ngIf="form1.get('field_lastName').touched && form1.get('field_lastName').errors?.minlength">Au moins 4 caractères</p>
                </div>

                <div class="form-group">
                  <label class="form-control-label">{{ 'user.gender' | translate }}<span class="text-danger"> *</span></label>
                  <select class="form-control" id="sexe" formControlName="field_Sexe" 
                  [ngClass]="{
                    'is-invalid': form1.get('field_Sexe').invalid && (f1Submitted || form1.get('field_Sexe').touched), 'invalid-input': form1.get('field_Sexe').invalid && (f1Submitted || form1.get('field_Sexe').touched), 'valid-input': form1.get('field_Sexe').valid,
                    'initial-input': form1.get('field_Sexe').errors?.required
                  }">
                  <option value="">--{{ 'user.selectGender' | translate }}--</option>
                    <option value="Mr"> {{ 'man' | translate }}</option>
                    <option value="Ms"> {{ 'woman' | translate }}</option>
                  </select>
                  <div *ngIf="form1.get('field_Sexe').invalid && (f1Submitted || form1.get('field_Sexe').touched)" class="invalid-feedback">
                    <div *ngIf="form1.get('field_Sexe').errors?.required">
                      {{ 'sexeRequired' | translate }}
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-group-label">{{ 'user.dateofbirth' | translate }}<span class="text-danger"> *</span></label>
                  <input class="form-control" type="date" formControlName="field_date" id="field_date"
                    [ngClass]="{
                      'is-invalid': form1.get('field_date').invalid && (f1Submitted || form1.get('field_date').touched), 'invalid-input': form1.get('field_date').invalid && (f1Submitted || form1.get('field_date').touched), 'valid-input': form1.get('field_date').valid,
                      'initial-input': form1.get('field_date').errors?.required
                    }" />
                  <div *ngIf="form1.get('field_date').invalid && (f1Submitted || form1.get('field_date').touched)" class="invalid-feedback">
                    <div *ngIf="form1.get('field_date').errors?.required">
                      {{ 'dateRequired' | translate }}
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-control-label">{{ 'user.country' | translate }}<span class="text-danger"> *</span></label>
                  <select (change)="onCountryChanged($event)" name="country" id="country-select" class="form-control"
                    formControlName="field_country" 
                    [ngClass]="{
                      'is-invalid': form1.get('field_country').invalid && (f1Submitted || form1.get('field_country').touched), 'invalid-input': form1.get('field_country').invalid && (f1Submitted || form1.get('field_country').touched), 'valid-input': form1.get('field_country').valid,
                      'initial-input': form1.get('field_country').errors?.required
                    }">
                    <option value="">--{{ 'selectCountry' | translate }}--</option>
                    <option *ngFor="let country of countries" value="{{country.id}}" id="{{country.ISO}}">
                      {{country.name}}
                    </option>
                  </select>
                  <div *ngIf="form1.get('field_country').invalid && (f1Submitted || form1.get('field_country').touched)" class="invalid-feedback">
                    <div *ngIf="form1.get('field_country').errors?.required">
                      {{ 'countryRequired' | translate }}
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-control-label">{{ 'user.location' | translate }}<span class="text-danger"> *</span></label>
                  <select name="city" id="city-select" class="form-control" formControlName="field_location" 
                  [ngClass]="{
                    'is-invalid': form1.get('field_location').invalid && (f1Submitted || form1.get('field_location').touched), 'invalid-input': form1.get('field_location').invalid && (f1Submitted || form1.get('field_location').touched), 'valid-input': form1.get('field_location').valid,
                    'initial-input': form1.get('field_location').errors?.required
                  }">
                    <option value="">--{{ 'selectCity' | translate }}--</option>
                    <option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</option>
                  </select>
                  <div *ngIf="form1.get('field_location').invalid && (f1Submitted || form1.get('field_location').touched)" class="invalid-feedback">
                    <div *ngIf="form1.get('field_location').errors?.required">
                      {{ 'cityRequired' | translate }}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-control-label">{{ 'user.phone' | translate }}</label>
                   <br>
                   <ngx-intl-tel-input
                     [cssClass]="'form-control'"
                     [enableAutoCountrySelect]="false"
                     [enablePlaceholder]="true"
                     [searchCountryFlag]="false"
                     [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                     [selectFirstCountry]="false"
                     [selectedCountryISO]="currentCountry.ISO"
                     [separateDialCode]="true"
                     [phoneValidation]="true"
                     name="phone"
                     formControlName="field_phone"
                     [onlyCountries]="onlyCountry"
                    >
                   </ngx-intl-tel-input>
                   <div *ngIf="form1.get('field_phone').invalid && (f1Submitted || form1.get('field_phone').touched)" class="invalid-feedback">
                      {{ 'phoneInvalid' | translate }}
                   </div>
                 </div>
                <br>

                <div class="wrapper" style="display: flex; justify-content: flex-end;">
                  <a (click)="next()" style="
                  font-size: 15px;
                  padding-left: 10px;"><b><span>{{'next'| translate}} &raquo;</span></b></a>
                </div><br><br>

              </form>
            </div>

            <div *ngIf="step === 2">
              <form [formGroup]="form2">
                <!-- <p class="account-subtitle">{{ 'userinfo' | translate }}.</p> --> <br>
                <div class="form-group">
                  <label class="form-control-label">{{ 'user.emailAddress' | translate }}<span class="text-danger">*</span></label>
                  <input class="form-control" type="email" formControlName="field_email"
                    placeholder="{{ 'enterYour' | translate }}{{ 'user.lastName' | translate }}" id="field_email"
                    [ngClass]="{
                      'is-invalid': form2.get('field_email').invalid && (f2Submitted || form2.get('field_email').touched), 'invalid-input': form2.get('field_email').invalid && (f2Submitted || form2.get('field_email').touched), 'valid-input': form2.get('field_email').valid,
                      'initial-input': form2.get('field_email').errors?.required
                    }" />
                  <div *ngIf="form2.get('field_email').invalid && (f2Submitted || form2.get('field_email').touched)" class="invalid-feedback">
                    <div *ngIf="form2.get('field_email').errors?.required">
                      {{ 'emailRequired' | translate }}
                    </div>
                    <div *ngIf="form2.get('field_email')?.errors['email']">
                      {{ 'enterValidEmail' | translate }}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-control-label">{{ 'user.password' | translate }}<span class="text-danger">*</span></label>
                  <div class="pass-group">
                    <input class="form-control" [type]="hashedPassword ? 'password' : 'text'" type="password"
                      formControlName="field_password" autocomplete="false"
                      placeholder="{{ 'enterYour' | translate }}{{ 'user.password' | translate }}" id="password"
                      [ngClass]="{
                        'is-invalid': form2.get('field_password').invalid && (f2Submitted || form2.get('field_password').touched), 'invalid-input': form2.get('field_password').invalid && (f2Submitted || form2.get('field_password').touched), 'valid-input': form2.get('field_password').valid,
                        'initial-input': form2.get('field_password').errors?.required
                      }" 
                    />
                    <div *ngIf="form2.get('field_password').invalid && (f2Submitted || form2.get('field_password').touched)" class="invalid-feedback">
                        <div *ngIf="form2.get('field_password')?.errors.required">
                          {{ 'passwordRequired' | translate }}
                        </div>
                        <div *ngIf="form2.get('field_password')?.errors['pattern']">
                          {{ 'passwordFormat' | translate }}
                        </div>
                        <div *ngIf="!form2.get('field_password')?.errors['pattern'] && form2.get('field_password')?.errors?.minlength">
                          {{ 'passwordLength' | translate }}
                        </div>
                    </div>
                    <br>
                    <label class="form-control-label">{{ 'user.confpassword' | translate }}<span class="text-danger">*</span></label>
                    <br>
                    <div class="input-group mb-3">
                      <input class="form-control" [type]="hashedPassword ? 'password' : 'text'"
                        formControlName="field_password_confirm" autocomplete="false"
                        placeholder="{{ 'confirmYour' | translate }}{{ 'user.password' | translate }}" id="field_password_confirm"
                        [ngClass]="{
                          'is-invalid':
                            (f2Submitted || form2.get('field_password_confirm').touched) && form2.get('field_password_confirm').invalid
                        }" />
                        <span class="input-group-text" id="togglePassword" (click)="togglePasswordVisibility()">
                          <i class="fas toggle-field_password" [ngClass]="hashedPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </span>
                    </div>
                    <div *ngIf="(f2Submitted || form2.get('field_password_confirm').touched) && form2.get('field_password_confirm').invalid">
                      <div *ngIf="form2.get('field_password_confirm').errors['required']" class="custom-invalid-feedback">
                        {{ 'passwordRequired' | translate }}
                      </div>
                      <div *ngIf="!form2.get('field_password_confirm').errors['required'] && form2.get('field_password_confirm').errors['notEquivalent']" class="custom-invalid-feedback">
                        {{ 'passwordsNotMatch' | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="mt-2" style="background-color: rgba(248, 180, 71, 0.575);
                    border-radius: 5px;
                    padding: 15px;
                    margin-top: 5px">
                    <b style="color: #000"> {{ 'pwdShouldBe' | translate }} </b> <br>
                    <ol class="pt-2">
                      <li>
                        <input type="checkbox" class="checkbox-inside">
                        <i class="fa-solid fa-check fa-beat fa-xl custom-check" style="color: #3dcb15;" [ngClass]="{'condition-true': !form2.get('field_password')?.errors?.minlength}" ></i>
                        {{ 'upTo8Char' | translate }}
                      </li>
  
                      <li>
                        <input type="checkbox" class="checkbox-inside">
                        <i class="fa-solid fa-check fa-beat fa-xl custom-check" style="color: #3dcb15;"  [ngClass]="{'condition-true': passwordFunction.uppercaseChar(form2.get('field_password').value)}"></i>
                        {{ 'upTo1Captal' | translate }}
                      </li>
                      <li>
                        <input type="checkbox" class="checkbox-inside">
                        <i class="fa-solid fa-check fa-beat fa-xl custom-check" style="color: #3dcb15;" [ngClass]="{'condition-true': passwordFunction.numberChar(form2.get('field_password').value)}" ></i>
                        {{ 'upTo1Number' | translate }}
                      </li>
                      <li>
                        <input type="checkbox" class="checkbox-inside">
                        <i class="fa-solid fa-check fa-beat fa-xl custom-check" style="color: #3dcb15;" [ngClass]="{'condition-true': passwordFunction.specialChar(form2.get('field_password').value)}" ></i>
                        {{ 'upTo1SpecialCahr' | translate }}
                      </li>
                      <li>
                        <input type="checkbox" class="checkbox-inside">
                        <i class="fa-solid fa-check fa-beat fa-xl custom-check" style="color: #3dcb15;" [ngClass]="{'condition-true': !form2.get('field_password').errors?.required && passwordsMatch()}" ></i>
                        {{ 'passwordMatch' | translate }}
                      </li>
                    </ol>
                  </div>
                </div>
                <div class="form-group">
                  <div class="custom-control d-flex">
                    <input type="checkbox" formControlName="field_agree" id="field_agree"  class="custom-select"
                    [ngClass]="{
                      'is-invalid':
                        f2Submitted && form2.get('field_agree').invalid
                    }" />
                    <label id="label" class="custom-checkbox" for="field_agree">{{ 'agreeAll' | translate }} <a class="inside-line" href="">{{
                        'terms' | translate }}</a> {{ 'and' | translate }} <a class="inside-line" href="">{{ 'policy' | translate }}</a>
                      {{ 'dataUsage' | translate }}
                    </label>
                  </div>
                  <div *ngIf="form2.get('field_agree').invalid && f2Submitted">
                      <div *ngIf="form2.get('field_agree').errors['required']" class="custom-invalid-feedback">
                        {{ 'agreeRequired' | translate }}
                      </div>
                  </div>
                </div>
                <div class="wrapper" style="display: flex;">
                  <a (click)="previous()" style="width: 16vh !important;
                  font-size: 15px;
                  padding-left: 10px;"><b><span>&laquo; {{'back'| translate}}</span></b></a>
                </div><br><br>

                <div class="form-group mb-0">
                  <button *ngIf="!waitingResponse" [disabled]="step < 2"  (click)="submit()"
                    class="btn btn-lg btn-block btn-primary w-100" type="button">
                    {{ 'register' | translate }}
                  </button>
                  <div *ngIf="waitingResponse">
                    <app-progress-indeterminate></app-progress-indeterminate>
                  </div>
                </div>
                <br>
              </form>
            </div>
            <!-- /Form -->

            <div class="login-or">
              <span class="or-line"></span>
              <span class="span-or">{{ 'or' | translate }}</span>
            </div>
            <!-- Social Login -->
            <div class="social-login">
              <span>{{ 'connectWith' | translate }}</span>
              <a href="javascript:void(0);" class="facebook"><i class="fab fa-facebook-f"></i></a><a
                href="javascript:void(0);" class="google"><i class="fab fa-google"></i></a>
            </div>
            <!-- /Social Login -->
            <div class="text-center dont-have">
              {{ 'haveAccount' | translate }}? <a [routerLink]="'/login'" style="color: #1749a5;">Connexion</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="mailSended">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">



        <!-- Header -->
        <header class="w3-container w3-theme w3-padding" id="myHeader"
          style="background-color: #fff !important; border-radius: 10px;">
          <div class="w3-center">
            <h1 class="w3-xxxlarge w3-animate-bottom">{{ 'congrate' | translate }} !</h1>
            <h4>{{ 'anonceLastStep' | translate }}</h4>
          </div>
        </header>

        <!-- Modal -->
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-theme-l1">
              <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-display-topright">×</span>
              <h4>Oh snap! We just showed you a modal..</h4>
              <h5>Because we can <i class="fa fa-smile-o"></i></h5>
            </header>
            <div class="w3-padding">
              <p>Cool huh? Ok, enough teasing around..</p>
              <p>Go to our <a class="w3-btn" href="https://yaba-in.com">Yaba-In Tutorial</a> to learn more!</p>
            </div>
            <footer class="w3-container w3-theme-l1">
              <p>Modal footer</p>
            </footer>
          </div>
        </div>

        <div class="w3-row-padding w3-center w3-margin-top">
          <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:460px; background-color: #fff; color: #124eae;;">
              <h3 style="font-size: 2rem; color: #124eae;">{{ 'step' | translate }}</h3><br>
              <div style="font-size:120px; color: #124eae;;">1</div>
              <p>{{ 'openYourMail1' | translate }} </p>
              <p>{{ 'openYourMail2' | translate }}</p>
            </div>
          </div>

          <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:460px; background-color: #fff; color: #124eae;;">
              <h3 style="font-size: 2rem; color: #124eae;">{{ 'step' | translate }}</h3><br>
              <div style="font-size:120px; color: #124eae;;">2</div>
              <p>{{ 'openConfirmMail1' | translate }} </p>
              <p>{{ 'openConfirmMail2' | translate }}</p>
            </div>
          </div>

          <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:460px; background-color: #fff; color: #124eae;;">
              <h3 style="font-size: 2rem; color: #124eae;">{{ 'step' | translate }}</h3><br>
              <div style="font-size:120px; color: #124eae;;">3</div>
              <p>{{ 'clickConfirm1' | translate }} </p>
              <p>{{ 'clickConfirm2' | translate }}</p>
              <p>{{ 'clickConfirm3' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="w3-padding-32" style="color: #fff;"> {{ 'and' | translate }}
          <a [routerLink]="'/login'">
            <button class="w3-btn w3-xlarge login-nav" onclick="document.getElementById('id01').style.display='block'"
              style="font-weight:900; margin-left: 10px;"> {{ 'connexion' | translate }}</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-language-template></app-language-template>
<!-- /Main Wrapper -->
