
<!-- footer begin -->
<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-7 col-sm-9">
                    <div class="part-about">
                        <div class="footer-logo">
                            <a>
                                <img src="../../../assets/img/sl_darkBG.png" alt="LOGO" style="width: 200px; height: 40px;">
                            </a>
                        </div>
                        <p>{{ 'footer.content' | translate }}</p>
                        <ul class="importants-links">
                            <li class="single-link">
                                <a>{{ 'footer.policy' | translate }}</a>
                            </li>
                            <li class="single-link">
                                <a>{{ 'footer.terms' | translate }}</a>
                            </li>
                            <li class="single-link">
                                <a>{{ 'footer.privacy' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <p class="copyright-text">©
                    {{ 'footer.copyright' | translate }} {{ 'footer.poweredBy' | translate }} Yaba-In
                </p>
                <ul class="social-link">
                    <li class="single-social">
                        <a>
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="single-social">
                        <a>
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="single-social">
                        <a>
                            <i class="fa-brands fa-brands fa-google"></i>
                        </a>
                    </li>
                </ul>
                <div class="footer-menu">
                    <ul>
                        <li>
                            <a class="single-menu">{{ 'home' | translate }}</a>
                        </li>
                        <li>
                            <a class="single-menu">{{ 'about' | translate }}</a>
                        </li>
                        <li>
                            <a class="single-menu">{{ 'community' | translate }}</a>
                        </li>
                        <li>
                            <a class="single-menu">{{ 'contact' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
