<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">{{ 'words.addNewWords' | translate }}</h4><br>
				<div class="row">
					<div class="col-md-6">
						<form (ngSubmit)="addWords()" [formGroup]="wordEnForm">
							<div class="form-group">
								<label for="name">{{ 'words.wordInEn' | translate }} <span
										class="mandatory">*</span></label>
								<input class="form-control" type="text" formControlName="name"
									placeholder="{{ 'words.word' | translate }}" id="name" [ngClass]="{
								  'is-invalid': f['name'].touched && f['name'].invalid
								}" required />
								<div *ngIf="f['name'].touched && f['name'].invalid" class="invalid-feedback">
									<div *ngIf="f['name'].errors && f['name'].errors['required']" style="color: red;">
										{{ 'required' | translate }}
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="form-control-label">{{ 'words.level' | translate }} :</label>
								<select name="gameLevelId" id="gameLevelId" class="form-control"
									formControlName="gameLevelId" [ngClass]="{
								'is-invalid': f['gameLevelId'].touched && f['gameLevelId'].invalid
							  }" required>
									<option value="">-- {{ 'select' | translate }} --</option>
									<option *ngFor="let level of levelList" value="{{level._id}}">
										{{level.name}}
									</option>
								</select>
								<div *ngIf="f['gameLevelId'].touched && f['gameLevelId'].invalid"
									class="invalid-feedback">
									<div *ngIf="f['gameLevelId'].errors && f['gameLevelId'].errors['required']">
										{{ 'required' | translate }}
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>{{ 'description' | translate }} <span class="mandatory">*</span></label>
								<textarea rows="5" cols="5" class="form-control" placeholder="Enter Address"
									formControlName="description" id="description" [ngClass]="{
								  'is-invalid': f['description'].touched && f['description'].invalid
								}" required></textarea>
								<div *ngIf="f['description'].touched && f['description'].invalid"
									class="invalid-feedback">
									<div *ngIf="f['description'].errors && f['description'].errors['required']"
										style="color: red;">
										{{ 'required' | translate }}
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<!-- <form>
							<div class="form-group">
								<label>{{ 'words.wordInFr' | translate }} <span class="mandatory">*</span></label>
								<input type="text" class="form-control" formControlName="customerPrimaryContact" required>
								<div
									*ngIf="wordEnForm.get('customerPrimaryContact')?.invalid && wordEnForm.get('customerPrimaryContact')?.touched">
									<small class="text-danger">required</small>
								</div>
							</div>
							<div class="form-group">
								<label>{{ 'words.wordDescriptionFr' | translate }} <span
										class="mandatory">*</span></label>
								<textarea rows="5" cols="5" class="form-control" placeholder="Enter Address"
									formControlName="customerBillingAddress"></textarea>
								<div
									*ngIf="wordEnForm.get('customerBillingAddress')?.invalid && wordEnForm.get('customerBillingAddress')?.touched">
									<small class="text-danger">required</small>
								</div>
							</div>
						</form> -->
					</div>
				</div>
				<div class="text-end mt-4">
					<div class="text-end mt-4">
						<button *ngIf="!waitingResponse" type="button" class="btn btn-success" (click)="addWords()">
							<span> {{'add' | translate }}</span>
						</button>
						<button type="button" class="btn btn-success" *ngIf="waitingResponse" disabled>
							<span><img src="../../../../../assets/img/loader.gif" alt="" width="30px"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>