<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Customers</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/'">Dashboard</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="'/customers/customers-list'">Customers</a></li>
                        <li class="breadcrumb-item active">Edit Customers</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic Info</h4>
                        <form (ngSubmit)="editCustomer()" [formGroup]="editCustomerForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" formControlName="customerName">
                                        <div *ngIf="editCustomerForm.get('customerName')?.invalid && editCustomerForm.get('customerName')?.touched">
                                            <small class="text-danger">*Name required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" formControlName="customerEmail">
                                        <div *ngIf="editCustomerForm.get('customerEmail')?.invalid && editCustomerForm.get('customerEmail')?.touched">
                                            <small class="text-danger">*Email required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Primary Currency</label>
                                        <select class="form-select" formControlName="customerCurrency">
                                            <option>Select Currency</option>
                                            <option>EUR Euro</option>
                                            <option>INR Indoan Rupee</option>
                                            <option>USD- US Dollar</option>
                                        </select>
                                        <div *ngIf="editCustomerForm.get('customerCurrency')?.invalid && editCustomerForm.get('customerCurrency')?.touched">
                                            <small class="text-danger">*Currency is required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Primary Contact Name</label>
                                        <input type="text" class="form-control" formControlName="customerPrimaryContact">
                                        <div *ngIf="editCustomerForm.get('customerPrimaryContact')?.invalid && editCustomerForm.get('customerPrimaryContact')?.touched">
                                            <small class="text-danger">*Primary Contact is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" formControlName="customerPhone">
                                        <div *ngIf="editCustomerForm.get('customerPhone')?.invalid && editCustomerForm.get('customerPhone')?.touched">
                                            <small class="text-danger">*Phone Number is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Website</label>
                                        <input type="text" class="form-control" formControlName="customerWebsite">
                                        <div *ngIf="editCustomerForm.get('customerWebsite')?.invalid && editCustomerForm.get('customerWebsite')?.touched">
                                            <small class="text-danger">*Website is required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="card-title mt-4">Billing Address</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" formControlName="customerBillingName">
                                        <div *ngIf="editCustomerForm.get('customerBillingName')?.invalid && editCustomerForm.get('customerBillingName')?.touched">
                                            <small class="text-danger">*Billing Name is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>State</label>
                                        <input type="text" class="form-control" formControlName="customerBillingState">
                                        <div *ngIf="editCustomerForm.get('customerBillingState')?.invalid && editCustomerForm.get('customerBillingState')?.touched">
                                            <small class="text-danger">*Billing State is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <textarea rows="5" cols="5" class="form-control" placeholder="Enter Address" formControlName="customerBillingAddress"></textarea>
                                        <div *ngIf="editCustomerForm.get('customerBillingAddress')?.invalid && editCustomerForm.get('customerBillingAddress')?.touched">
                                            <small class="text-danger">*Billing Address is required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <select class="form-select" formControlName="customerBillingCountry">
                                            <option>Select Country</option>
                                            <option>Afghanistan</option>
                                            <option>Afghanistan</option>
                                            <option>Albania</option>
                                            <option>Algeria</option>
                                            <option>American Samoa</option>
                                            <option>Andorra</option>
                                            <option>Angola</option>
                                            <option>Anguilla</option>
                                            <option selected>United States</option>
                                        </select>
                                        <div *ngIf="editCustomerForm.get('customerBillingCountry')?.invalid && editCustomerForm.get('customerBillingCountry')?.touched">
                                            <small class="text-danger">*Billing Country is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" formControlName="customerBillingCity">
                                        <div *ngIf="editCustomerForm.get('customerBillingCity')?.invalid && editCustomerForm.get('customerBillingCity')?.touched">
                                            <small class="text-danger">*Billing City is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" formControlName="customerBillingPhone">
                                        <div *ngIf="editCustomerForm.get('customerBillingPhone')?.invalid && editCustomerForm.get('customerBillingPhone')?.touched">
                                            <small class="text-danger">*Billing Phone Nomber is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Zip Code</label>
                                        <input type="text" class="form-control" formControlName="customerBillingZip">
                                        <div *ngIf="editCustomerForm.get('customerBillingZip')?.invalid && editCustomerForm.get('customerBillingZip')?.touched">
                                            <small class="text-danger">*Billing Zipcode is required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="card-title mt-4">Shipping Address</h4>
                            <div class="text-end">
                                <button type="submit" class="btn btn-outline-primary btn-sm">Copy from Billing</button>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name:</label>
                                        <input type="text" class="form-control" formControlName="customerShippingName">
                                        <div *ngIf="editCustomerForm.get('customerShippingName')?.invalid && editCustomerForm.get('customerShippingName')?.touched">
                                            <small class="text-danger">*Shipping Name is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>State:</label>
                                        <input type="text" class="form-control" formControlName="customerShippingState">
                                        <div *ngIf="editCustomerForm.get('customerShippingState')?.invalid && editCustomerForm.get('customerShippingState')?.touched">
                                            <small class="text-danger">*Shipping State is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address:</label>
                                        <textarea rows="5" cols="5" class="form-control" placeholder="Enter Address" formControlName="customerShippingAddress"></textarea>
                                        <div *ngIf="editCustomerForm.get('customerShippingAddress')?.invalid && editCustomerForm.get('customerShippingAddress')?.touched">
                                            <small class="text-danger">*Shipping Address is required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Country:</label>
                                        <select class="form-select" formControlName="customerShippingCountry">
                                            <option>Select Country</option>
                                            <option value="Afganistan">Afghanistan</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="American Samoa">American Samoa</option>
                                            <option value="Andorra">Andorra</option>
                                            <option value="Angola">Angola</option>
                                            <option value="Anguilla">Anguilla</option>
                                        </select>
                                        <div *ngIf="editCustomerForm.get('customerShippingCountry')?.invalid && editCustomerForm.get('customerShippingCountry')?.touched">
                                            <small class="text-danger">*Shipping Country is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>City:</label>
                                        <input type="text" class="form-control" formControlName="customerShippingCity">
                                        <div *ngIf="editCustomerForm.get('customerShippingCity')?.invalid && editCustomerForm.get('customerShippingCity')?.touched">
                                            <small class="text-danger">*Shipping City is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone:</label>
                                        <input type="text" class="form-control" formControlName="customerShippingPhone">
                                        <div *ngIf="editCustomerForm.get('customerShippingPhone')?.invalid && editCustomerForm.get('customerShippingPhone')?.touched">
                                            <small class="text-danger">*Shipping Phone is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Zip Code:</label>
                                        <input type="text" class="form-control" formControlName="customerShippingZip">
                                        <div *ngIf="editCustomerForm.get('customerShippingZip')?.invalid && editCustomerForm.get('customerShippingZip')?.touched">
                                            <small class="text-danger">*Shipping Zipcode is required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" formControlName="amount_due">
                            <input type="hidden" formControlName="registered_on">
                            <input type="hidden" formControlName="status">
                            <input type="hidden" formControlName="role">
                            <div class="text-end mt-4">
                                <button type="submit" class="btn btn-primary">Update Customer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
