
<!-- testimonial begin -->
<div class="testimonial">
    <div class="bg-shape-1">
        <img src="assets/img/bg-shape/bg-shape-1.png" alt="">
    </div>
    <img src="assets/img/bg-shape/bg-shape-3.png" alt="" class="bg-shape-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title">
                    <!-- <h3 class="sub-title">{{ 'testimonials.testimonials' | translate }}</h3> -->
                    <!-- <h3 class="sub-title">{{ 'testimonials.userFeedback' | translate }}</h3> -->
                    <h2 class="title">{{ 'testimonials.userFeedback' | translate }}</h2>
                </div>
            </div>
        </div>
        <div class="testimonial-carousel owl-carousel owl-theme">
            <div class="single-testimonial">
                <div class="part-user-info">
                    <span class="user-name">Flambel SANOU</span>
                    <span class="lottery-category">Powerball. Winner</span>
                    <span class="winning-date">( Jan - 2023 )</span>
                </div>
                <div class="user-img-cover">
                    <div class="part-img">
                        <img src="assets/img/testimonial/flambel.png" alt="">
                    </div>
                </div>
                <div class="part-feedback">
                    <p><img class="quot-1" src="assets/img/testimonial/quot-icon-1.png" alt="">
                        {{ 'testimonials.userTestimonial' | translate }}
                        <img class="quot-2" src="assets/img/testimonial/quot-icon-2.png" alt="">
                    </p>
                </div>
            </div>
            <div class="single-testimonial">
                <div class="part-user-info">
                    <span class="user-name">Cécric NGUENDAP</span>
                    <span class="lottery-category">US Lotto. Winner</span>
                    <span class="winning-date">( Dec - 2022 )</span>
                </div>
                <div class="user-img-cover">
                    <div class="part-img">
                        <img src="assets/img/testimonial/cedric.jpeg" alt="">
                    </div>
                </div>
                <div class="part-feedback">
                    <p><img class="quot-1" src="assets/img/testimonial/quot-icon-1.png" alt="">
                        {{ 'testimonials.userTestimonial' | translate }}
                        <img class="quot-2" src="assets/img/testimonial/quot-icon-2.png" alt="">
                    </p>
                </div>
            </div>
            <div class="single-testimonial">
                <div class="part-user-info">
                    <span class="user-name">Hussein MENKAM</span>
                    <span class="lottery-category">MagaMill. Winner</span>
                    <span class="winning-date">( apr - 2022 )</span>
                </div>
                <div class="user-img-cover">
                    <div class="part-img">
                        <img src="assets/img/testimonial/jumpy.png" alt="">
                    </div>
                </div>
                <div class="part-feedback">
                    <p><img class="quot-1" src="assets/img/testimonial/quot-icon-1.png" alt="">
                        {{ 'testimonials.userTestimonial' | translate }}
                        <img class="quot-2" src="assets/img/testimonial/quot-icon-2.png" alt="">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial end -->