<!-- Main Wrapper -->
<div class="main-wrapper login-body bg-img">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-right">
          <div class="login-right-wrap">
            <img class="img-fluid logo-dark mb-2" src="assets/img/logo-small.png" alt="Logo" routerLink="['/']"
            style="height: 10vw; width: 20vw !important;"/>
              <br>
            <h1>{{ 'connexion' | translate }}</h1>
            <!-- <p class="account-subtitle"> Accédez à votre tableau de bord</p> -->

            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="form-group">
                <label class="form-control-label">{{ 'user.emailAddress' | translate }}<span class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="field_email" placeholder="{{ 'enterYour' | translate }}{{ 'user.emailAddress' | translate }}"
                  id="field_email" [ngClass]="{
                    'is-invalid': f['field_email'].touched && f['field_email'].invalid
                  }" />
                <div class="invalid-feedback" *ngIf="CustomControler?.status === 'email'">
                  {{ CustomControler.message }}
                </div>
                <div *ngIf="f['field_email'].touched && f['field_email'].invalid" class="custom-invalid-feedback">
                  <div *ngIf="f['field_email'].errors && f['field_email'].errors['required']">
                    {{ 'emailRequired' | translate }}
                  </div>
                  <div *ngIf="f['field_email'].errors && f['field_email'].errors['field_email']">
                    {{ 'enterValidEmail' | translate }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">{{ 'user.password' | translate }}</label>
                <div class="pass-group">
                  <div class="input-group mb-3">
                    <input class="form-control" [type]="passwordFunctions.hashedPassword ? 'password' : 'text'"
                      formControlName="password" autocomplete="false"
                      placeholder="{{ 'EnterYour' | translate }}{{ 'user.password' | translate }}" id="password"
                      [ngClass]="{
                        'is-invalid':
                          (submitted || f['password'].touched) && f['password'].invalid
                      }" 
                    />
                    <span class="input-group-text" id="togglePassword" (click)="passwordFunctions.togglePasswordVisibility()">
                      <i class="fas toggle-password" [ngClass]="passwordFunctions.hashedPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>
                  </div>
                  <div *ngIf="(submitted || f['password'].touched) && f['password'].invalid" class="custom-invalid-feedback">
                    <div *ngIf="
                        f['password'].errors && f['password'].errors['required']
                      ">
                      {{ 'passwordRequired' | translate }}
                    </div>
                  </div>
                  <div class="invalid-feedback" *ngIf="CustomControler?.status === 'password'">
                    {{ CustomControler.message }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                  <div class="custom-control d-flex">
                    <input type="checkbox" class="custom-control-input custom-select" id="cb1" />
                    <label class="custom-control-label ms-1 custom-checkbox" for="cb1">{{ 'stayCoonect' | translate }}</label>
                  </div> 
                  </div>
                  <div class="col-6 text-end">
                    <a class="forgot-link" [routerLink]="'/forgot-pass'">{{ 'forgotPwd' | translate }}</a>
                  </div>
                </div>
              </div>
              <button *ngIf="!waitingResponse" class="btn btn-lg btn-block btn-primary w-100" type="submit">
                {{ 'connexion' | translate }}
              </button>
              <div *ngIf="waitingResponse">
                <app-progress-indeterminate></app-progress-indeterminate>
              </div>
              <div class="login-or">
                <span class="or-line"></span>
                <span class="span-or">{{ 'or' | translate }}</span>
              </div>
              <!-- Social Login -->
              <div class="social-login mb-3">
                <span>{{ 'connectWith' | translate }}</span>
                <a href="javascript:void(0);" class="facebook"><i class="fab fa-facebook-f"></i></a><a
                  href="javascript:void(0);" class="google"><i class="fab fa-google"></i></a>
              </div>
              <!-- /Social Login -->
              <div class="text-center dont-have">
                {{ 'dontHaveAccount' | translate }}
                <a [routerLink]="'/register'" style="color: #1749a5;">{{ 'createAccount' | translate }}</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-language-template></app-language-template>
<!-- /Main Wrapper -->