.right-side-views {
    display: none;
}
.bg-img{
 background-image: url("../../../../assets/img/elements.svg");
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #3063AD !important;
}