.right-side-views {
    display: none;
}
.bg-img{
 background-image: url("../../../../assets/img/elements.svg");
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #3063AD !important;
}

.forgot-link
{
background: linear-gradient(to top, #4f84da 0%, #4f84da 1px, transparent 1px) no-repeat;
background-size: 0 100%;
transition: background-size .3s;
}

.forgot-link:hover
{
background-size: 100% 100%;
}
