<div class="feature">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-8 col-md-8">
                <div class="part-left">
                    <div class="section-title">
                        <h3 class="sub-title">{{'whyWeAreBest.whyWeAreBest' | translate}}</h3>
                        <h2 class="title">{{'whyWeAreBest.weAreProud' | translate}}</h2>
                    </div>
                    <div class="part-img">
                        <img class="main-img" src="assets/img/feature/feature-img.png" alt="">
                        <img class="bg-img" src="assets/img/about/img-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12">
                <div class="feature-list">
                    <div class="row">
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-feature">
                                <div class="part-icon">
                                    <img src="assets/img/feature/icon-1.png" alt="">
                                </div>
                                <div class="part-text">
                                    <span class="title">{{'whyWeAreBest.sslSecLayer' | translate}}</span>
                                    <p>{{'whyWeAreBest.sslSecLayerContent' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-feature">
                                <div class="part-icon">
                                    <img src="assets/img/feature/icon-2.png" alt="">
                                </div>
                                <div class="part-text">
                                    <span class="title">{{'whyWeAreBest.quickNotif' | translate}}</span>
                                    <p>{{'whyWeAreBest.quickNotifContent' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-feature">
                                <div class="part-icon">
                                    <img src="assets/img/feature/icon-3.png" alt="">
                                </div>
                                <div class="part-text">
                                    <span class="title">{{'whyWeAreBest.noLostTickets' | translate}}</span>
                                    <p>{{'whyWeAreBest.noLostTicketsContent' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-feature">
                                <div class="part-icon">
                                    <img src="assets/img/feature/icon-4.png" alt="">
                                </div>
                                <div class="part-text">
                                    <span class="title">{{'whyWeAreBest.noLongLines' | translate}}</span>
                                    <p>{{'whyWeAreBest.noLongLinesContent' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-feature">
                                <div class="part-icon">
                                    <img src="assets/img/feature/icon-5.png" alt="">
                                </div>
                                <div class="part-text">
                                    <span class="title">{{'whyWeAreBest.securePay' | translate}}</span>
                                    <p>{{'whyWeAreBest.securePayContent' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-feature">
                                <div class="part-icon">
                                    <img src="assets/img/feature/icon-6.png" alt="">
                                </div>
                                <div class="part-text">
                                    <span class="title">{{'whyWeAreBest.friendlySupport' | translate}}</span>
                                    <p>{{'whyWeAreBest.friendlySupportContent' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>