<div id="filter_inputs" class="card filter-card">
	<div class="card-body pb-0">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="form-group">
					<label>Name</label>
					<input type="text" class="form-control" />
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="form-group">
					<label>Email</label>
					<input type="text" class="form-control" />
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="form-group">
					<label>Phone</label>
					<input type="text" class="form-control" />
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <p>
	<button (click)="backClicked()" class="btn btn-primary me-2"
		style="color: #035858 !important; background-color: #ffff !important;">
		<i class="fas fa-arrow-left"></i> {{ 'back' | translate }}
	</button>
</p> -->

<div class="text-center" *ngIf="roleService.waitingResponseUser">
	<img src="../../../../../assets/img/loader.gif" height="30px" />
</div>

<div class="row" *ngIf="!roleService.waitingResponseUser">

	<div class="col-sm-12" style="padding: 0;">
		<div class="card card-table">
			<div class="card-body">
				<div class="table-responsive">
					<table datatable class="table table-stripped table-hover">
						<thead class="thead-light">
							<tr>
								<th>{{'Name' | translate }}</th>
								<th>{{'user.email' | translate }}</th>
								<th>{{'Location' | translate }}</th>
								<th>{{'Phone' | translate }}</th>
								<th> <span> Role</span> </th>
								<th style="width: 10% !important;"
									class="text-center">{{'Action' | translate }}</th>

							</tr>
						</thead>
						<tbody *ngIf="roleService.listUsers.length != 0 ">
							<tr *ngFor="let user of roleService.listUsers; let i = index"
								(click)="userData = user">
								<td style="padding: 15px 15px 15px 0;">
									<h2 class="table-avatar">
										<a class="avatar avatar-sm me-2"><img
												class="avatar-img rounded-circle"
												src="../../../../../assets/img/3dAvatar.png"
												alt="User Image" /></a>
										<a>{{ user.firstName }} {{ user.lastName }}<span>{{
												user.phone }}</span></a>
									</h2>
								</td>

								<td> <span class="me-2">

										<svg xmlns="http://www.w3.org/2000/svg" color="#8e8b0c"
											width="16" height="16" fill="currentColor"
											class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
											<path
												d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671" />
											<path
												d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791" />

										</svg>

									</span>
									{{ user.email }}</td>

								<td>{{ user.location }}</td>
								<td>{{ user.phoneNumber}}</td>

								<td>

									<div class="btn-group ">

										<button type="button" class=" btn btn-light dropdown-toggle"
											style="border-radius: 0.65rem;    font-size: 12px;    font-weight: bold;padding: 2px 16px !important; background-color: #e6f7f0; color: #0c8e63;"
											data-bs-toggle="dropdown" aria-expanded="false">
											{{ getRoleName() }}
										</button>

									</div>

								</td>
								<td class="text-center">
									<a (click)="getRoleName()" data-bs-toggle="modal"
										data-bs-target="#removeRole"
										class="btn btn-sm btn-white action  me-2">

										<i class="fa fa-trash" aria-hidden="true"
											data-toggle="tooltip" data-placement="top"
											title="add role on this user"></i>
									</a>
								</td>
							</tr>
						</tbody>

						<tbody *ngIf="roleService.listUsers.length == 0 ">
							<tr>
								<td></td>
								<td class="text-center">
									<img src="../../../../../assets/img/no_result.gif"
										alt="No result" style="max-width: 200px;">
									<br>Aucun Critère !
								</td>
								<td></td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal custom-modal fade" id="removeRole" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"> Supprimer Role </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="modal-icon text-center mb-3">
				</div>
				<div class="modal-text text-center">
					<p>Voulez vous vraiment retirer le role: <br><br> <b>{{ roleChooseName }}
						</b>
						<br> <br>à
						l'utilisateur <b> ' {{ userData.firstName }} ' </b>? </p>
				</div>
			</div>

			<div class="modal-footer text-center" style="margin-top: 20px;">
				<button style="font-size: 13px;" type="button" class="btn btn-secondary"
					data-bs-dismiss="modal"
					id="cancel-btn2">
					Close
				</button>
				<button style="font-size: 13px;" type="button" class="btn btn-danger"
					*ngIf="!removeDone"
					(click)="doRemove()">
					<span *ngIf="!waitingResponse">Supprimer
						<i style="padding-left: 3px;" class="fa fa-trash"
							aria-hidden="true"></i> </span>
					<span *ngIf="waitingResponse"><img
							src="../../../../../assets/img/loader.gif" alt
							width="30px"></span>
				</button>
			</div>
		</div>
	</div>
</div>
