<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item" style="cursor: pointer;"><a [routerLink]="'/index'">Accueil</a></li>
                        <li class="breadcrumb-item" style="cursor: pointer;"><a [routerLink]="'/undercompetition/competition/list'">Competitions</a></li>
                        <li class="breadcrumb-item active"> Critères </li>
                    </ul>
                </div>
                 <div class="col-auto">
                    <a  class="btn btn-primary me-2" 
                        data-bs-target="#addCriteria"
                        data-bs-toggle="modal"
                        style="color: #035858 !important; background-color: #ffff !important;">
                        <i class="fas fa-plus"></i>
                    </a>
                </div> 
            </div>
        </div>

        <div class="text-center">
          <span *ngIf="competitionSrv.waitingCriteriasResp">
            <img src="../../../../../assets/img/loader.gif" alt="" width="30px">
          </span> 
        </div>

        <div class="row" *ngIf="!competitionSrv.waitingCriteriasResp">
                <div class="card card-table">
                  <div class="card-header">
                    <h4 class="card-title">Criterias list</h4>
                    <p class="card-text">
                        la liste des criteres de cette competition.
                    </p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table datatable class="table table-stripped table-hover">
                        <thead class="thead-light">
                          <tr>
                            <th>{{'Criteria Name' | translate }}</th>
                            <th>{{'Description' | translate }}</th>
                            
                            <th class="text-end">Actions</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="listCriterias.length !== 0 ">
                          <tr *ngFor="let criteria of listCriterias; let i = index"
                            (click)="criteriaChooseData = criteria" >
                            <td>
                              {{ criteria.name }}
                            </td>
                            <td>{{ criteria.description }}</td>
                            
                            <td class="text-end">
                              <a data-bs-toggle="modal" data-bs-target="#delete"
                                class="btn btn-sm btn-white text-danger me-2" (click)="selectedCriteria(criteria._id)">
                                <i class="far fa-trash-alt me-1"
                                data-toggle="tooltip" data-placement="top" title="delete this criteria for this competition">
                                </i>
                              </a>
                            </td>
                          </tr>
                        </tbody>

                        <tbody *ngIf="listCriterias.length == 0 " >
                            <tr>
                                <td></td>
                                <td class="text-center">
                                  <img src="../../../../../assets/img/no_result.gif" alt="No result" style="max-width: 200px;">
                                  <br>Aucun Critère !
                                </td>
                                <td></td>
                              </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  



        <div class="modal custom-modal fade" id="addCriteria" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"> Ajouter Critère </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="modal-icon text-center mb-3">
                   
                  </div>
                  <div class="modal-text text-center">
                    <p class="text-center" *ngIf="competitionSrv.waitingResponse">
                        <img src="../../../../../assets/img/loader.gif" alt="" height="30px">
                    </p>
                    <form [formGroup]="formAddCriteria">
                        <div class="form-group">
                            <label for="idCriteria">Criterias </label>
                            <select name="idCriteria" id="idCriteria" formControlName="idCriteria" class="form-control">
                               <option value="">--choose criteria--</option>
                               <option *ngFor="let criteria of competitionSrv.listWinningCriterias"  [value]="criteria._id">
                                    {{ criteria.name }}
                               </option>
                            </select>
                        </div>
                    </form>
                  </div>
                </div>
        
                <div class="modal-footer text-center">
                  <button type="button" class="btn btn-secondary" (click)="reset()" data-bs-dismiss="modal" id="cancel-btn2">
                    Close
                  </button>
                  <button type="button" class="btn btn-success" [disabled]="formAddCriteria.invalid" (click)="addCriteria()" data-bs-dismiss="modal">
                    <span *ngIf="competitionSrv.waitingCriteriasAdd == false">Ajouter <i class="fa fa-plus" aria-hidden="true"></i> </span>
                    <span *ngIf="competitionSrv.waitingCriteriasAdd == true"><img src="../../../../../assets/img/loader.gif"  alt="" width="30px"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>


          <div class="modal custom-modal fade" id="delete" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"> Supprimer Critère</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="modal-icon text-center mb-3">
                    
                  </div>
                  <div class="modal-text text-center">
                    
                    <p>{{'wanTo' | translate }} vous supprimer le  Critère: << <b>{{ criteriaChooseData.name }}>> </b> à cette competition ? </p>
                  </div>
                </div>
        
                <div class="modal-footer text-center">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn2">
                    Close
                  </button>
                  <button type="button" class="btn btn-danger" (click)="doDelete()" data-bs-dismiss="modal">
                    <span *ngIf="competitionSrv.waitingCreteriaDeletingDone == false" >Supprimer <i class="fa fa-trash" aria-hidden="true"></i> </span>
                    <span *ngIf="competitionSrv.waitingCreteriaDeletingDone == true" ><img src="../../../../../assets/img/loader.gif"  alt="" width="30px"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>