.list-group-flush .list-group-item {
    display: flex;
    justify-content: space-between;
}
.life-heart span {
    margin-right: 5px;
}
.input-group .form-control, .input-group .input-group-text {
    width: fit-content;
}
.input-group .input-group-text {
    border-left:  1px;
}