<!-- <div class="card-header">
        <h5 class="card-title">{{'profile' | translate }}</h5>
    </div> -->
<div *ngIf="!isEditable">
    <div class="card-body" style="padding: 0 !important;">
    </div>
    <div class="card flex-fill bg-white">
        <div class="card-body" style="padding: 1.5rem 0 0 0 !important;">
            <div class="tab-content pt-0">
                <div class="tab-pane fade show active">
                    <div class="card-body">
                        <form>
                            <div class="row form-group">
                                <label for="id" class="col-sm-3 col-form-label input-label"><b>
                                        Id :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="id" placeholder=""
                                        value="{{level.id}}" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label"><b>
                                        {{'words.level' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" placeholder=""
                                        value="{{level.name}}" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="wordsCount" class="col-sm-3 col-form-label input-label"><b>
                                        {{'words.wordsCount' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="wordsCount" placeholder=""
                                        value="{{level.wordsCount}}" disabled>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label"><b>
                                        {{'description' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="description" placeholder=""
                                        value="{{level.description}}" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isEditable">
    <div class="card-body" style="padding: 0 !important;">
    </div>
    <div class="card flex-fill bg-white">
        <div class="card-body" style="padding: 1.5rem 0 0 0 !important;">
            <div class="tab-content pt-0">
                <div class="tab-pane fade show active">
                    <div class="card-body">
                        <form>
                            <div class="row form-group">
                                <label for="id" class="col-sm-3 col-form-label input-label"><b>
                                        Id :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="id" placeholder=""
                                        value="{{level.id}}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label"><b>
                                        {{'words.level' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" placeholder=""
                                        value="{{level.name}}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="wordsCount" class="col-sm-3 col-form-label input-label"><b>
                                        {{'words.wordsCount' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="wordsCount" placeholder=""
                                        value="{{level.wordsCount}}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label"><b>
                                        {{'description' | translate }}
                                        :</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="description" placeholder=""
                                        value="{{level.description}}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>