<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Estimates</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/'">Dashboard</a></li>
            <li class="breadcrumb-item active">Estimates</li>
          </ul>
        </div>
        <div class="col-auto">
          <a [routerLink]="'/estimates/add-estimate'" class="btn btn-primary me-2">
            <i class="fas fa-plus"></i>
          </a>
          <a
            class="btn btn-primary filter-btn"
            href="javascript:void(0);"
            id="filter_search"
          >
            <i class="fas fa-filter"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Search Filter -->
    <div id="filter_inputs" class="card filter-card">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Customer:</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Status:</label>
              <select class="form-select">
                <option>Select Status</option>
                <option value="Draft">Draft</option>
                <option value="Sent">Sent</option>
                <option value="Viewed">Viewed</option>
                <option value="Expired">Expired</option>
                <option value="Accepted">Accepted</option>
                <option value="Rejected">Rejected</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>From</label>
              <div class="cal-icon">
                <input
                  type="text"
                  class="form-control"
                  name="dp"
                  />
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>To</label>
              <div class="cal-icon">
                <input
                  type="text"
                  class="form-control"
                  name="dp"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Estimate Number</label>
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table datatable
                class="table table-stripped table-hover "
              >
                <thead class="thead-light">
                  <tr>
                    <th>Estimate Number</th>
                    <th>Customer</th>
                    <th>Estimate Date</th>
                    <th>Expiry Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let estimate of estimates; let i = index">
                    <td>
                      <a [routerLink]="'/estimates/view-estimate'">{{
                        estimate.number
                      }}</a>
                    </td>
                    <td>
                      <h2 class="table-avatar">
                        <a [routerLink]="'/profile'"
                          ><img
                            class="avatar avatar-sm me-2 avatar-img rounded-circle"
                            src="assets/img/profiles/avatar-{{ i + 1 }}.jpg"
                            alt="User Image"
                          />{{ estimate.customer_name }}</a
                        >
                      </h2>
                    </td>
                    <td>{{ estimate.estimate_date | date: "dd MMM yyyy" }}</td>
                    <td>{{ estimate.expiry_date | date: "dd MMM yyyy" }}</td>
                    <td>{{ estimate.amount }}</td>
                    <td>
                      <span
                        *ngIf="estimate.status === 'Accepted'"
                        class="badge bg-success-light"
                        >{{ estimate.status }}</span
                      >
                      <span
                        *ngIf="estimate.status === 'Declined'"
                        class="badge bg-danger-light"
                        >{{ estimate.status }}</span
                      >
                      <span
                        *ngIf="estimate.status === 'Sent'"
                        class="badge bg-info-light"
                        >{{ estimate.status }}</span
                      >
                      <span
                        *ngIf="estimate.status === 'Expired'"
                        class="badge bg-warning-light"
                        >{{ estimate.status }}</span
                      >
                    </td>
                    <td class="text-end">
                      <div class="dropdown dropdown-action">
                        <a
                          href="javascript:void(0)"
                          class="action-icon dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="fas fa-ellipsis-h"></i
                        ></a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a
                            class="dropdown-item"
                            routerLink="/estimates/edit-estimate"
                            [queryParams]="{ id: estimate.id }"
                            ><i class="far fa-edit me-2"></i>Edit</a
                          >
                          <a
                            (click)="tempId = estimate.id"
                            data-bs-toggle="modal"
                            data-bs-target="#delete_estimate"
                            class="dropdown-item"
                            href="javascript:void(0);"
                            ><i class="far fa-trash-alt me-2"></i>Delete</a
                          >
                          <a
                            class="dropdown-item"
                            [routerLink]="'/estimates/view-estimate'"
                            ><i class="far fa-eye me-2"></i>View</a
                          >
                          <a class="dropdown-item" href="javascript:void(0);"
                            ><i class="far fa-file-alt me-2"></i>Convert to
                            Invoice</a
                          >
                          <a class="dropdown-item" href="javascript:void(0);"
                            ><i class="far fa-check-circle me-2"></i>Mark as
                            sent</a
                          >
                          <a class="dropdown-item" href="javascript:void(0);"
                            ><i class="far fa-paper-plane me-2"></i>Send
                            Estimate</a
                          >
                          <a class="dropdown-item" href="javascript:void(0);"
                            ><i class="far fa-check-circle me-2"></i>Mark as
                            Accepted</a
                          >
                          <a class="dropdown-item" href="javascript:void(0);"
                            ><i class="far fa-times-circle me-2"></i>Mark as
                            Rejected</a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->
<!-- Delete Tax Modal -->
<div class="modal custom-modal fade" id="delete_estimate" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-icon text-center mb-3">
          <i class="fas fa-trash-alt text-danger"></i>
        </div>
        <div class="modal-text text-center">
          <h2>Delete Estimate</h2>
          <p>Are you sure want to delete?</p>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="deleteEstimates()"
          data-bs-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Tax Modal -->
