<p>
    <span><b>Role</b>/permissions/</span>
</p>
<div>
    <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
                <table datatable class="table table-stripped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Description </th>
                            <th>Module</th>
                            <th> Actions </th>
                          </tr>
                    </thead>
                    <tbody *ngIf="listPermission.length !== 0 " >
                        <tr *ngFor="let permission of listPermission"
                            (click)="permissionData = permission"     
                        >
                            <td> {{ permission.name }} </td>
                            <td> {{ permission.description }} </td>
                            <td> {{ permission.modules }} </td>
                            <td>
                                <a  data-bs-toogle="modal"
                                    data-bs-target="#confirmRemove"
                                    (click)="doRemovePermission(permission._id)"
                                    class="btn btn-sm btn-white text-danger me-2"
                                 >
                                        <i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="remove permission on this role"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="listPermission.length == 0 " >
                      <tr>
                          <td></td>
                          <td class="text-center">
                            <img src="../../../../../assets/img/no_result.gif" alt="No result" style="max-width: 150px;">
                            <br>Aucune Partie !
                          </td>
                          <td></td>
                        </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--
<div class="modal custom-modal fade" id="confirmRemove" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-body">
          <div class="modal-icon text-center mb-3">
            <i class="fa fa-user-times" aria-hidden="true"></i>
          </div>
          <div class="modal-text text-center">
            <h2> Supprimer Permission </h2>
            <p>{{'wanTo' | translate }} vous supprimer la Permission  << <b>{{ permissionData.name }}>> </b>sur ce Role ? </p>
          </div>
        </div>

        <div class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn2">
            Close
          </button>
          <button type="button" class="btn btn-danger" *ngIf="!roleService.deleteDone" (click)="doDelete()" >
            <span *ngIf="!roleService.waitingResponse">Retirer <i class="fa fa-trash" aria-hidden="true"></i> </span>
            <span *ngIf="roleService.waitingResponse"><img src="../../../../../assets/img/loader.gif"  alt="" width="30px"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
-->