<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">{{ competitionData?.name }}</h3>
          <ul class="breadcrumb" style="cursor: pointer">
            <li class="breadcrumb-item" style="cursor: pointer">
              <a [routerLink]="'/index'">{{ "dashboard" | translate }}</a>
            </li>
            <li class="breadcrumb-item" style="cursor: pointer;"><a
                [routerLink]="['/arcarde/details',competitionData?.arcadeId]">{{ 'arcade.arcade' | translate }}</a></li>
            <li class="breadcrumb-item" style="cursor: pointer">
              <a>{{
                "competition.competition" | translate
              }}</a>
            </li>
            <li class="breadcrumb-item active">{{ competitionData?.name }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div *ngIf="competitionData" class="d-md-flex justify-content-between">
      <nav class="nav nav-pills">
        <a class="nav-item nav-link" [class.active]="activeTab === 'overview'"
          (click)="setActiveTab('overview')">Overview</a>
        <a class="nav-item nav-link" [class.active]="activeTab === 'subscribers'"
          (click)="setActiveTab('subscribers')">Subscribers</a>
        <a class="nav-item nav-link" [class.active]="activeTab === 'criterias'"
          (click)="setActiveTab('criterias')">Winning criterias</a>
        <a class="nav-item nav-link" [class.active]="activeTab === 'gameParts'" (click)="setActiveTab('gameParts')">Game
          parts</a>
      </nav>
      <div *ngIf="activeTab === 'overview'" class="text-md-end mt-3 mt-md-0">
        <a class="btn btn-outline-primary me-2
          {{ competitionData.gameState === gameState.RUNNING ? 'bg-success-light competition-running' : 'bg-primary-light' }}"
          title="{{ (competitionData.gameState === gameState.RUNNING? 'competition.stop': 'competition.run') | translate }}"
          data-toggle="tooltip" data-placement="top">
          <i class="{{ competitionData.gameState === gameState.RUNNING ? 'fa fa-pause' : 'fa fa-play' }}"
            aria-hidden="true" (click)="startCompetition()" style="cursor: pointer;"></i>
        </a>
        <a class="btn btn-outline-primary me-2" [routerLink]="['/competition/edit',competitionData._id]"
          data-toggle="tooltip" data-placement="top" title="{{ 'competition.edit' | translate}}">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
        <a *ngIf="competitionData.parentCompetition" class="btn btn-outline-danger me-2" data-toggle="tooltip" data-placement="top"
          title="{{ 'competition.delete' | translate}}" data-bs-toggle="modal"
          [attr.data-bs-target]="'#delete-'+competitionData?._id">
          <i class="fas fa-trash"></i>
        </a>
      </div>
      <!-- <div *ngIf="activeTab === 'subscribers'" class="text-md-end mt-3 mt-md-0">
        <a class="btn btn-outline-primary me-2" (click)="subscribe()" data-toggle="tooltip" data-placement="top"
          title="Subscribe">
          <i class="fa fa-user-plus"></i>
        </a>
      </div> -->
      <div *ngIf="activeTab === 'criterias'" class="text-md-end mt-3 mt-md-0">
        <a class="btn btn-outline-primary me-2" data-bs-target="#addCriteria" data-bs-toggle="modal"
          data-toggle="tooltip" data-placement="top" title="Set criterias">
          <i class="fas fa-pencil"></i>
        </a>
      </div>
      <div *ngIf="activeTab === 'gameParts'" class="text-md-end mt-3 mt-md-0">
        <a class="btn btn-outline-primary me-2" data-bs-target="#addPart" data-bs-toggle="modal" data-toggle="tooltip"
          data-placement="top" title="New part">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="mt-4">
      <div *ngIf="activeTab === 'overview'">
        <div *ngIf="!loading" class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-3">
            <div class="card inovices-card h-100">
              <div class="card-body">
                <div class="inovices-widget-header">
                  <span class="inovices-widget-icon">
                    <i class="fa-solid fa-gamepad"></i>
                  </span>
                  <div class="inovices-dash-count">
                    <div class="inovices-amount">{{ competitionData?.maxTimeToPlay }}</div>
                  </div>
                </div>
                <p class="inovices-all">{{ 'competition.maxNumberOfRound' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-3">
            <div class="card inovices-card h-100">
              <div class="card-body">
                <div class="inovices-widget-header">
                  <span class="inovices-widget-icon">
                    <i class="fa-solid {{
                          competitionData?.canRegisterPlayer
                            ? 'fa-eye'
                            : 'fa-eye-slash'
                        }}"></i>
                  </span>
                  <div class="inovices-dash-count">
                    <div class="inovices-amount">
                      {{
                          (competitionData?.canRegisterPlayer
                            ? "arcade.visible"
                            : "arcade.hidden"
                          ) | translate
                        }}
                    </div>
                  </div>
                </div>
                <p class="inovices-all">
                  {{ "arcade.visibility" | translate }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-3">
            <div class="card inovices-card h-100">
              <div class="card-body">
                <div class="inovices-widget-header">
                  <span class="inovices-widget-icon">
                    <i class="fa-solid fa-users"></i>
                  </span>
                  <div class="inovices-dash-count">
                    <div class="inovices-amount">
                      {{ competitionData?.minOfPlayers }}
                      {{ 'competition.to' | translate }}
                      {{ competitionData?.maxOfWinners }}
                    </div>
                  </div>
                </div>
                <p class="inovices-all">{{ 'competition.possibleNumberOfPlayers' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-3">
            <div class="card inovices-card h-100">
              <div class="card-body">
                <div class="inovices-widget-header">
                  <span class="inovices-widget-icon">
                    <i class="fa-solid fa-heart-pulse"></i>
                  </span>
                  <div class="inovices-dash-count">
                    <div class="inovices-amount">{{ competitionData?.maxPlayerLife }}</div>
                  </div>
                </div>
                <p class="inovices-all">{{ 'competition.numberOfLive' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card px-2 py-3">
          <div class="card-body">
            <div *ngIf="loading" class="text-center">
              <span>
                <img src="assets/img/loader.gif" alt="" width="30px">
              </span>
            </div>
            <form *ngIf="!loading" class="row">
              <div class="form-group col-md-4">
                <label for="name" class="col-form-label input-label"><b> Name </b></label>
                <input type="text" class="form-control" id="name" placeholder="" [value]="competitionData?.name"
                  disabled />
              </div>
              <div class="form-group col-md-4">
                <label for="location" class="col-form-label input-label"><b> Location </b></label>
                <input type="text" class="form-control" id="location" placeholder=""
                  [value]="competitionData?.localisation" disabled />
              </div>
              <div class="form-group col-md-4">
                <label for="lang" class="col-form-label input-label"><b>
                    {{ 'competition.partType' | translate }}
                  </b></label>
                <input type="text" class="form-control" id="lang" placeholder="" [value]="
                   (competitionData?.isSinglePart? 'competition.singlePart':'competition.multiPart') | translate
                  " disabled />
              </div>
              <div class="form-group col-md-6">
                <label for="location" class="col-form-label input-label"><b>Game Level</b></label>
                <input type="text" class="form-control" id="game_level" placeholder=""
                  [value]="competitionData?.gameLevel?.name" disabled />
              </div>
              <div class="form-group col-md-6">
                <label for="language" class="col-form-label input-label"><b>Language</b></label>
                <input type="text" class="form-control" id="language" placeholder=""
                  value="{{ (competitionData?.lang == 'fr' ? 'french' : 'english') | translate }}" disabled />
              </div>
              <div class="form-group col-md-6">
                <label for="startDate" class="col-form-label input-label"><b> Start Date </b></label>
                <input type="text" class="form-control" id="startDate" placeholder=""
                  value="{{ competitionData?.startDate | formatDate }}" disabled />
              </div>
              <div class="form-group col-md-6">
                <label for="endDate" class="col-form-label input-label"><b> End Date </b></label>
                <input type="text" class="form-control" id="endDate" placeholder=""
                  value="{{ competitionData?.endDate | formatDate }}" disabled />
              </div>
              <div class="form-group">
                <label for="desc" class="col-form-label input-label"><b> Description </b></label>
                <textarea type="text" class="form-control" id="desc" placeholder=""
                  [value]="competitionData?.description" disabled>
                </textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="activeTab === 'subscribers'">
        <app-arcade-suscribers [competitionId]="competitionData._id"></app-arcade-suscribers>
      </div>
      <div *ngIf="activeTab === 'criterias'">
        <app-game-cretarias-list [competitionId]="competitionData._id"></app-game-cretarias-list>
      </div>
      <div *ngIf="(activeTab === 'gameParts') && competitionData">
        <app-game-list-parts [competitionID]="competitionData._id"></app-game-list-parts>
      </div>
    </div>
  </div>
</div>

<app-delete-competition-modal *ngIf="competitionData" [competitionData]="competitionData" [index]="competitionData?._id"
  (deletedFeedback)="deletedFeedback($event)"></app-delete-competition-modal>
