.right-side-views {
    display: none;
}
.bg-img{
 /* background-image: url("../../../../../assets/img/ynkap-bg-img.jpg"); */
 background-repeat: no-repeat;
 background-size: cover;
 background-color: rgb(2, 52, 99);
}