<div class="card">
    <div class="card-header">
        <h5 class="card-title">{{'profile' | translate }}</h5>
    </div>
    <div class="card-body">

        <!-- Form -->
        <form>
            <div class="row form-group">
                <div class="profile-cover">
                    <div class="profile-cover-wrap">
                        <img class="profile-cover-img" src="assets/img/ynkap-profil-cover.jpg" alt="Profile Cover">

                        <!-- Custom File Cover -->
                        <div class="cover-content">
                            <div class="custom-file-btn">
                                <input type="file" class="custom-file-btn-input" id="cover_upload">
                                <label class="custom-file-btn-label btn btn-sm btn-white" for="cover_upload">
                                    <i class="fas fa-camera"></i>
                                    <span class="d-none d-sm-inline-block ms-1">{{'edit' | translate }}</span>
                                </label>
                            </div>
                        </div>
                        <!-- /Custom File Cover -->
                    </div>
                </div>

                <div class="text-center mb-5">
                    <label class="avatar avatar-xxl profile-cover-avatar" for="avatar_upload">
                        <img class="avatar-img" src="assets/img/ynkap-user-profile.png" alt="Profile Image">
                        <input type="file" id="avatar_upload">
                        <span class="avatar-edit">
                            <i class="fas fa-edit avatar-uploader-icon shadow-soft"></i>
                        </span>
                    </label>
                    <h2>{{userData.firstName}} {{userData.lastName}} <i class="fas fa-certificate text-primary small"
                            data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i>
                    </h2>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fas fa-map-marker-alt"></i> {{userData.country}}
                        </li>
                        <li class="list-inline-item">
                            <i class="far fa-building"></i> <span> {{userData.location}}</span>
                        </li>
                        <li class="list-inline-item">
                            <i class="far fa-calendar-alt"></i> <span> {{creationDate}} {{'at' | translate }} {{creationTime}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row form-group">
                <label for="name" class="col-sm-3 col-form-label input-label"><b> {{'user.firstName' | translate }} :</b></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="Votre nom" value="{{userData.firstName}}" disabled>
                </div>
            </div>
            <div class="row form-group">
                <label for="name" class="col-sm-3 col-form-label input-label"><b> {{'user.lastName' | translate }} :</b></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="Votre prénom" value="{{userData.lastName}}" disabled>
                </div>
            </div>
            <div class="row form-group">
                <label for="email" class="col-sm-3 col-form-label input-label"><b> {{'user.email' | translate }} :</b></label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" placeholder="Email"
                        value="{{userData.email}}" disabled>
                </div>
            </div>
            <div class="row form-group">
                <label for="phone" class="col-sm-3 col-form-label input-label"><b> {{'user.contact' | translate }} :</b>
                    <!-- <span class="text-muted">(Optional)</span> -->
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="phone" placeholder="+x(xxx)xxx-xx-xx"
                        value="+1 (304) 499-13-66" disabled>
                </div>
            </div>
            <div class="row form-group">
                <label for="phone" class="col-sm-3 col-form-label input-label"><b> {{'user.country' | translate }} :</b>
                    <!-- <span class="text-muted">(Optional)</span> -->
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="country" placeholder="Your coubtry"
                        value="{{userData.country}}" disabled>
                </div>
            </div>
            <div class="row form-group">
                <label for="location" class="col-sm-3 col-form-label input-label"><b> {{'user.location' | translate }} :</b></label>
                <div class="col-sm-9">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="location" placeholder="{{'user.location' | translate }}"
                            value="" disabled>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="City" value="Charleston" disabled>
                    </div>
                    <input type="text" class="form-control" placeholder="State" value="West Virginia" disabled>
                </div>
            </div>
            <div class="row form-group">
                <label for="addressline1" class="col-sm-3 col-form-label input-label"><b> Address line 1</b></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="addressline1" placeholder="Your address"
                        value="2681  Columbia Mine Road" disabled>
                </div>
            </div>
            <div class="row form-group">
                <label for="addressline2" class="col-sm-3 col-form-label input-label"><b> Address line 2</b> <span
                        class="text-muted"> (Optional)</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="addressline2" placeholder="Your address" disabled>
                </div>
            </div>
            <div class="row form-group">
                <label for="zipcode" class="col-sm-3 col-form-label input-label"><b>{{'user.zip' | translate }}</b></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="zipcode" placeholder="Your zip code" value="25301" disabled>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary" disabled>{{'save' | translate }}</button>
            </div>
        </form>
        <!-- /Form -->

    </div>
</div>