<!-- Settings Menu -->
<div class="widget settings-menu">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-body">
        <h5>{{'words.wordStat' | translate }}</h5>

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th style="text-align: center;">All words</th>
              <th style="text-align: center;">En words</th>
              <th style="text-align: center;">FR words</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let word of words; let i = index" (click)="wordData = word" data-bs-toggle="modal" data-bs-target="#details"> -->
            <tr>
              <td style="text-align: center;">NAN</td>
              <td style="text-align: center;">NAN</td>
              <td style="text-align: center;">NAN</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="card-title d-flex justify-content-between">
            <span>{{'words.level' | translate }} ({{levelList.length}})</span>
            <a class="btn btn-sm btn-white" data-bs-toggle="modal" data-bs-target="#addLevel" (click)="resetForm()"><i
                class="fas fa-plus"></i></a>
          </h5>
        </div>
        <div>
          <div class="table-responsive">
            <div class="row" *ngIf="waitingResponse">
              <div class="col-sm-12">
                <app-progress-indeterminate></app-progress-indeterminate>
              </div>
            </div>
          </div>
          <div class="table-responsive" *ngIf="!waitingResponse">
            <table datatable class="table table-stripped table-hover">
              <!-- <thead class="thead-light">
                                <tr>
                                    <th>{{'user.user' | translate }}s</th>
                                    <th class="text-end">Actions</th>
                                </tr>
                            </thead> -->
              <tbody>
                <tr *ngFor="let level of levelList; let i = index" [class.selected]="curentLevel === level._id">
                  <!-- <tr [routerLink]="'/words/words-list'"> -->
                  <td (click)="navigateToLevel(level._id)">{{level.name}}</td>
                  <td (click)="navigateToLevel(level._id)">({{level.words.length}} {{'words.word' | translate }}s)</td>
                  <td class="text-end">
                    <a class="btn btn-sm btn-white text-success me-2" data-bs-toggle="modal" data-bs-target="#editLevel"
                      (click)="updateLevelForm(level)"><i class="far fa-edit me-1"></i></a>
                    <a data-bs-toggle="modal" data-bs-target="#deleteLevel" (click)="levelData = level"
                      class="btn btn-sm btn-white text-danger me-2"><i class="far fa-trash-alt me-1"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete level -->
<div class="modal custom-modal fade" id="deleteLevel" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-icon text-center mb-3">
          <i class="fas fa-trash-alt text-danger"></i>
        </div>
        <div class="modal-text text-center">
          <h2>{{'delete' | translate}} <b>{{levelData.name}}</b> ?</h2>
          <br>
          <form (ngSubmit)="deleteLevel()" [formGroup]="deleteLevelForm">
            <p>{{"words.whichLevel" | translate}}</p>
            <select class="form-control" formControlName="groupHeriterId" id="groupHeriterId">
              <option value="">{{"select" | translate}}</option>
              <option *ngFor="let level of levelList" value="{{level._id}}"> {{level.name}}
              </option>
            </select>
            <br>
            <div class="modal-footer text-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn">
                {{'close' | translate }}
              </button>
              <button type="submit" *ngIf="!waitingResponse" class="btn btn-danger" id="delete-btn"
                (click)="deleteLevel()" [disabled]="!deleteLevelForm.valid">
                {{'delete' | translate }}
              </button>
              <button type="button" class="btn btn-danger" *ngIf="waitingResponse" disabled>
                <span><img src="../../../../../assets/img/loader.gif" alt="" width="30px"></span>
              </button>
              <!-- <button *ngIf="userData.isDisabled==false" type="button" class="btn btn-danger"
                (click)="changeStatus(userData._id, true)">
                <span *ngIf="!waitingResponse"><i class="fa fa-power-off"></i> {{'desactive' | translate }}</span>
                <span *ngIf="waitingResponse"><img src="../../../../../assets/img/loader.gif" alt="" width="30px"></span>
              </button>
              <button *ngIf="userData.isDisabled==true" type="button" class="btn btn-success"
                (click)="changeStatus(userData._id, false)">
                <span *ngIf="!waitingResponse"><i class="fa fa-power-off"></i> {{'active' | translate }}</span>
                <span *ngIf="waitingResponse"><img src="../../../../../assets/img/loader.gif" alt="" width="30px"></span>
              </button> -->
            </div>
          </form>
          <!-- <p *ngIf="userData.isDisabled==false">{{'wanTo' | translate }} {{'desactive' | translate }} <b>{{userData.firstName}} {{userData.lastName}}</b>? </p>
            <p *ngIf="userData.isDisabled==true">{{'wanTo' | translate }} {{'active' | translate }} <b>{{userData.firstName}} {{userData.lastName}}</b>? </p> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit level -->
<div class="modal custom-modal fade" id="editLevel" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-icon text-center mb-3">
          <i class="fas fa-edit text-secondary"></i>
        </div>
        <div class="modal-text text-center">
          <h2>Edit level</h2>
        </div>
        <div class="modal-text">
          <div class="card text-left">
            <form (ngSubmit)="updateLevel()" [formGroup]="levelForm">
              <div class="form-group">
                <label for="name">{{ 'words.level' | translate }}<span class="mandatory"></span> *</label>
                <input class="form-control" type="text" formControlName="name" id="name" required />
              </div>
              <div class="form-group">
                <label>{{ 'description' | translate }} <span class="mandatory">*</span></label>
                <textarea rows="5" cols="5" class="form-control" placeholder="Write the word description"
                  formControlName="description" id="description" required></textarea>
              </div>
              <br>
              <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" id="close-modal" data-bs-dismiss="modal"
                  id="close-modal" style="margin-right: 20px;">
                  {{'close' | translate }}
                </button>
                <button type="submit" *ngIf="!waiting" class="btn btn-success" (click)="updateLevel()">
                  {{'save' | translate }}
                </button>
                <button type="button" *ngIf="waiting" class="btn btn-success" disabled>
                  <img src="../../../../../assets/img/loader.gif" alt="" width="30px">
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add level -->
<div class="modal custom-modal fade" id="addLevel" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-icon text-center mb-3">
          <i class="fas fa-plus-circle text-secondary"></i>
        </div>
        <div class="modal-text">
          <h2 class="text-center">{{'words.addNewLevel' | translate}}</h2><br>
          <form (ngSubmit)="addLevel()" [formGroup]="levelForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">{{ 'words.level' | translate }} <span class="mandatory">*</span></label>
                  <input class="form-control" type="text" formControlName="name"
                    placeholder="{{ 'words.level' | translate }}" id="name" [ngClass]="{
                      'is-invalid': f['name'].touched && f['name'].invalid
                    }" required />
                </div>
                <div class="form-group">
                  <label>{{ 'description' | translate }} <span class="mandatory">*</span></label>
                  <textarea rows="5" cols="5" class="form-control" placeholder="Enter Address"
                    formControlName="description" id="description" [ngClass]="{
                      'is-invalid': f['description'].touched && f['description'].invalid
                    }" required></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-left mt-4">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn1">
            {{'close' | translate }}
          </button>
        </div>
        <div class="text-end mt-4">
          <button *ngIf="!waitingResponse" type="button" class="btn btn-success" (click)="addLevel()">
            <span> {{'add' | translate }}</span>
          </button>
          <button type="button" class="btn btn-success" *ngIf="waitingResponse" disabled>
            <span><img src="../../../../../assets/img/loader.gif" alt="" width="30px"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
