<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">{{ 'game.game' | translate }}</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/index'">{{'dashboard' | translate}} </a></li>
            <li class="breadcrumb-item active">{{'game.games' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <nav class="nav nav-pills">
          <a class="nav-item nav-link" [class.active]="activeTab === 'oncomming'" (click)="setActiveTab('oncomming')">
            {{ "game.oncomming" | translate }}
          </a>
          <a class="nav-item nav-link" [class.active]="activeTab === 'processing'"
            (click)="setActiveTab('processing')">
            {{ "game.processing" | translate }}
          </a>
        </nav>
        <div class="mt-3">
          <div *ngIf="activeTab === 'oncomming'">
            <app-oncomming></app-oncomming>
          </div>
          <div *ngIf="activeTab === 'processing'">
            <app-started></app-started>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
