<div class="page-wrapper">
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item" style="cursor: pointer;"><a>Game </a></li>
              <li class="breadcrumb-item " style="cursor: pointer;" > <a>List</a> </li>

            </ul>
          </div>
          <div class="col-auto">
            <!-- <a [routerLink]="'/customers/add-customer'" class="btn btn-primary me-2"
              style="color: #035858 !important; background-color: #ffff !important;">
              <i class="fas fa-plus"></i>
            </a> -->
          
            <a class="btn btn-primary me-2" data-toggle="tooltip" data-placement="top" title="refresh this list of All Arcarde"
              style="color: #035858 !important; background-color: #ffff !important;" (click)="refresh()">
              <i class="fas fa-refresh"></i>
            </a>
           
          </div>
        </div>
      </div>

      
  
      <div class="row">
        <div class="col-sm-12">
            
                    <ul class="nav nav-tabs nav-tabs-bottom">
                        <li class="nav-item"><a class="nav-link active" href="#bottom-tab1" data-bs-toggle="tab">A Venir</a></li>
                        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-bs-toggle="tab">En cours</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane show active" id="bottom-tab1" (click)="setCurrentRoute('On Coming')">
                            <app-oncomming></app-oncomming>
                        </div>
                        <div class="tab-pane" id="bottom-tab2" (click)="setCurrentRoute('Started')">
                            <app-started></app-started>
                        </div>
                     
                    </div>
                </div>
            
      </div>
    </div>
  </div>
