
<div class="page-wrapper">
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item " style="cursor: pointer;"><a [routerLink]="'/index'">Accueil </a></li>
              <li class="breadcrumb-item" style="cursor: pointer;" ><a [routerLink]="'/undercompetition/competition/list'">Competition</a></li>
              <li class="breadcrumb-item active">Creation</li>
            </ul>
          </div>

<div class="row" *ngIf="!sousCompetion.waitingResponse">
    <div class="card card-table">
        <div class="card-header text-center">
            <h5> Creation nouvelle competition</h5>
        </div>
      <div class="card-body">
                <h6 class="text-end">  {{ sousCompetitionSelctedData.name }} </h6>
                <form [formGroup]="formIdArcarde">
                    <div class="col">
                         <div class="form-group">
                          <label for="arceadID"> Arcarde </label>
                          <select type="text" name="arceadID" formControlName="idArcarde" class="form-control" id="arceadID"
                          [ngClass]="{ 'is-invalid': formIdArcarde.controls['idArcarde'].touched && formIdArcarde.controls['idArcarde'].invalid}"
                          >
                          <option value="">--Chosir une arcarde--</option>
                          <option *ngFor="let arcarde of arcardeSrv.listArcardeUser" [value]="arcarde._id"> {{ arcarde.name }} </option>
                        </select>
                      </div>
                    </div>
                  </form>

                <form [formGroup]="sousCompetion.form">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="name"> Nom </label>
                                <input type="text" name="name" class="form-control" formControlName="name" id="name"
                                [ngClass]="{ 'is-invalid': sousCompetion.f['name'].touched && sousCompetion.f['name'].invalid}"
                                >
                            </div>

                            <div class="form-group">
                                <label for="desc"> Description </label>
                                <input type="text" name="desc" class="form-control" formControlName="description" id="desc"
                                [ngClass]="{ 'is-invalid': sousCompetion.f['description'].touched && sousCompetion.f['description'].invalid}"
                                >
                            </div>

                            <div class="form-group">
                                <label for="level" class="form-control-label"> Niveau </label>
                                <select name="level" formControlName="gameLevel" id="level" class="form-control">
                                    <option value="">--choisir un niveau--</option>
                                    <option *ngFor="let item of level.levelList"  [value]="item._id">
                                            {{ item.name }}
                                    </option>
                                </select>
                             </div>

                              <div class="form-check form-switch text-center">
                                  <input class="form-check-input" type="checkbox" formControlName="isSinglePart" role="switch" id="flexSwitchCheckChecked">
                                  <label class="form-check-label" for="flexSwitchCheckChecked">Partie Unique ?</label>
                              </div>

                              <div class="form-check form-switch text-center">
                                <input class="form-check-input" type="checkbox" formControlName="canRegisterPlayer" (click)="sousCompetion.f['canRegisterPlayer'].setValue(sousCompetion.form.get('canRegisterPlayer')?.value ? false:true);" role="switch" id="flexSwitchCheckChecked">
                                <label class="form-check-label" for="flexSwitchCheckChecked">can Register Player ?</label>
                              </div>

                              <div class="form-group">
                                <label for="localisation"> Localisation </label>
                                <input type="text" name="localisation" class="form-control" formControlName="localisation" id="localisation"
                                [ngClass]="{ 'is-invalid': sousCompetion.f['localisation'].touched && sousCompetion.f['localisation'].invalid}"
                                >
                            </div>

                            <div class="form-group">
                                <label for="maxPlayerLife"> Nombre de vie max </label>
                                <input type="number" name="maxPlayerLife"  min="0" class="form-control" formControlName="maxPlayerLife" id="maxPlayerLife"
                                [ngClass]="{ 'is-invalid': sousCompetion.f['maxPlayerLife'].touched && sousCompetion.f['maxPlayerLife'].invalid}"
                                >
                            </div>
                        </div>


                        <div class="col">
                            <div class="form-group">
                                <label for="maxTimeToPlay"> Temps de Decompte (s) </label>
                                <input type="number" min="0" name="maxTimeToPlay" class="form-control" formControlName="maxTimeToPlay" id="maxTimeToPlay"
                                [ngClass]="{ 'is-invalid': sousCompetion.f['maxTimeToPlay'].touched && sousCompetion.f['maxTimeToPlay'].invalid}"
                                >
                            </div>

                            <div class="form-group">
                                <label for="startDate"> Date de debut </label>
                                <input type="datetime-local" name="startDate" class="form-control" formControlName="startDate" id="startDate"
                                [ngClass]="{ 'is-invalid': sousCompetion.f['startDate'].touched && sousCompetion.f['startDate'].invalid}"
                                >
                            </div>

                            <div class="form-group">
                                <label for="endDate"> Date de fin </label>
                                <input type="datetime-local" name="endDate" class="form-control" formControlName="endDate" id="endDate"
                                [ngClass]="{ 'is-invalid': sousCompetion.f['endDate'].touched && sousCompetion.f['endDate'].invalid}"
                                >
                            </div>

                            <div class="form-group">
                                <label for="maxOfWinners">Nombre max de Gagnants </label>
                                <input type="number" min="0"   name="maxOfWinners" class="form-control" formControlName="maxOfWinners" id="maxOfWinners"
                                [ngClass]="{ 'is-invalid': sousCompetion.f['maxOfWinners'].touched && sousCompetion.f['maxOfWinners'].invalid}"
                                >
                            </div>

                            <div class="form-group">
                                <label for="lang">Lang </label>
                                <select type="num" name="lang" class="form-control" formControlName="lang" id="lang"
                                [ngClass]="{ 'is-invalid': sousCompetion.f['lang'].touched && sousCompetion.f['lang'].invalid}"
                                >
                                    <option value="">--choisir une langue--</option>
                                    <option value="fr">Français</option>
                                    <option value="en">Anglais</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="parentCompetition">Parent Competition*</label>
                                <select type="text" name="parentCompetition" class="form-control" formControlName="parentCompetition" id="parentCompetition"
                                [ngClass]="{ 'is-invalid': sousCompetion.f['parentCompetition'].touched && sousCompetion.f['parentCompetition'].invalid}"
                                >
                                  <option value="">--choisir une competition parent--</option>
                                  <option *ngFor="let location of sousCompetion.listCompetionParent"  [value]="location._id"> {{ location.name }} </option>
                                </select>
                            </div>

                            <button (click)="backClicked()" class="btn btn-primary me-2"
                            style="color: #035858 !important; background-color: #ffff !important;">
                            <i class="fas fa-arrow-left"></i> {{ 'back' | translate }}
                            </button>
                            <button type="button"  style="margin-left: 10px;" class="btn btn-success" [disabled]="!sousCompetion.form.valid" *ngIf="!sousCompetion.creationDone"  (click)="doCreationCompetion()">
                              <span *ngIf="sousCompetion.waitingResponse" > <img src="../../../../assets/img/loader.gif" alt="" width="30px"> </span>

                              <span *ngIf="!sousCompetion.waitingResponse" >Creer  <i class="fa fa-plus" aria-hidden="true"></i></span>
                            </button>
                        </div>
                    </div>
                </form>



              </div>
            </div>
          </div>
        </div>
      </div>
