<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">
            {{ "arcade.new" | translate }}
            {{ "competition.competition" | translate }}
          </h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item" style="cursor: pointer">
              <a [routerLink]="'/index'">{{ "dashboard" | translate }}</a>
            </li>
            <li class="breadcrumb-item" style="cursor: pointer">
              <a [routerLink]="'/undercompetition/competition/list'">{{
                "competition.competition" | translate
              }}</a>
            </li>
            <li class="breadcrumb-item active">{{ "competition.new" | translate }}</li>
          </ul>
        </div>
        <div *ngIf="!sousCompetionService.waitingResponse" class="row g-4">
          <div class="card">
            <!-- <div class="card-header text-center">
              <h5> Creation nouvelle competition</h5>
            </div> -->
            <div class="card-body">
              <h6 class="text-end">{{ sousCompetitionSelctedData.name }}</h6>
              <form [formGroup]="sousCompetionService.form">
                <div class="row">
                  <div
                    class="col-12 col-md-6"
                    (click)="
                      sousCompetionService.toggleCheckbox('isSinglePart')
                    "
                  >
                    <div
                      class="custom-card p-3"
                      [ngClass]="{
                        active:
                          sousCompetionService.form.get('isSinglePart')
                            ?.value,
                        invalid:
                          sousCompetionService.form['isSinglePart']
                            ?.touched &&
                          sousCompetionService.form['isSinglePart'].invalid
                      }"
                    >
                      <div class="card-header">
                        {{
                          (sousCompetionService.form.get("isSinglePart")
                            ?.value
                            ? "competition.yes"
                            : "competition.no"
                          ) | translate
                        }}
                      </div>
                      <div class="card-body text-center pb-0">
                        <h5 class="card-title">
                          <p
                            class="badge badge-pill bg-icon rounded-pill p-3"
                          >
                            <i class="fa fa-gamepad"></i>
                          </p>
                        </h5>
                        <h5 class="card-text pt-3">
                          {{ "competition.singlePart" | translate }}
                        </h5>
                        <span class="text-muted">
                          {{ "arcade.callToAction" | translate }}
                        </span>
                      </div>
                    </div>
                    <input
                      class="d-none"
                      type="checkbox"
                      formControlName="isSinglePart"
                    />
                  </div>
                  <div
                    class="col-12 col-md-6"
                    (click)="
                      sousCompetionService.toggleCheckbox('canRegisterPlayer')
                    "
                  >
                    <div
                      class="custom-card p-3"
                      [ngClass]="{
                        active:
                          sousCompetionService.form.get('canRegisterPlayer')
                            ?.value,
                        invalid:
                          sousCompetionService.form['canRegisterPlayer']
                            ?.touched &&
                          sousCompetionService.form['canRegisterPlayer']
                            .invalid
                      }"
                    >
                      <div class="card-header">
                        {{
                          (sousCompetionService.form.get("canRegisterPlayer")
                            ?.value
                            ? "arcade.visible"
                            : "arcade.hidden"
                          ) | translate
                        }}
                      </div>
                      <div class="card-body text-center pb-0">
                        <h5 class="card-title">
                          <p
                            class="badge badge-pill bg-icon rounded-pill p-3"
                          >
                          <i class="fa-solid {{(sousCompetionService.form.get('canRegisterPlayer')?.value ? 'fa-eye' : 'fa-eye-slash')}}"></i>
                          </p>
                        </h5>
                        <h5 class="card-text pt-3">
                          {{ 'arcade.visibility' | translate }}
                        </h5>
                        <span class="text-muted">
                          {{ "arcade.callToAction" | translate }}
                        </span>
                      </div>
                    </div>
                    <input
                      class="d-none"
                      type="checkbox"
                      formControlName="canRegisterPlayer"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name"> Nom </label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      formControlName="name"
                      id="name"
                      [ngClass]="{
                        'is-invalid':
                          sousCompetionService.f['name'].touched &&
                          sousCompetionService.f['name'].invalid
                      }"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="localisation"> Localisation </label>
                    <input
                      type="text"
                      name="localisation"
                      class="form-control"
                      formControlName="localisation"
                      id="localisation"
                      [ngClass]="{
                        'is-invalid':
                          sousCompetionService.f['localisation'].touched &&
                          sousCompetionService.f['localisation'].invalid
                      }"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="arceadID"> Arcarde </label>
                    <select
                      type="text"
                      name="arceadID"
                      formControlName="idArcarde"
                      class="form-control"
                      id="arceadID"
                      [ngClass]="{
                        'is-invalid':
                          formIdArcarde.controls['idArcarde'].touched &&
                          formIdArcarde.controls['idArcarde'].invalid
                      }"
                    >
                      <option value="">--Chosir une arcarde--</option>
                      <option
                        *ngFor="let arcarde of arcardeSrv.listArcardeUser"
                        [value]="arcarde._id"
                      >
                        {{ arcarde.name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="level" class="form-control-label">
                      Niveau
                    </label>
                    <select
                      name="level"
                      formControlName="gameLevel"
                      id="level"
                      class="form-control"
                    >
                      <option value="">--choisir un niveau--</option>
                      <option
                        *ngFor="let item of level.levelList"
                        [value]="item._id"
                      >
                        {{ item.name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lang">Lang </label>
                    <select
                      type="num"
                      name="lang"
                      class="form-control"
                      formControlName="lang"
                      id="lang"
                      [ngClass]="{
                        'is-invalid':
                          sousCompetionService.f['lang'].touched &&
                          sousCompetionService.f['lang'].invalid
                      }"
                    >
                      <option value="">--choisir une langue--</option>
                      <option value="fr">Français</option>
                      <option value="en">Anglais</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="parentCompetition">Parent Competition*</label>
                    <select
                      type="text"
                      name="parentCompetition"
                      class="form-control"
                      formControlName="parentCompetition"
                      id="customSelect"
                      [ngClass]="{
                        'is-invalid':
                          sousCompetionService.f['parentCompetition']
                            .touched &&
                          sousCompetionService.f['parentCompetition'].invalid
                      }"
                    >
                      <option value="">
                        --choisir une competition parent--
                      </option>
                      <option
                        *ngFor="
                          let location of sousCompetionService.listCompetionParent
                        "
                        [value]="location._id"
                      >
                        {{ location.name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="startDate"> Date de debut </label>
                    <ng-bmis-date-time-picker>
                      <input type="text" name="startDate" class="form-control"
                        formControlName="startDate"
                        [ngClass]="{ 'is-invalid': sousCompetionService.f['startDate'].touched && sousCompetionService.f['startDate'].invalid}">
                    </ng-bmis-date-time-picker>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="endDate"> Date de fin </label>
                    <ng-bmis-date-time-picker>
                      <input type="text" name="endDate" class="form-control"
                        formControlName="endDate"
                        [ngClass]="{ 'is-invalid': sousCompetionService.f['endDate'].touched && sousCompetionService.f['endDate'].invalid}">
                    </ng-bmis-date-time-picker>
                  </div>

                  <div class="form-group col-md-4">
                    <label for="maxPlayerLife"> Nombre de vie max </label>
                    <input
                      type="number"
                      name="maxPlayerLife"
                      min="0"
                      class="form-control"
                      formControlName="maxPlayerLife"
                      id="maxPlayerLife"
                      [ngClass]="{
                        'is-invalid':
                          sousCompetionService.f['maxPlayerLife'].touched &&
                          sousCompetionService.f['maxPlayerLife'].invalid
                      }"
                    />
                  </div>
                  <div class="form-group col-md-4">
                    <label for="maxTimeToPlay"> Temps de Decompte (s) </label>
                    <input
                      type="number"
                      min="0"
                      name="maxTimeToPlay"
                      class="form-control"
                      formControlName="maxTimeToPlay"
                      id="maxTimeToPlay"
                      [ngClass]="{
                        'is-invalid':
                          sousCompetionService.f['maxTimeToPlay'].touched &&
                          sousCompetionService.f['maxTimeToPlay'].invalid
                      }"
                    />
                  </div>

                  <div class="form-group col-md-4">
                    <label for="maxOfWinners">Nombre max de Gagnants </label>
                    <input
                      type="number"
                      min="0"
                      name="maxOfWinners"
                      class="form-control"
                      formControlName="maxOfWinners"
                      id="maxOfWinners"
                      [ngClass]="{
                        'is-invalid':
                          sousCompetionService.f['maxOfWinners'].touched &&
                          sousCompetionService.f['maxOfWinners'].invalid
                      }"
                    />
                  </div>
                  <div class="form-group">
                    <label for="desc"> {{ 'description' | translate }} </label>
                    <textarea type="text" name="desc" class="form-control" formControlName="description" id="desc"
                      [ngClass]="{ 'is-invalid': sousCompetionService.f['description'].touched && sousCompetionService.f['description'].invalid}"></textarea>
                  </div>
                  <div
                    class="d-flex justify-content-start justify-content-lg-end"
                  >
                    <button
                      type="button"
                      style="margin-left: 10px"
                      class="btn btn-success"
                      [disabled]="!sousCompetionService.form.valid || loading"
                      *ngIf="!sousCompetionService.creationDone"
                      (click)="doCreationCompetion()"
                    >
                      <span *ngIf="!loading"
                        >Créer <i class="fa fa-plus" aria-hidden="true"></i
                      ></span>
                      <span *ngIf="loading">
                        <img
                          src="../../../../../assets/img/loader.gif"
                          alt=""
                          width="30px"
                        />
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
