<div class="modal custom-modal fade" id="addPart" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header d-flex align-items-center justify-content-between mb-3">
            <img src="assets/img/logo-white.png" alt="" width="30px">
            <h4 class="card-title text-center">Ajouter une partie</h4>
            <span data-bs-dismiss="modal"><i class="fas fa-times-circle"></i></span>
        </div>
        <div class="modal-body pb-0">
            <form [formGroup]="createForm">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="name"> {{ 'name' | translate }} </label>
                    <input type="text" class="form-control" formControlName="name" name="name" id="name">
                  </div>
                  <div class="form-group">
                    <label for="startDate"> {{'startDate' | translate }} </label>
                    <input type="date" class="form-control" formControlName="startDate" name="startDate" id="startDate">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="numberOfWords"> Nombre de Mots (Par Joueur) </label>
                    <input type="number" class="form-control" formControlName="numberOfWord" name="numberOfWords"
                      id="numberOfWords">
                  </div>
                  <div class="form-group">
                    <label for="endDate"> {{'endDate' | translate }} </label>
                    <input type="date" class="form-control" formControlName="endDate" name="endDate" id="endDate">
                  </div>
                </div>
                <div class="form-group">
                  <label for="description"> Description </label>
                  <textarea type="text" class="form-control" formControlName="description" name="description"
                    id="description">
                                </textarea>
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn2">
            {{ 'close' | translate }}
          </button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
            (click)="addPart()">
            <span *ngIf="!fetching">{{ 'add' | translate }} </span>
            <span *ngIf="fetching"><img src="assets/img/loader.gif" alt=""
                width="30px"></span>
          </button>
        </div>
      </div>
    </div>
  </div>