<div *ngIf="!loading" class="d-flex align-items-center text-center justify-content-center {{ !(loading || parts?.length) ? 'vh-50': '' }}">
  <p *ngIf="!parts?.length" class="text-center">No part available</p>
</div>
<div class="row">
  <div *ngIf="!loading" class="row">
    <!-- Bloc pour afficher les parties -->
    <div *ngFor="let part of parts" class="col-12 col-md-4 col-lg-3">
      <div class="custom-card">
        <div class="card-body pb-0">
          <div class="d-flex justify-content-between align-items-start">
            <a class="text-decoration-none" style="color: inherit">
              <div class="mb-4">
                <h5 class="card-title">{{ part.name }}</h5>
                <p class="card-text text-primary">
                </p>
                <p class="card-text">{{ part.description | truncate:200 }}</p>
              </div>
            </a>
            <div class="dropdown">
              <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                  <a (click)="gamePartData = part" class="dropdown-item" data-bs-toggle="modal"
                    [attr.data-bs-target]="'#details-'+part._id">
                    <i class="far fa-eye me-2"></i>
                    <span style="margin-left: 5px;">Show more</span>
                  </a>
                </li>
                <li>
                  <a (click)="gamePartData = part" class="dropdown-item" data-bs-toggle="modal"
                    [attr.data-bs-target]="'#delete-'+part._id">
                    <i class="far fa-trash-alt me-2"></i>
                    <span style="margin-left: 5px;">Delete</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent border-top-0 text-end">
          <p
            class="btn btn-sm bottom-0 {{ sousCompetion.gameState === gameState.RUNNING ? 'badge badge-pill bg-warning-light competition-running' : 'badge badge-pill bg-primary-light' }}">
            <a *ngIf="sousCompetion.gameState !== gameState.RUNNING" style="cursor: pointer;">
              <i class="fa fa-play" aria-hidden="true"></i>
            </a>
            <i *ngIf="sousCompetion.gameState === gameState.RUNNING" class="fa fa-pause" aria-hidden="true"></i>
          </p>
        </div>
        <ng-template #process_running_gameStarted>
          <p style="color: green;" class="text-center dropdown-item">
            Starting Competition...
          </p>
        </ng-template>

        <ng-template #process_running_down>
          <a class="dropdown-item" *ngIf="sousCompetion.gameState !== gameState.WAITING_PLAYER"
            style="cursor: pointer;">

            <i class="fa fa-play" aria-hidden="true"></i>
            <p style="margin-left: 5px;"> Start Competition </p>
          </a>
        </ng-template>
      </div>
      <app-delete-part-modal [competitionId]="competitionID" [gamePart]="part"></app-delete-part-modal>
      <app-part-details-modal [gamePart]="part"></app-part-details-modal>
    </div>
  </div>
  <!-- Bloc de chargement -->
  <div *ngIf="loading" class="row">
    <div *ngFor="let plh of placeholders; let i = index" class="col-12 col-md-4 col-lg-3">
      <app-arcade-list-placeholder></app-arcade-list-placeholder>
    </div>
  </div>
</div>
<app-create-part-modal [competitionId]="competitionID"></app-create-part-modal>
<div class="modal custom-modal fade" id="details-{{gamePartData._id}}" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> {{ gamePartData.name }} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-icon text-center mb-3">
        </div>
        <div class="modal-text text-center">
          <form>
            <div class="row form-group">
              <label for="nbrWords" class="col-sm-3 col-form-label input-label"><b>
                  Nombre de mots
                  :</b></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="nbrWords" placeholder="" [value]="gamePartData.numberOfWord"
                  disabled>
              </div>
            </div>
            <div class="row form-group">
              <label for="endDate" class="col-sm-3 col-form-label input-label"><b>
                  {{'startDate' | translate }}
                  :</b></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="endDate" placeholder="" [value]="gamePartData.startDate"
                  disabled>
              </div>
            </div>

            <div class="row form-group">
              <label for="endDate" class="col-sm-3 col-form-label input-label"><b>
                  {{'end' | translate }}
                  :</b></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="endDate" placeholder="" [value]="gamePartData.endDate"
                  disabled>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-btn2">
          {{'close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
