
<div class="about">
    <img src="assets/img/bg-shape/bg-shape-3.png" alt="" class="bg-shape-3">
    <img src="assets/img/bg-shape/bg-shape-4.png" alt="" class="bg-shape-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 d-xl-flex d-lg-flex d-block align-items-end justify-content-end">
                <div class="part-img">
                    <img class="main-img" src="assets/img/about/about-img.png" alt="">
                    <img class="bg-img" src="assets/img/about/img-2.png" alt="">
                    <img class="shape-img" src="assets/img/about/img-1.png" alt="">
                    <img src="assets/img/about/ball-1.png" alt="" class="ball-1">
                    <img src="assets/img/about/ball-2.png" alt="" class="ball-2">
                </div>
            </div>
            <div class="col-xl-8 col-lg-8">
                <div class="about-text">
                    <div class="section-title for-about-section">
                        <h3 class="sub-title">{{'aboutUs.about' | translate }}</h3>
                        <h2 class="title">{{'aboutUs.aboutTitle' | translate }}</h2>
                    </div>
                    <div class="part-bottom">
                        <div class="part-statics">
                            <div class="single-statics">
                                <div class="part-icon">
                                    <img src="assets/img/about/icon-1.png" alt="">
                                </div>
                                <div class="part-txt">
                                    <span class="number">{{players}}k</span>
                                    <span class="text">{{ 'aboutUs.players' | translate }}</span>
                                </div>
                            </div>
                            <div class="single-statics">
                                <div class="part-icon">
                                    <img src="assets/img/about/icon-2.png" alt="">
                                </div>
                                <div class="part-txt">
                                    <span class="number">{{lotteries}}+</span>
                                    <span class="text">{{ 'aboutUs.lotteries' | translate }}</span>
                                </div>
                            </div>
                            <div class="single-statics">
                                <div class="part-icon">
                                    <img src="assets/img/about/icon-3.png" alt="">
                                </div>
                                <div class="part-txt">
                                    <span class="number">{{jackpot}}+</span>
                                    <span class="text">{{ 'aboutUs.jackpot' | translate }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="part-descr">
                            <p>{{ 'aboutUs.content1' | translate }}
                            </p>
                            <ul>
                                <li>{{ 'aboutUs.content2' | translate }}</li>
                                <li>{{ 'aboutUs.content3' | translate }}</li>
                                <li>{{ 'aboutUs.content4' | translate }}</li>
                            </ul>
                            <a href="about.html" class="btn-pok">{{ 'aboutUs.knowMore' | translate }} <i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>