<div class="post-comment-element">
    <div class="post-comment-form">
        <div class="commentor-pic">
            <img src="assets/img/blog/random-user.png" alt="">
        </div>
        <div class="part-form">
            <form>
                <input type="text" placeholder="Write something....">
                <button type="submit">
                    <img class="comment-submit-icon" src="assets/img/blog/comment-submit-btn.png" alt="">
                </button>
            </form>
        </div>
    </div>
    <div class="all-comments">
        <h4 class="element-titl">All comments (02)</h4>
        <div class="single-comment">
            <div class="commentor-pic">
                <img src="assets/img/blog/comment-user-1.jpg" alt="">
            </div>
            <div class="part-comment-info">
                <div class="comment-stats">
                    <span class="commentator-name">Peter Bowen</span>
                    <span class="commented-time">2 days ago</span>
                </div>
                <p>Thing, likeness, forth shall replenish upon abundantly our green. Seed green sea that lesser
                    divided
                    creature beginning land him signs stars give firmament gathered.</p>
                <div class="comment-into-social">
                    <a href="#0" class="single-social love-reaction">
                        <span class="icon love-icon"><i class="fa-regular fa-heart"></i></span>
                        <span class="social-text loved-number">18</span>
                    </a>
                    <a href="#0" class="single-social">
                        <span class="icon comment-icon"><i class="fa-regular fa-comment"></i></span>
                        <span class="social-text">Comment</span>
                    </a>
                    <a href="#0" class="single-social">
                        <span class="icon share-icon"><i class="fa-regular fa-paper-plane"></i></span>
                        <span class="social-text">Share</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="single-comment">
            <div class="commentor-pic">
                <img src="assets/img/blog/comment-user-2.jpg" alt="">
            </div>
            <div class="part-comment-info">
                <div class="comment-stats">
                    <span class="commentator-name">Natasha Rowe</span>
                    <span class="commented-time">3 minutes ago</span>
                </div>
                <p>Thing, likeness, forth shall replenish upon abundantly our green. Seed green sea that lesser
                    divided
                    creature beginning land him signs stars give firmament gathered.</p>
                <div class="comment-into-social">
                    <a href="#0" class="single-social love-reaction">
                        <span class="icon love-icon"><i class="fa-regular fa-heart"></i></span>
                        <span class="social-text loved-number">05</span>
                    </a>
                    <a href="#0" class="single-social">
                        <span class="icon comment-icon"><i class="fa-regular fa-comment"></i></span>
                        <span class="social-text">Comment</span>
                    </a>
                    <a href="#0" class="single-social">
                        <span class="icon share-icon"><i class="fa-regular fa-paper-plane"></i></span>
                        <span class="social-text">Share</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>