<div class="cta">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-9 col-sm-8 d-xl-flex d-lg-flex d-block align-items-center">
                <div class="part-text">
                    <h2 class="title">{{ 'ifQuery' | translate }}</h2>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="btn-cta">
                    <a routerLink="/front/contact" class="btn-pok">{{ 'contactUs.title' | translate }} <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>