
<!-- footer begin -->
<div class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <!-- <p class="copyright-text">©{{ 'footer.copyright' | translate }}</p> -->
                <ul class="social-link">
                    <li class="single-social">
                        <a>
                            <i class="fa-brands fa-facebook-f" style="padding: 10px"></i>
                        </a>
                    </li>
                    <li class="single-social">
                        <a>
                            <i class="fa-brands fa-twitter" style="padding: 10px"></i>
                        </a>
                    </li>
                    <li class="single-social">
                        <a>
                            <i class="fa-brands fa-google" style="padding: 10px"></i>
                        </a>
                    </li>
                </ul>
                <div class="footer-menu">
                    <p class="copyright-text">©{{ 'footer.copyright' | translate }}</p>                    
                </div>
            </div>
        </div>
    </div>
</div>
