
<!-- footer begin -->
<div class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <!-- <p class="copyright-text">©{{ 'footer.copyright' | translate }}</p> -->
                <ul class="social-link">
                    <li style="color: #fff; margin: 10px; font-size: large; border: solid 1px #fff; padding: 15px;">
                        <a href="https://fb.me" target="_blank" style="color: #fff;"><b>
                            f</b>
                        </a>
                    </li>
                    <li style="color: #fff; margin: 10px; font-size: large; border: solid 1px #fff; padding: 15px;">
                        <a href="https://google.me" target="_blank" style="color: #fff;"><b>
                            G</b>
                        </a>
                    </li>
                </ul>
                <div class="footer-menu">
                    <p class="copyright-text">©{{ 'footer.copyright' | translate }}</p>                    
                </div>
            </div>
        </div>
    </div>
</div>
