<!-- footer begin -->
<div class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <!-- <p class="copyright-text">©{{ 'footer.copyright' | translate }}</p> -->
                <ul class="social-link">
                    <a href="https://fb.me" target="_blank" style="color: #fff;">
                        <li
                            style="color: #fff; margin: 0 10px; font-size: large; border: solid 1px #fff; padding: 15px;">
                            <b>
                                f</b>
                        </li>
                    </a>
                    <a href="https://google.me" target="_blank" style="color: #fff;">
                        <li
                            style="color: #fff; margin: 0 10px; font-size: large; border: solid 1px #fff; padding: 15px;">
                            <b>
                                G</b>
                        </li>
                    </a>
                </ul>
                <div class="footer-menu">
                    <p class="copyright-text">© copyright {{ 'footer.copyright' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>