
<div class="card">
    <div class="card-header">
        <h5 class="card-title">{{ 'changePwd' | translate }}</h5>
    </div>
    <div class="card-body">
    
        <!-- Form -->
        <form>
            <div style="margin-bottom: 20px;">
                {{ 'weWillSendRessetRequest' | translate }}
            </div>
            <!-- <div class="row form-group">
                <label for="current_password" class="col-sm-3 col-form-label input-label">Current Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="current_password" placeholder="Enter current password">
                </div>
            </div>
            <div class="row form-group">
                <label for="new_password" class="col-sm-3 col-form-label input-label">New Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="new_password" placeholder="Enter new password">
                    <div class="progress progress-md mt-2">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 2%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label for="password_confirm" class="col-sm-3 col-form-label input-label">Confirm new password</label>
                <div class="col-sm-9">
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password_confirm" placeholder="Confirm your new password">
                    </div>

                    <h5>Password requirements:</h5>
                    <p class="mb-2">Ensure that these requirements are met:</p>
                    <ul class="list-unstyled small">
                        <li>Minimum 8 characters long - the more, the better</li>
                        <li>At least one lowercase character</li>
                        <li>At least one uppercase character</li>
                        <li>At least one number, symbol</li>
                    </ul>
                </div>
            </div> -->
            <div class="text-end" *ngIf="!waitingResponse">
                <span *ngIf="submitted">{{ 'emailSendedTo' | translate }} <b>{{userEmail}}</b>. {{ 'ifNotRecMail' | translate }}.</span>
                <button type="button" class="btn btn-primary" (click)="resetPwd()" style="margin-left: 5px;">{{ 'reset' | translate }}</button>
            </div>
            <div class="text-end" *ngIf="waitingResponse">
                <!-- <a (click)="logout()"> -->
                      <img src="../../../../../assets/img/loader.gif" alt="" width="30px">
                      <span class="ms-1">{{'reset' | translate }}</span>
                <!-- </a> -->
                </div>
        </form>
        <!-- /Form -->
        
    </div>
</div>
            