<section id="competitions">
  <ng-container>
    <div class="competition-container" *ngFor="let competition of competitions; let i = index">
      <div *ngIf="!competition.parentCompetition" class="tree">
      </div>
      <div class="competition-collapse"
        [ngClass]="{
          'collapsed': isCollapsed[i],
          'parent': competition.children?.length,
          'last-child': !competition.children?.length,
          'is-child': competition.parent_Id
        }"
        (click)="toggleCollapse(i)">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <i class="fas" [ngClass]="isCollapsed[i] ? 'fa-caret-right' : 'fa-caret-down'"></i>
            {{ competition.name }}
          </div>
          <div class="col-auto">
            <a [routerLink]="'/customers/add-customer'" class="btn btn-primary me-2"
              style="color: #035858 !important; background-color: #ffff !important;">
              <i class="fas fa-plus"></i>
            </a>
            <a class="btn btn-primary me-2" [routerLink]="'/undercompetition/competition/create'"
              style="color: #035858 !important; background-color: #ffff !important;" data-toggle="tooltip"
              data-placement="top" title="Create new competition">
              <i class="fa fa-pencil"></i>
            </a>
            <a class="btn btn-primary me-2" [routerLink]="'/undercompetition/competition/create'"
              style="color: #035858 !important; background-color: #ffff !important;" data-toggle="tooltip"
              data-placement="top" title="Create new competition">
              <i class="fas fa-trash"></i>
            </a>
            <a class="btn {{ competition.gameState === gameState.RUNNING ? 'badge badge-pill bg-success-light competition-running' : 'badge badge-pill bg-primary-light' }} me-2"
              [routerLink]="'/undercompetition/competition/create'"
              style="color: #035858 !important; background-color: #ffff !important;" data-toggle="tooltip"
              data-placement="top" title="Create new competition">
              <i *ngIf="competition.gameState === gameState.RUNNING" class="fa fa-pause" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div *ngIf="!isCollapsed[i]" class="competition-data">
          {{ competition.description }}
        </div>
      </div>
      <div class="arcade-children" *ngIf="!isCollapsed[i]">
        <app-arcade-sub-competition [competitions]="competition.children"></app-arcade-sub-competition>
      </div>
    </div>
  </ng-container>
</section>