.bg-icon {
    background-color: rgb(209, 209, 209);
}

.custom-card {
    cursor: pointer;
	border: 1px solid #c2c2c2 ;
}
.custom-card .card-header {
	background-color: transparent;
	display: flex;
	justify-content: end;
	margin: 0px;
	padding: 0px;
	border: none;
}
.custom-card.active {
	border: 1px solid #26af48 ;
	background-color: #eafff3;
}
.custom-card.active .bg-icon {
    background-color: #26af48;
}
.custom-card.invalid {
	border: 1px solid #dc3545 ;
}