
<div class="page-wrapper">
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="'/index'">Accueil </a></li>
              <li class="breadcrumb-item active"><a [routerLink]="'/index'">Arcarde</a></li>
              <li class="breadcrumb-item"></li>
            </ul>
          </div>
      
<div class="row">
    <div class="card card-table">
        <div class="card-header text-center">
            <h5> Creation nouvelle competition</h5>
        </div>
      <div class="card-body">
                <form [formGroup]="arcadeServ.formControlCreateArcarde">
                    <div class="row">

                     <div class="col">
                        <div class="form-group">
                            <label for="name"> Nom </label>
                            <input type="text" name="name" class="form-control" formControlName="name" id="name"
                            [ngClass]="{ 'is-invalid':  arcadeServ.f_Creation['name'].touched &&arcadeServ.f_Creation['name'].invalid}"
                            >
                        </div>

                        <div class="form-group">
                            <label for="desc"> Description </label>
                            <input type="text" name="desc" class="form-control" formControlName="description" id="desc"
                            [ngClass]="{ 'is-invalid': arcadeServ.f_Creation['description'].touched && arcadeServ.f_Creation['description'].invalid}"
                            >
                        </div>

                        <div class="form-check form-switch text-center">
                            <input class="form-check-input" type="checkbox" formControlName="isOnlineGame" role="switch" id="flexSwitchCheckChecked">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Partie En ligne </label>
                        </div>
                        <div class="form-check form-switch text-center">
                            <input class="form-check-input" type="checkbox" formControlName="canRegisterPlayer" role="switch" id="flexSwitchCheckChecked">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Enregister des joueurs </label>
                        </div>

                        <div class="form-check form-switch text-center">
                            <input class="form-check-input" type="checkbox" formControlName="isFreeRegistrationPlayer" role="switch" id="flexSwitchCheckChecked">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Enregistrement  de joueurs gratuit</label>
                        </div>

                        <div class="form-group">
                            <label for="maxPlayersNumber">Nombre max de joueurs </label>
                            <input type="number" name="maxPlayersNumber" class="form-control" formControlName="maxPlayersNumber" id="maxPlayersNumber"
                            [ngClass]="{ 'is-invalid': arcadeServ.f_Creation['maxPlayersNumber'].touched && arcadeServ.f_Creation['maxPlayersNumber'].invalid}"
                            >
                        </div>
                      </div>


                        <div class="col">
                            <div class="form-group">
                                <label for="startDate">Date de Debut </label>
                                <input type="datetime-local" name="startDate" class="form-control" formControlName="startDate" id="startDate"
                                [ngClass]="{ 'is-invalid': arcadeServ.f_Creation['startDate'].touched && arcadeServ.f_Creation['startDate'].invalid}"
                                >
                            </div>
        
                            <div class="form-group">
                                <label for="endDate"> Date de Fin </label>
                                <input type="datetime-local" name="endDate" class="form-control" formControlName="endDate" id="endDate"
                                [ngClass]="{ 'is-invalid': arcadeServ.f_Creation['endDate'].touched && arcadeServ.f_Creation['endDate'].invalid}"
                                >
                            </div>
        
                            <div class="form-group">
                              <label for="startRegistrationDate">Date Debut d'enregistrement </label>
                              <input type="datetime-local" name="startRegistrationDate" class="form-control" formControlName="startRegistrationDate" id="startRegistrationDate"
                              [ngClass]="{ 'is-invalid': arcadeServ.f_Creation['startRegistrationDate'].touched && arcadeServ.f_Creation['startRegistrationDate'].invalid}"
                              >
                          </div>
        
                          <div class="form-group">
                              <label for="endRegistrationDate"> Date fin d'enregistrement</label>
                              <input type="datetime-local" name="endRegistrationDate" class="form-control" formControlName="endRegistrationDate" id="endRegistrationDate"
                              [ngClass]="{ 'is-invalid': arcadeServ.f_Creation['endRegistrationDate'].touched && arcadeServ.f_Creation['endRegistrationDate'].invalid}"
                              >
                          </div>
        
                       
                          <button type="button" class="btn btn-primary " style="float: right;" [disabled]="arcadeServ.formControlCreateArcarde.invalid" *ngIf="!arcadeServ.isCreationDone" (click)="createArcarde()" >
                            <span *ngIf="!arcadeServ.waitingResponse"> Creer <i class="fa fa-plus" aria-hidden="true"></i> </span>
                            <span *ngIf="arcadeServ.waitingResponse"><img src="../../../../../assets/img/loader.gif"  alt="" width="30px"></span>
                          </button>
                        </div>
                     </div>  
                        
                    </form>
              </div>
            </div>
          </div>
        </div>
      </div>