<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <h3 class="page-title">{{'arcade.new' | translate }} {{'arcade.arcade' | translate }}</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item" style="cursor: pointer;"><a
                [routerLink]="'/index'">{{ 'dashboard' | translate }}</a></li>
            <li class="breadcrumb-item" style="cursor: pointer;"><a
                [routerLink]="'/arcarde/list-arcarde'">{{ 'arcade.arcade' | translate }}</a></li>
            <li class="breadcrumb-item active">{{ 'competition.new' | translate }}</li>
          </ul>
        </div>

        <form [formGroup]="arcadeServ.formControlCreateArcarde">
          <div class="row g-4 pt-3">
            <div class="card">
              <div class="card-body">
                <div class="row px-0">
                  <div class="col-12 col-md-4" (click)="arcadeServ.toggleCheckbox('isOnlineGame')">
                    <div class="custom-card p-3" [ngClass]="{ 
                            'active': arcadeServ.formControlCreateArcarde.get('isOnlineGame')?.value,
                            'invalid': arcadeServ.f_Creation['isOnlineGame'].touched && arcadeServ.f_Creation['isOnlineGame'].invalid
                          }">
                      <div class="card-header">
                        {{ 
                            (arcadeServ.formControlCreateArcarde.get('isOnlineGame')?.value ?
                            'arcade.online' : 'arcade.offline') | translate
                          }}
                      </div>
                      <div class="card-body text-center pb-0">
                        <h5 class="card-title">
                          <p class="badge badge-pill bg-icon rounded-pill p-3">
                            <i class="fa fa-gamepad"></i>
                          </p>
                        </h5>
                        <h5 class="card-text pt-3">
                          {{ 'arcade.competitionType' | translate }}
                        </h5>
                        <span class="text-muted">
                          {{ 'arcade.callToAction' | translate }}
                        </span>
                      </div>
                    </div>
                    <input class="d-none" type="checkbox" formControlName="isOnlineGame">
                  </div>
                  <div class="col-12 col-md-4" (click)="arcadeServ.toggleCheckbox('canRegisterPlayer')">
                    <div class="custom-card p-3" [ngClass]="{ 
                          'active': arcadeServ.formControlCreateArcarde.get('canRegisterPlayer')?.value,
                          'invalid': arcadeServ.f_Creation['canRegisterPlayer'].touched && arcadeServ.f_Creation['canRegisterPlayer'].invalid
                        }">
                      <div class="card-header">
                        {{ 
                            (arcadeServ.formControlCreateArcarde.get('canRegisterPlayer')?.value ?
                            'arcade.visible' : 'arcade.hidden') | translate
                          }}
                      </div>
                      <div class="card-body text-center pb-0">
                        <h5 class="card-title">
                          <p class="badge badge-pill bg-icon rounded-pill p-3">
                            <i class="fa-solid {{(arcadeServ.formControlCreateArcarde.get('canRegisterPlayer')?.value ? 'fa-eye' : 'fa-eye-slash')}}"></i>
                          </p>
                        </h5>
                        <h5 class="card-text pt-3">
                          {{ 'arcade.visibility' | translate }}
                        </h5>
                        <span class="text-muted">
                          {{ 'arcade.callToAction' | translate }}
                        </span>
                      </div>
                    </div>
                    <input class="d-none" type="checkbox" formControlName="canRegisterPlayer">
                  </div>
                  <div class="col-12 col-md-4" (click)="arcadeServ.toggleCheckbox('isFreeRegistrationPlayer')">
                    <div class="custom-card p-3" [ngClass]="{ 
                          'active': arcadeServ.formControlCreateArcarde.get('isFreeRegistrationPlayer')?.value,
                          'invalid': arcadeServ.f_Creation['isFreeRegistrationPlayer'].touched && arcadeServ.f_Creation['isFreeRegistrationPlayer'].invalid
                        }">
                      <div class="card-header">
                        {{ 
                            (arcadeServ.formControlCreateArcarde.get('isFreeRegistrationPlayer')?.value ?
                            'arcade.free' : 'arcade.paid') | translate
                          }}
                      </div>
                      <div class="card-body text-center pb-0">
                        <h5 class="card-title">
                          <p class="badge badge-pill bg-icon rounded-pill p-3">
                            <i class="fa-solid fa-comments-dollar"></i>
                          </p>
                        </h5>
                        <h5 class="card-text pt-3">
                          {{ 'arcade.registrationType' | translate }}
                        </h5>
                        <span class="text-muted">
                          {{ 'arcade.callToAction' | translate }}
                        </span>
                      </div>
                    </div>
                    <input class="d-none" type="checkbox" formControlName="isFreeRegistrationPlayer">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name"> {{ 'name' | translate }} </label>
                    <input type="text" name="name" class="form-control" formControlName="name" id="name"
                      [ngClass]="{ 'is-invalid':  arcadeServ.f_Creation['name'].touched &&arcadeServ.f_Creation['name'].invalid}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="maxPlayersNumber"> {{'maxPlayers' | translate }} </label>
                    <input type="number" min="2" name="maxPlayersNumber" class="form-control"
                      formControlName="maxPlayersNumber" id="maxPlayersNumber"
                      [ngClass]="{ 'is-invalid': arcadeServ.f_Creation['maxPlayersNumber'].touched && arcadeServ.f_Creation['maxPlayersNumber'].invalid}">
                  </div>
                  <div class="form-group col-12">
                    <label for="desc"> {{ 'description' | translate }} </label>
                    <textarea type="text" name="desc" class="form-control" formControlName="description" id="desc"
                      [ngClass]="{ 'is-invalid': arcadeServ.f_Creation['description'].touched && arcadeServ.f_Creation['description'].invalid}"></textarea>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="startRegistrationDate"> {{'recordingStart' | translate }} </label>
                    <ng-bmis-date-time-picker>
                      <input type="text" name="startRegistrationDate" class="form-control"
                        formControlName="startRegistrationDate"
                        [ngClass]="{ 'is-invalid': arcadeServ.f_Creation['startRegistrationDate'].touched && arcadeServ.f_Creation['startRegistrationDate'].invalid}">
                    </ng-bmis-date-time-picker>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="endRegistrationDate"> {{'registrationEnd' | translate }} </label>
                    <ng-bmis-date-time-picker>
                      <input type="text" name="endRegistrationDate" class="form-control"
                        formControlName="endRegistrationDate"
                        [ngClass]="{ 'is-invalid': arcadeServ.f_Creation['endRegistrationDate'].touched && arcadeServ.f_Creation['endRegistrationDate'].invalid}">
                    </ng-bmis-date-time-picker>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="startDate"> {{'startDate' | translate }} </label>
                    <ng-bmis-date-time-picker>
                      <input type="text" name="startDate" class="form-control" formControlName="startDate"
                        [ngClass]="{ 'is-invalid': arcadeServ.f_Creation['startDate'].touched && arcadeServ.f_Creation['startDate'].invalid}">
                    </ng-bmis-date-time-picker>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="endDate"> {{'endDate' | translate }} </label>
                    <ng-bmis-date-time-picker>
                      <input type="text" name="endDate" class="form-control" formControlName="endDate"
                        [ngClass]="{ 'is-invalid': arcadeServ.f_Creation['endDate'].touched && arcadeServ.f_Creation['endDate'].invalid}">
                    </ng-bmis-date-time-picker>
                  </div>
                  <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary"
                      [disabled]="arcadeServ.formControlCreateArcarde.invalid" *ngIf="!arcadeServ.isCreationDone"
                      (click)="createArcarde()">
                      <span *ngIf="!arcadeServ.waitingResponse"> {{ 'create' | translate }} <i class="fa fa-plus"
                          aria-hidden="true"></i> </span>
                      <span *ngIf="arcadeServ.waitingResponse"><img src="../../../../../assets/img/loader.gif" alt=""
                          width="30px"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
